Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

path fix (#1566)
  .buildkite/longruns_gpu/pipeline.yml
Due: none

not workin [skip ci]
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use box domain
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/observation_utils.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/shared_utilities/drivers.jl
  src/simulations/initial_conditions.jl
  test/diagnostics/diagnostics_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

debugging
  src/diagnostics/default_diagnostics.jl
Due: none

Update src/diagnostics/default_diagnostics.jl [skip ci]
  src/diagnostics/default_diagnostics.jl
Due: none

revert change [skip ci]
  src/diagnostics/default_diagnostics.jl
Due: none

fix calibration and change global box domain args
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/models/bucket.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_utils.jl
  experiments/calibration/run_calibration.jl
  experiments/long_runs/bucket.jl
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

renaming wip
  experiments/standalone/Biogeochemistry/experiment.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

explicit and implicit fluxes [ skip ci]
  docs/src/tutorials/standalone/Usage/model_tutorial.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/pond_soil_model.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/integrated/lsms.jl
  test/integrated/soil_canopy_lsm.jl
  test/standalone/Soil/soil_bc.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Bug fig on GPU in testes
  test/diagnostics/diagnostics_tests.jl
Due: none

wip [skip ci]
  experiments/standalone/Vegetation/timestep_test.jl
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Regular grid global simulations (#1530)
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/models/bucket.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_utils.jl
  experiments/calibration/run_calibration.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/drivers.jl
  src/simulations/initial_conditions.jl
  test/diagnostics/diagnostics_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

skin temp for canopy
  .buildkite/Manifest-v1.11.toml
  Project.toml
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/timestep_test/output_active
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/simulations/Simulations.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

start from saturated conditions and shallower domain
  NEWS.md
  src/shared_utilities/Domains.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix dupe
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/timestep_test/output_active
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove PrescribedTranspiration
  NEWS.md
  docs/src/APIs/canopy/PlantHydraulics.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove PrescribedTranspiration (#1561)
  NEWS.md
  docs/src/APIs/canopy/PlantHydraulics.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Release 1.1.1
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

wip [skip ci]
  .buildkite/Project.toml
  Project.toml
Due: none

Make O2 and SOC prognostic (#1545)
  NEWS.md
  docs/src/APIs/Drivers.md
  docs/src/APIs/soil/SoilBiogeochemistry.md
  docs/src/refs.bib
  docs/src/standalone/apps/hetero_resp.jl
  docs/src/standalone/pages/soil/biogeochemistry/DAMM_model.md
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Biogeochemistry/experiment.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/shared_utilities/drivers.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  test/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add gpu support to NeuralSnow
  Project.toml
  ext/neural_snow/ModelTools.jl
  ext/neural_snow/NeuralSnow.jl
Due: none

New release: 1.2.0
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

Make directory to save ILAMB files first
  experiments/ilamb/ilamb_conversion.jl
Due: none

Update rsync path for dashboard
  .buildkite/longruns_gpu/pipeline.yml
Due: none

revert harmonic mean fix
  NEWS.md
  src/standalone/Vegetation/PlantHydraulics.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update .buildkite/longruns_gpu/pipeline.yml
  .buildkite/longruns_gpu/pipeline.yml
Due: none

potential GPP = LUE * PAR
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix tests to reflect use of harmonic mean in src
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: none

use gryanik surface flux parameters
  NEWS.md
  src/shared_utilities/Parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

implicit cache [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

try again [skip ci]
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

revert harmonic mean fix, release 1.2.1
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  src/standalone/Vegetation/PlantHydraulics.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

revert harmonic mean fix, release 1.2.1 (#1575)
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  src/standalone/Vegetation/PlantHydraulics.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use gryanik surface flux parameters (#1578)
  NEWS.md
  src/shared_utilities/Parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

prep to calibrate model with new IC [skip ci]
  Artifacts.toml
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/run_calibration.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/Artifacts.jl
  src/shared_utilities/Domains.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
