Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Expose TimeVaryingInput time interpolation method for prescribed surface albedo and modis_lai_ncdata_path in prescribed MODIS LAI function.
  src/standalone/Bucket/Bucket.jl
  src/standalone/Vegetation/biomass.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

CWD/SMAP
  experiments/calibration/calculate_CWD.jl
  experiments/calibration/generate_cwd_field.jl
  experiments/calibration/model_interface.jl
Due: none

different top BC for O2
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

adding some figures
  experiments/integrated/fluxnet/ozark_pmodel.jl
Due: none

removed deprecated variable names
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
Due: none

ran formatter
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
Due: none

partiall address review comments [skip ci]
  docs/list_standalone_models.jl
  docs/src/APIs/canopy/Canopy.md
  docs/src/standalone/pages/vegetation/canopy_turbulent_fluxes/canopy_turbulent_fluxes.md
  src/shared_utilities/drivers.jl
  src/shared_utilities/models.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_surface_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

review comments
  docs/src/standalone/pages/vegetation/turbulent_fluxes/turbulent_fluxes.md
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/integrated/fluxnet_sim.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

diagnostics debugging
  experiments/ilamb/ilamb_conversion.jl
  experiments/long_runs/soil.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

revert depth change
  experiments/long_runs/soil.jl
Due: none

allow use prescribed temp with coupled atmos; update IC
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

name change surface to turbulent
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Limit the number of model directories to 5
  experiments/ilamb/ilamb_setup.jl
  experiments/ilamb/tests/test_ilamb_setup.jl
Due: none

Replace misc with ilamb
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

allow use prescribed temp with coupled atmos; update IC (#1546)
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs
  docs/src/APIs/AbstractModels.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  src/diagnostics/land_compute_methods.jl
Due: none

fix bugs
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

add files
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/soil.jl
  src/standalone/Soil/Soil.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Try beer lambert
  .buildkite/longruns_gpu/pipeline.yml
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

modified: Project.toml modified: src/shared_utilities/drivers.jl
  Project.toml
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

restore pipeline
  .buildkite/longruns_gpu/pipeline.yml
Due: none

prevent issues
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

Release 1.0.2
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

add diagnostics
  experiments/ilamb/ilamb_conversion.jl
  experiments/long_runs/soil.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

add diagnostics (#1552)
  experiments/ilamb/ilamb_conversion.jl
  experiments/long_runs/soil.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

add diagnostics
  experiments/long_runs/soil.jl
  src/standalone/Soil/Soil.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

update ic
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bug fix and formatting
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

bug fix
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

backwards compat, simplify methods, update version number
  NEWS.md
  Project.toml
  docs/src/tutorials/shared_utilities/driver_tutorial.jl
  docs/src/tutorials/standalone/Bucket/coupled_bucket.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

clarify news [skip ci]
  NEWS.md
Due: none

fix bug [skip ci]
  experiments/long_runs/soil.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix bug where runoff was not being set in diagnostics
  src/diagnostics/land_compute_methods.jl
Due: none
