Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

check in test manifest for testing
  test/Manifest.toml
Due: none

added shell script
  experiments/long_runs/global_thesis_run.sh
  experiments/long_runs/global_thesis_runs.jl
Due: none

include gpus command on shell
  experiments/long_runs/global_thesis_run.sh
Due: none

change shell path
  experiments/long_runs/global_thesis_run.sh
Due: none

conservation checker
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/conservation_simulation.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

explicit and implicit radiation fluxes labeled
  docs/src/APIs/Drivers.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

conservation checker [skip ci]
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/conservation_simulation.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

conserves water if lai is constant [skip ci]
  .buildkite/Manifest-v1.12.toml
  experiments/integrated/performance/conservation.jl
Due: none

fix pmodel gpp for c4
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
Due: none

addressing Tapio's comments
  docs/src/APIs/InlandWater.md
  docs/src/standalone/pages/inland_waters/slab_lake.md
  test/integrated/inland_water_column_test.jl
  test/integrated/inland_water_slab.jl
Due: none

add column debug mode
  experiments/long_runs/global_thesis_runs.jl
Due: none

pull writer into local memory
  experiments/long_runs/global_thesis_runs.jl
Due: none

make sim longer
  experiments/long_runs/global_thesis_runs.jl
Due: none

make canopy prognostic var per ground area [skip ci]
  experiments/integrated/performance/conservation.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/PlantHydraulics.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "make canopy prognostic var per ground area [skip ci]"
  experiments/integrated/performance/conservation.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/PlantHydraulics.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

dry soil resistance
  NEWS.md
  docs/src/tutorials/standalone/Soil/evaporation.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  src/standalone/Soil/energy_hydrology.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update energy_hydrology.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Use c3_proportion for clm_photosynthesis_parameters
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/spatial_parameters.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip cleanup
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add fractional c3 support for PModel
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update at every dt
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add debug mode, change eps(FT) to sqrt(eps(FT))
  experiments/long_runs/global_thesis_runs.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

change logger line
  experiments/long_runs/global_thesis_runs.jl
Due: none

try global debug again
  experiments/long_runs/global_thesis_runs.jl
  ext/constrained_nn/NeuralSnow.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

small tweak
  experiments/long_runs/global_thesis_runs.jl
Due: none

change bash shell for debug
  experiments/long_runs/global_thesis_run.sh
Due: none

syntax error
  ext/constrained_nn/NeuralSnow.jl
Due: none

Add CFTime dep and compat to avoid bug in ClimaUtilities
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

julia 1.10.11
  .buildkite/Manifest.toml
  docs/Manifest.toml
Due: none

<=0.2.6 is <0.2.7
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

restrict CTS
  Project.toml
Due: none

restrict further CTS
  Project.toml
Due: none

Add CFTime dep and compat to avoid bug in ClimaUtilities (#1682)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Update README with manuscript link
  README.md
Due: none

change calibrated params to preserve existing behavior
  toml/default_parameters.toml
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
