Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

tag v1.6.0; up deps
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

dev ClimaLand in 1.12 Manifests (#1656)
  .buildkite/Manifest-v1.12.toml
  docs/Manifest-v1.12.toml
Due: none

calibration on hpc with climacalibrate
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

site specific params
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

addressing Kat review comments
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

small fix
  experiments/calibrate_dk_sor/model_interface.jl
Due: none

correct soil profile for SOC
  .buildkite/Manifest-v1.11.toml
  Artifacts.toml
  experiments/integrated/fluxnet/NEON_site_pmodel.jl
  src/Artifacts.jl
  src/diagnostics/define_diagnostics.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

clamp ci <=ca (#1655)
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

uncalibrated toml
  experiments/long_runs/snowy_land_pmodel.jl
  toml/uncalibrated_parameters.toml
Due: none

wip
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix porosity bug
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Bump ci 2
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

bump ci
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

wip
  src/shared_utilities/Domains.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  test/integrated/full_land.jl
  test/standalone/Soil/inland_water_column_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Bump ci
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

wip
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  test/standalone/Soil/inland_water_column_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

change CairoMakie compat and update other packages
  .buildkite/Manifest-v1.12.toml
  Project.toml
  docs/Manifest-v1.12.toml
Due: none

Update snowy_land_pmodel.jl [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Change threshold value from 50.0 to 80.0
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use hi res soil data to get site parameters
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

dry soil resistance [skip ci]
  docs/src/tutorials/standalone/Soil/evaporation.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

days valid all years for same dim
  experiments/calibrate_dk_sor/generate_observations.jl
Due: none

pad missing day as 0, large variance
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
Due: none

run without pmodel
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

refactor no minibatching
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

small fix
  Artifacts.toml
Due: none

wip [skip ci]
  docs/src/tutorials/standalone/Soil/evaporation.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

calibrate with SOC profil
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_site_pmodel.jl
  experiments/integrated/fluxnet/calibrate_sco2_NEON_pmodel_SOCprofil.jl
  src/Artifacts.jl
Due: none

fix return
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix autotrophic respiration
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_eki_diagnostics.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Remove `make_dynamic_model` from ConstrainedNeuralModelsExt
  ext/constrained_nn/ConstrainedNeuralModels.jl
  test/standalone/Snow/tool_tests.jl
Due: none

try higher power
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

initial changes, added tests
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/NeuralSnow.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/conservation.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
  test/standalone/Snow/tool_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
