Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

add data scrape script/shell
  experiments/long_runs/acthesis/get_data.py
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/scrape_data.sh
Due: none

error fix
  experiments/long_runs/acthesis/get_data.py
Due: none

Integrated inland water
  NEWS.md
  docs/src/APIs/Snow.md
  docs/src/APIs/canopy/Biomass.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/constrained_nn/NeuralSnow.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/standalone/InlandWater/unit_tests.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix test
  test/integrated/full_land.jl
Due: none

Update and refactor benchmarks
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
  .buildkite/target/pipeline.yml
  Project.toml
  docs/Manifest-v1.12.toml
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

revert to constant canopy height
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

fix test
  test/standalone/Vegetation/canopy_model.jl
Due: none

fix test
  src/diagnostics/land_compute_methods.jl
  test/integrated/full_land.jl
Due: none

revert to constant canopy height (#1706)
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  test/standalone/Vegetation/canopy_model.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

reduce broadcasts in biomass [skip ci]
  src/standalone/Vegetation/biomass.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix docs build and GPU BoundsError in inland water test
  docs/src/APIs/Snow.md
  docs/src/APIs/canopy/Biomass.md
  src/integrated/lake_land_interactions.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix docs build and GPU BoundsError in inland water test (#1708)
  docs/src/APIs/Snow.md
  docs/src/APIs/canopy/Biomass.md
  src/integrated/lake_land_interactions.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

inland waters slab (#1672)
  NEWS.md
  docs/src/APIs/Snow.md
  docs/src/APIs/canopy/Biomass.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/constrained_nn/NeuralSnow.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/standalone/InlandWater/unit_tests.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add to plotting code
  experiments/long_runs/acthesis/get_data.py
  experiments/long_runs/acthesis/output_plots.jl
Due: none

formatting, docstrings, bugs in experiments
  docs/src/APIs/canopy/PlantHydraulics.md
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fixing bugs
  docs/src/standalone/pages/vegetation/plant_hydraulics/prognostic.md
Due: none

(1.7.0) don't compute fluxes in coupled case
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

debugging of plotting code
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  experiments/long_runs/acthesis/output_plots.jl
Due: none

fix buildkite and docs
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/integrated/performance/integrated_timestep_test.jl
Due: none

more plotting tools
  experiments/long_runs/acthesis/get_data.py
  experiments/long_runs/acthesis/output_plots.jl
Due: none

review fixes for plant hydraulics refactor
  NEWS.md
  docs/src/standalone/pages/vegetation/plant_hydraulics/prognostic.md
  src/standalone/Vegetation/plant_hydraulics.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update prognostic.md [skip ci]
  docs/src/standalone/pages/vegetation/plant_hydraulics/prognostic.md
Due: none

Update snowmip artifact path in pipeline
  .buildkite/pipeline.yml
Due: none

Fix Snow docs latex syntax
  docs/src/standalone/pages/snow/snow_model.md
Due: none

Update plant_hydraulics.jl [skip ci]
  src/standalone/Vegetation/plant_hydraulics.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix snow model docs rendering, update snowmip artifact path
  .buildkite/pipeline.yml
  docs/src/standalone/pages/snow/snow_model.md
Due: none

wip [skip ci]
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add news
  NEWS.md
Due: none

try with spatialy varying SAI, RAI [ skip ci]
  Artifacts.toml
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Calibrate NEON soil co2
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-cper.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/diagnostics/diagnostics_tests.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use site meteorology
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

wip
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

change prior
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

local changes
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

wip [skip ci]
  experiments/integrated/fluxnet/calibrate_dk_sor.jl
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

biomass height, clamp bug, precip factor, precip split
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
