Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

make utilities optional, try table again
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/model_utilities.jl
  test/standalone/Snow/tool_tests.jl
Due: none

new tutorial table attempt
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  ext/constrained_nn/ConstrainedNeuralModels.jl
Due: none

Fix tsl: CF-compliant depth_bnds, ascending depth, correct dim order; remove legacy swc slicing
  experiments/ilamb/ilamb_conversion.jl
Due: none

initial teja comments + fix tutorial
  Project.toml
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/model_utilities.jl
  test/standalone/Snow/tool_tests.jl
Due: none

juliaformatter
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/model_utilities.jl
Due: none

small changes
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  ext/constrained_nn/model_utilities.jl
Due: none

small fixes to tutorial
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  ext/constrained_nn/model_utilities.jl
Due: none

forgot small change
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
Due: none

replace julia 1.11 Manifests with 1.12; run ci on 1.12
  .buildkite/Manifest-v1.12.toml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/downgrade.yml
  .github/workflows/downstream.yml
  NEWS.md
  README.md
  docs/Manifest-v1.12.toml
Due: none

use newer Flux for 1.12 compatibility; fix type piracy
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Project.toml
  docs/src/APIs/SolverFunctions.md
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/integrated/fluxnet/calibrate_dk_sor.jl
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

try to fix downgrade test
  .github/workflows/downgrade.yml
Due: none

try to fix downgrade again
  .github/workflows/downgrade.yml
Due: none

change fluxnet default IC
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

Workaround for GeoMakie bug
  .buildkite/Project.toml
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

fix typo
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

broadcast
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

change fluxnet default IC (#1648)
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

Fix ILAMB variable mappings for runoff and permafrost (#1647)
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

wip [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

local changes
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

Fix hr diagnostic units to match ILAMB conversion expectations
  src/diagnostics/define_diagnostics.jl
Due: none

Fix hr diagnostic units to match ILAMB conversion expectations (#1654)
  src/diagnostics/define_diagnostics.jl
Due: none

replace julia 1.11 Manifests with 1.12; run ci on 1.12
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/downgrade.yml
  .github/workflows/downstream.yml
  NEWS.md
  Project.toml
  README.md
  docs/Manifest-v1.12.toml
  docs/Project.toml
  docs/src/APIs/SolverFunctions.md
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

set fixed soil porosity
  experiments/integrated/fluxnet/NEON_site_pmodel.jl
Due: none

finalized calibration with experiment plotting
  .buildkite/Manifest-v1.11.toml
  .julia-24790-17702485976.out
  Manifest.toml.julia1.12.backup
  Project.toml
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/SMAP_QUALITY_GUIDE.md
  experiments/calibration/calculate_traits_from_parameters.jl
  experiments/calibration/compare_try_distributions.py
  experiments/calibration/compare_try_kx.py
  experiments/calibration/demo_smap_quality_weighting.jl
  experiments/calibration/generate_smap_observations_from_regridded.jl
  experiments/calibration/process_try_data.py
  experiments/calibration/regrid_smap_to_model_grid.jl
  experiments/calibration/run_uspac_calibration.jl
  experiments/calibration/smap_utils.jl
  experiments/calibration/template_long_run_with_calibration.jl
  experiments/calibration/test_quality_weighting.jl
  experiments/long_runs/CALIBRATED_LONGRUN_README.md
  experiments/long_runs/PBS_calibrated_uspac_longrun.pbs
  experiments/long_runs/PRODUCTION_LONGRUN_SUMMARY.md
  experiments/long_runs/QUICKSTART.md
  experiments/long_runs/calibrated_uspac_longrun.jl
  sync_to_derecho.sh
  toml/default_parameters.toml
  worker_10.log
  worker_11.log
  worker_12.log
  worker_13.log
  worker_14.log
  worker_2.log
  worker_3.log
  worker_4.log
  worker_5.log
  worker_6.log
  worker_7.log
  worker_8.log
  worker_9.log
Due: none

biomass height, clamp bug, precip factor, precip split
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix fluxes [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

fix parameter [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

fix Beers law
  docs/src/standalone/pages/vegetation/radiative_transfer/beer_model.md
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

clamp ci <=ca
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix Beers law (#1652)
  docs/src/standalone/pages/vegetation/radiative_transfer/beer_model.md
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

dev ClimaLand in 1.12 Manifests
  .buildkite/Manifest-v1.12.toml
  docs/Manifest-v1.12.toml
Due: none

don't initialize cache for coupled sims; add wxquest ICs
  docs/src/APIs/Simulations.md
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
