Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Update uncalibrated_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Update gpp_er_nee_lhf.jl
  experiments/calibration/configs/gpp_er_nee_lhf.jl
Due: none

Update gpp.jl
  experiments/calibration/configs/gpp.jl
Due: none

Update gpp_lhf.jl
  experiments/calibration/configs/gpp_lhf.jl
Due: none

Update pmodel.md
  docs/src/standalone/pages/vegetation/photosynthesis/pmodel.md
Due: none

Build leaderboard/calibration MODIS LAI obs as a monthly mean
  NEWS.md
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

Build leaderboard/calibration MODIS LAI obs as a monthly mean (#1806)
  NEWS.md
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

added Forward run with median observations
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun_median.jl
Due: none

get NEON Rosetta soil profiles
  experiments/calibrate_neon_pipeline_AllDepth/extract_porosity_profiles_NeonSiteBased.jl
Due: none

change back to mean Obs
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Pipeline.jl
Due: none

Update pmodel.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  compare_single_multi.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
  fluxnet_sim.jl
  src/ext/FluxnetSimulations.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/utils.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update pmodel.jl revert
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update pmodel.jl revert pt 2
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

debugging plots for global [skip ci]
  experiments/integrated/era5/single_site.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "Update pmodel.jl revert pt 2"
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "Merge branch 'main' into nb/pmodel_syntax_update"
  NEWS.md
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

Revert "Update pmodel.jl revert"
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "Update pmodel.jl"
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "Merge branch 'main' into nb/pmodel_syntax_update"
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/ClimaLand.jl
  src/shared_utilities/show_methods.jl
  src/standalone/Vegetation/pmodel.jl
  test/integrated/full_land.jl
  test/shared_utilities/coupled_fluxes.jl
  test/shared_utilities/domains.jl
  test/shared_utilities/drivers.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update default_parameters.toml
  toml/default_parameters.toml
Due: none

Update test_pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: none

Update Photosynthesis.md
  docs/src/APIs/canopy/Photosynthesis.md
Due: none

neon soap era5 [skip ci]
  experiments/integrated/era5/single_site.jl
  src/diagnostics/default_diagnostics.jl
Due: none

Add ColumnEnsemble
  docs/src/APIs/Domains.md
  src/diagnostics/diagnostic.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/utils.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use ColumnEnsemble instead of Column
  experiments/integrated/era5/single_site.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Biogeochemistry/experiment.jl
  experiments/standalone/Soil/energy_hydrology_saturated.jl
  experiments/standalone/Soil/richards_comparison.jl
  experiments/standalone/Soil/water_conservation.jl
  experiments/standalone/Soil/water_energy_conservation.jl
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use multiple-columns ClimaCore branch
  .buildkite/Manifest-v1.12.toml
  .buildkite/pipeline.yml
Due: none
