Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Update pmodel.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update pmodel.md
  docs/src/standalone/pages/vegetation/photosynthesis/pmodel.md
Due: none

Update Project.toml
  Project.toml
Due: none

Update using JuliaFormatter
  experiments/calibration/configs/gpp_er_nee_lhf.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "Update pmodel.jl"
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Nb/pmodel syntax (#1817)
  Project.toml
  docs/src/APIs/canopy/Photosynthesis.md
  docs/src/standalone/pages/vegetation/photosynthesis/pmodel.md
  experiments/calibration/configs/gpp.jl
  experiments/calibration/configs/gpp_er_nee_lhf.jl
  experiments/calibration/configs/gpp_lhf.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

CompatHelper: bump compat for SurfaceFluxes to 1, (keep existing compat)
  Project.toml
Due: none

added csv output to ForwardRun
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
Due: none

Add TimeIntegratedVariable shared utility for prognostic time-integrated variables
  src/ClimaLand.jl
  src/shared_utilities/time_integrated_variables.jl
  test/runtests.jl
  test/shared_utilities/time_integrated_variables.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Migrate optimal-LAI A0_annual to a smooth RunningIntegral in Y
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Migrate P-model acclimation EMA to a smooth RunningMean in Y
  NEWS.md
  src/shared_utilities/time_integrated_variables.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/pmodel.jl
  test/shared_utilities/time_integrated_variables.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Condense main NEWS entries; note precip_annual migration
  NEWS.md
Due: none

Document TimeIntegratedVariable exports in the API
  AGENTS.md
  docs/src/APIs/SolverFunctions.md
Due: none

Fix and enable the optimal-LAI test in CI
  test/runtests.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: none

Include time_integrated_prognostic_vars docstring in the API
  docs/src/APIs/SolverFunctions.md
Due: none

Register prognostic time-integrated vars in implicit Jacobian
  src/shared_utilities/implicit_timestepping.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make optimal-LAI LAI a prognostic RunningMean (restart-safe)
  NEWS.md
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Migrate optimal-LAI precip_annual to a prognostic RunningIntegral
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update optimal-LAI test defaults to the calibrated values
  test/standalone/Vegetation/test_optimal_lai.jl
Due: none

Weight P-model acclimation onto local solar noon
  NEWS.md
  src/shared_utilities/time_integrated_variables.jl
  src/standalone/Vegetation/pmodel.jl
  test/shared_utilities/time_integrated_variables.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Address PR #1797 review: return-value TIVs, set_ic! seeding, tau=2yr
  NEWS.md
  docs/src/APIs/canopy/LAI.md
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/time_integrated_variables.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/shared_utilities/time_integrated_variables.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Continuous prognostic time-integrated variables for optimal-LAI and P-model
  NEWS.md
  docs/src/APIs/SolverFunctions.md
  docs/src/APIs/canopy/LAI.md
  docs/src/APIs/canopy/Photosynthesis.md
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/time_integrated_variables.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/shared_utilities/time_integrated_variables.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Address PR #1797 review: declaration-only TIVs, all of Y set in set_ic!
  NEWS.md
  docs/src/APIs/Simulations.md
  docs/src/APIs/canopy/Photosynthesis.md
  ext/fluxnet_simulations/initial_conditions.jl
  src/integrated/land.jl
  src/shared_utilities/time_integrated_variables.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/shared_utilities/time_integrated_variables.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make the optimal-LAI climate inputs respond to the simulated climate
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Cover the new optimal-LAI parameters and helpers in the tests
  test/standalone/Vegetation/test_optimal_lai.jl
Due: none

Add diagnostics for the per-pathway potential GPP and the C3 fraction
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Bring over the unsupervised-loop tooling and analysis experiments
  .claude/hooks/guard.sh
  .claude/unsupervised-loop.settings.json
  experiments/integrated/era5/single_site.jl
  experiments/integrated/generic_site/UNSUPERVISED_LOG.md
  experiments/integrated/generic_site/run_battery.pbs
  experiments/integrated/generic_site/summarize_lai.sh
  experiments/integrated/generic_site/test_sites.csv
  experiments/integrated/generic_site/unsupervised_loop_prompt.txt
  experiments/long_runs/compare_global_lai_modis.jl
  experiments/long_runs/plot_global_c3_map.jl
  experiments/long_runs/plot_global_lai_bias_map.jl
  experiments/long_runs/plot_global_lai_seasonal_cycle.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/unsupervised_ai/README.md
Due: none

removal historical cache, generalize set_canopy_component ic [skip ci]
  docs/src/APIs/canopy/Photosynthesis.md
  ext/fluxnet_simulations/initial_conditions.jl
  src/integrated/land.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

simplify lazy broadcasting [skip ci]
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

minor stuff
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Comparsion files
  experiments/comparison/compare_biogeochemistry.jl
  experiments/comparison/compare_fluxnet.jl
  experiments/comparison/compare_richards.jl
  experiments/comparison/compare_soil.jl
  experiments/comparison/field_rmse.jl
  experiments/comparison/investigate_roundoff.jl
  experiments/comparison/verify_column_ensemble.jl
Due: none

added energy fluxes in output
  .buildkite/.CondaPkg/meta
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun_median.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Pipeline.jl
  src/diagnostics/default_diagnostics.jl
Due: none
