Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

implmented new savefolder structure
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/set_Station.jl
Due: none

Bump Adapt lower bound
  Project.toml
Due: none

small changes
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/set_Station.jl
Due: none

Update and refactor benchmarks
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
  .buildkite/target/pipeline.yml
  Project.toml
  docs/Manifest-v1.12.toml
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

runs
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/set_Station.jl
Due: none

Fix garbage collected LAI timevaryinginput due to nvtx
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  experiments/standalone/Vegetation/timestep_test.jl
Due: none

revert to main autotrophic respiration, update heterotrophic
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/prior_mean_parameters.toml
  experiments/calibrate_dk_sor/priors.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

current version
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/model_interface_wPorosity.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_calibration_wPorosity.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/set_Station.jl
Due: none

Update manifests, expand nvtx annotation usage
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/models.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Refactor Benchmarks, add NVTX (#1218)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
  .buildkite/target/pipeline.yml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

checkout cc branch
  .buildkite/Manifest-v1.12.toml
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update short pipeline
  .buildkite/short_perf/pipeline.yml
Due: none

Make short-perf test regressions
  experiments/benchmarks/benchmark_utils.jl
Due: none

Update Runoff.jl
  Artifacts.toml
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

fix typos
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

snow surface temp param
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Energy of subsurface runoff + alleviate issue with excess water (#1718)
  Artifacts.toml
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

setup others speed test
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
  experiments/long_runs/acthesis/output_plots.jl
Due: none

limit NaN check for better SYPD
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

setup neural run
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

setup old speedrun
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

me no temp speedrun
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

others no temp speedrun
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

Fix plotting bug with annual timeseries
  ext/land_sim_vis/plotting_utils.jl
Due: none

old no temp speedrun
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

remove convert_cb function
  .buildkite/Project.toml
  NEWS.md
  Project.toml
  src/simulations/Simulations.jl
  test/diagnostics/diagnostics_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

re-enable MPI runs
  .buildkite/pipeline.yml
Due: none

modified: .buildkite/Project.toml modified: Project.toml
  .buildkite/Project.toml
  Project.toml
Due: none

up docs compat modified: docs/Project.toml
  docs/Project.toml
Due: none

CompatHelper: bump compat for ClimaTimeSteppers to 0.9, (keep existing compat)
  Project.toml
Due: none

(1.8.0) allow CTS v0.9; up deps
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

Check for monthly data in annual time series
  Project.toml
  ext/land_sim_vis/plotting_utils.jl
Due: none

Use MacOS runners only on PR merges
  .github/workflows/ci.yml
Due: none

calibrate all fluxnet sites
  experiments/integrated/generic_site/calibrate_all_fluxnet.jl
  experiments/integrated/generic_site/calibrate_all_fluxnet.sbatch
  experiments/integrated/generic_site/list_fluxnet_sites.jl
Due: none

test calibrate multi-sites
  .buildkite/pipeline.yml
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/calibrate_all_fluxnet.jl
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/configs/default.jl
  experiments/integrated/generic_site/configs/smoke_test.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
