Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

temp
  .buildkite/Manifest-v1.11.toml
  experiments/long_runs/snowy_land.jl
  fake_regridding.jl
  more_resolution_regridding.jl
  no_climaanalysis_regridding.jl
  regridding2.jl
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add set up for ILAMB for a completed run
  experiments/misc/ilamb_setup.jl
  experiments/misc/tests/test_ilamb_setup.jl
Due: none

debugging [skip ci]
  ext/LandSimulationVisualizationExt.jl
Due: none

revert to main
  experiments/long_runs/soil.jl
Due: none

Make every_dt in diagnostics work for itime
  src/diagnostics/default_diagnostics.jl
Due: none

temp
  .buildkite/longruns_gpu/2pipeline.yml
  .buildkite/longruns_gpu/pipeline.yml
  experiments/misc/ilamb_setup.jl
Due: none

GPU-compatible lambertw0 implementation for optimal LAI (#1527)
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_lambertw_gpu.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add tar and upload
  .buildkite/longruns_gpu/pipeline.yml
Due: none

only use one os for codecov
  .github/workflows/ci.yml
Due: none

try again
  .buildkite/longruns_gpu/pipeline.yml
Due: none

wip [skip ci]
  experiments/long_runs/snowy_land.jl
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

copied over relevant files
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  ext/fluxnet_simulations/generic_site.jl
Due: none

formatted
  ext/fluxnet_simulations/generic_site.jl
Due: none

only test with cov when needed
  .github/workflows/ci.yml
Due: none

added relevant files + edits
  Artifacts.toml
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/Artifacts.jl
  src/standalone/Vegetation/pfts.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/fluxnet_sim.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

run ci on main
  .github/workflows/ci.yml
Due: none

canopy explicit wip
  experiments/long_runs/snowy_land.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

working
  .buildkite/longruns_gpu/pipeline.yml
  experiments/misc/ilamb_setup.jl
  experiments/misc/tests/test_ilamb_setup.jl
Due: none

maybe work
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Clean up and update benchmarks
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/pipeline.yml
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
  .buildkite/target/pipeline.yml
  Project.toml
  docs/Manifest-v1.11.toml
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Simplify slurm
  .buildkite/longruns_gpu/pipeline.yml
Due: none

wip
  .buildkite/Manifest-v1.11.toml
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

make ci workflow more read-able
  .github/workflows/ci.yml
Due: none

Rename `define_diagnostics!`
  NEWS.md
  docs/src/diagnostics/developers_diagnostics.md
  docs/src/diagnostics/make_diagnostic_table.jl
  docs/src/diagnostics/users_diagnostics.md
  src/diagnostics/construct_diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/diagnostic.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

Make gha ci only cache depot on pushes to main
  .github/workflows/ci.yml
Due: none

Add chron action to update caches
  .github/workflows/UpdateCaches.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/downgrade.yml
  .github/workflows/downstream.yml
Due: none

wip
  experiments/long_runs/snowy_land.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

tag v1.0.1
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

testing small change
  .buildkite/longruns_gpu/pipeline.yml
Due: none

add buildkite number
  .buildkite/longruns_gpu/pipeline.yml
  experiments/misc/ilamb_setup.jl
Due: none

Add util imports diagnostics/plotting
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Add diagnostics saving and landsimvis
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Add LandSimVis pngs
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Remove old plotting
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Remove unused callback
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

minimize optimization of tests
  .buildkite/pipeline.yml
  .github/workflows/docs.yml
  .github/workflows/downstream.yml
Due: none

fix docs (#1521)
  NEWS.md
  docs/list_of_apis.jl
  docs/src/APIs/canopy/LAI.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Optimal LAI model
  docs/list_standalone_models.jl
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/radiation.jl
  test/runtests.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip (#1533)
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
