Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Optimal LAI model
  docs/list_standalone_models.jl
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/radiation.jl
  test/runtests.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

temp only run gpuruntests on buildkite
  .buildkite/pipeline.yml
Due: none

rm MPI from buildkite test env
  .buildkite/pipeline.yml
Due: none

conditionally add diagnostics
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

despec default diag
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/shared_utilities/models.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

partially rm macro compute_var...
  src/diagnostics/land_compute_methods.jl
Due: none

use TIMESTAMP_START by default
  ext/fluxnet_simulations/data_processing.jl
Due: none

use PeriodicCalendar for Ozark
  experiments/standalone/Vegetation/varying_lai.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

Check all short names are unique in calibration
  experiments/calibration/api.jl
Due: none

Use GEnsembleBuilder in calibration pipeline
  experiments/calibration/observation_map.jl
Due: none

Update ClimaCalibrate to 0.1.4
  .buildkite/Manifest-v1.11.toml
  .buildkite/Project.toml
Due: none

Use high res forcing data for bucket model calibration
  experiments/calibration/models/bucket.jl
Due: none

Make NetCDF files for ILAMB for longer runs only
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/misc/ilamb_conversion.jl
Due: none

Update ILAMB conversion
  experiments/misc/ilamb_conversion.jl
Due: none

Add script to make NetCDF files for ILAMB
  experiments/misc/ilamb_conversion.jl
Due: none

Add checks for units
  experiments/misc/ilamb_conversion.jl
Due: none

Use MultiBroadcastFusion for canopy update_aux
  src/integrated/land_radiation.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

temp modify pipeline
  .buildkite/target/pipeline.yml
Due: none

use dummy integrator for diag test
  test/diagnostics/diagnostics_tests.jl
Due: none

despec diags
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/diagnostic.jl
Due: none

format
  src/standalone/Vegetation/optimal_lai.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

despec canopy
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Passes CI except docs
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/models/snowy_land.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/low_res_snowy_land_rh.jl
  experiments/long_runs/low_res_snowy_land_temp.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix docs
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
Due: none

test timing periods
  experiments/benchmarks/benchmark_utils.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix optimal LAI model documentation and constructor (#1522)
  docs/list_of_apis.jl
  docs/src/APIs/canopy/LAI.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix typo in README.md
  README.md
Due: none

despec models
  src/shared_utilities/models.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add set up for ILAMB for a completed run
  experiments/misc/ilamb_setup.jl
  experiments/misc/tests/test_ilamb_setup.jl
Due: none

fix docs (#1521)
  NEWS.md
  docs/list_of_apis.jl
  docs/src/APIs/canopy/LAI.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Remove unnecessary import bucket example
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Improve diagnostics test speed
  docs/src/diagnostics/make_diagnostic_table.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

feat: restore backward-compatible API for spatially-varying canopy height
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix: remove deprecated canopy_height function and JuliaFormatter from Project.toml
  Project.toml
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix: update spatial_parameters test to use clm_canopy_height API
  test/standalone/Vegetation/spatial_parameters.jl
Due: none

restart conservation checker
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

extend to snowyland [skip ci]
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/soil.jl
  ext/LandSimulationVisualizationExt.jl
  src/diagnostics/default_diagnostics.jl
Due: none

docs: add clm_canopy_height and effective_canopy_height to Canopy API docs
  docs/src/APIs/canopy/Canopy.md
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
