Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Revert the alpha prior cap; it was based on a mis-binned statistic
  clima_calibration.o6987847
  clima_calibration.o6988734
  experiments/calibration/configs/lai.jl
  experiments/calibration/unsupervised_loop/STATE.md
Due: none

Narrow the GPU DomainError to a negative-real sqrt/log/^ [skip ci]
  experiments/calibration/configs/lai.jl
  experiments/calibration/unsupervised_loop/STATE.md
Due: none

Condense the alpha prior comment; point at STATE.md for the census [skip ci]
  experiments/calibration/configs/lai.jl
Due: none

Treat an incomplete member column as a failed member, not a failed iteration
  clima_calibration.o6988734
  clima_calibration.o6989492
  experiments/calibration/observation_map.jl
Due: none

Record that the GPU DomainError is non-deterministic [skip ci]
  experiments/calibration/unsupervised_loop/STATE.md
Due: none

Record Experiment D's result: the C3/C4 split can be dropped
  experiments/calibration/unsupervised_loop/STATE.md
Due: none

Remove files accidentally committed by a git add -A
  .bash_profile
  .bashrc
  .buildkite/Manifest-v1.12.toml
  .claude/agents
  .claude/commands
  .claude/hooks/guard.sh
  .claude/launch.json
  .claude/loop.md
  .claude/output-styles
  .claude/routines
  .claude/settings.json
  .claude/skills
  .claude/unsupervised-loop.settings.json
  .claude/workflows
  .gitconfig
  .gitignore
  .gitmodules
  .idea
  .mcp.json
  .profile
  .ripgreprc
  .vscode
  .zprofile
  .zshrc
  clima_long_run.o6973822
Due: none

Drop the four one-off stage-3 experiment configs
  experiments/calibration/configs/lai_multiyear.jl
  experiments/calibration/configs/lai_noc4split.jl
  experiments/calibration/configs/lai_noise025.jl
  experiments/calibration/configs/lai_tied_c4.jl
Due: none

Drop the C3/C4 split from the optimal-LAI parameterization
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Drop the optimal-LAI C3/C4 parameter split and the natural-vegetation mask
  experiments/calibration/build_natural_vegetation_mask.jl
  experiments/calibration/configs/lai.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Remove the inert A0-mapped leaf cost from the optimal-LAI model
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make the peak transpirable precipitation fraction a parameter
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Test and reject a temperature-dependent precipitation half-point
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
  experiments/integrated/prognostic_carbon/harness/offline_spinup.jl
  experiments/integrated/prognostic_carbon/model_description.html
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Adopt the stage-1 calibrated GPP and energy parameters
  toml/default_parameters.toml
Due: none

Compute and record global RMSE, and the observation-vs-observation floor
  experiments/integrated/prognostic_carbon/harness/global_skill.tsv
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Fix a biomass-to-carbon unit error in the observational comparison
  experiments/integrated/prognostic_carbon/harness/compare_biomass.jl
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Adopt the recalibrated LAI/P-model parameters and drop the C3/C4 LAI split
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Revert "Adopt the recalibrated LAI/P-model parameters and drop the C3/C4 LAI split"
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Correct the observational floor: 2.88, not 4.38
  experiments/integrated/prognostic_carbon/harness/global_skill.tsv
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Record that the stage-1 recalibration does not fix the biomass overestimate
  experiments/integrated/prognostic_carbon/harness/global_skill.tsv
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

small changes
  .buildkite/.CondaPkg/meta
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4_HARVfwrd.toml
  experiments/calibrate_neon_pipeline_AllDepth/test_minimal_forward.jl
Due: none

Refresh the results page on the recalibrated base
  experiments/integrated/prognostic_carbon/model_description.html
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

use wet bulb temperature
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/boundary_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Verify rule 1 on the recalibrated base
  experiments/integrated/prognostic_carbon/harness/baseline_prognostic_lai.tsv
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Raise the optimal-LAI leaf cost to 24.3
  toml/default_parameters.toml
Due: none

Score GPP against GOSIF, the calibration target
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Verify rule 1 at z = 24.3 and record the final state
  experiments/integrated/prognostic_carbon/harness/baseline_prognostic_lai.tsv
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Diagnose fire's contribution and retract the GFED-input recommendation
  experiments/integrated/prognostic_carbon/harness/fire_diagnostic.tsv
  experiments/integrated/prognostic_carbon/model_description.html
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Separate the production error from the turnover error
  experiments/integrated/prognostic_carbon/harness/bin_by_obs.jl
  experiments/integrated/prognostic_carbon/harness/global_budget.jl
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
  experiments/integrated/prognostic_carbon/harness/run_global_equilibrium.pbs
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Test rainfall seasonality as a predictor, offline first
  experiments/integrated/prognostic_carbon/harness/check_seasonality.jl
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
  experiments/integrated/prognostic_carbon/harness/offline_spinup.jl
  experiments/integrated/prognostic_carbon/harness/run_global_equilibrium.pbs
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Seasonality limit improves bias and correlation together
  experiments/integrated/prognostic_carbon/harness/check_seasonality.jl
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
  experiments/integrated/prognostic_carbon/harness/run_global_equilibrium.pbs
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Temperature-correct the deficit reference; bracket the remaining tradeoff
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
  experiments/integrated/prognostic_carbon/harness/run_global_equilibrium.pbs
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Fix the pet_floor sweep, which was silently running one value four times
  experiments/integrated/prognostic_carbon/harness/run_global_equilibrium.pbs
Due: none

Interpolated deficit reference improves spatial r in all six products
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Bracket the deficit-reference optimum at floor 0.6-0.8
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
Due: none

Add the rainfall-seasonality limit on woody allocation
  src/standalone/Vegetation/biomass.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Register the new carbon states with the implicit solver and seed them
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Compute the offline deficit from the model's own precipitation
  experiments/integrated/prognostic_carbon/harness/global_driver.jl
  experiments/integrated/prognostic_carbon/harness/global_equilibrium.jl
Due: none

Stop reporting GLOBAL_OK for a crashed driver run
  experiments/integrated/prognostic_carbon/harness/run_global_driver.pbs
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
