Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

make test use code used in sim instead of standalone functions
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

math changes
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix formatting
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix downgrade test
  Project.toml
Due: none

wip; [skip ci]
  experiments/ilamb/ilamb_conversion.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix docs
  docs/src/APIs/canopy/Photosynthesis.md
Due: none

Release v1.12.0
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

wip
  .buildkite/pipeline.yml
  docs/src/contributing.md
  docs/src/repo_structure.md
  test/Project.toml
  test/runtests.jl
Due: none

test using GHA
  .github/workflows/ci.yml
Due: none

fix resid flux and change params
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

renaming plus formatting
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix tests
  test/standalone/Snow/snow.jl
Due: none

wip [skip ci]
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/soil.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/integrated/conservation.jl
  test/runtests.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/conservation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix resid flux and change params [ skip ci]
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  .buildkite/Manifest-v1.12.toml
  experiments/integrated/performance/conservation.jl
  src/integrated/land.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

snow problem
  .buildkite/Manifest-v1.12.toml
  experiments/integrated/performance/conservation.jl
Due: none

Use testset macro in tests
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/integrated/restart.jl
  test/integrated/soil_snow.jl
  test/shared_utilities/coupled_fluxes.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Vegetation/test_pfts.jl
Due: none

Apply formatter
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/integrated/restart.jl
  test/integrated/soil_snow.jl
  test/shared_utilities/coupled_fluxes.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Vegetation/test_pfts.jl
Due: none

CompatHelper: bump compat for ClimaCore to 0.16, (keep existing compat)
  Project.toml
Due: none

Release v1.12.1
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/diagnostics/diagnostic.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/utils.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Split tests into test groups for GHA CI
  .github/workflows/ci.yml
  .github/workflows/downgrade.yml
  test/runtests.jl
Due: none

Release v1.12.1 (#1869)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  .github/workflows/ci.yml
  .github/workflows/downgrade.yml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/diagnostics/diagnostic.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/utils.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/integrated/restart.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/shared_utilities/coupled_fluxes.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Vegetation/test_pfts.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bulk surface temp
  experiments/integrated/performance/conservation.jl
Due: none

relative humidity is in percent
  ext/fluxnet_simulations/forcing.jl
Due: none

fix resid flux
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix snow residual melt accounting and snow-free NaNs
  NEWS.md
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update to CC 0.16.1 to fix buildkite
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

relative humidity is in percent (#1843)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  ext/fluxnet_simulations/forcing.jl
Due: none

Pmodel cleanup of equation; not behavior changing
  docs/src/APIs/canopy/Photosynthesis.md
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Pmodel cleanup of equation; not behavior changing (#1865)
  docs/src/APIs/canopy/Photosynthesis.md
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix C3/C4 blending in SIF computation
  docs/src/APIs/canopy/SolarInducedFluorescence.md
  experiments/ilamb/ilamb_conversion.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix C3/C4 blending in SIF computation (#1867)
  docs/src/APIs/canopy/SolarInducedFluorescence.md
  experiments/ilamb/ilamb_conversion.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix resid flux
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

try 30m
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

review comments II
  src/standalone/Snow/Snow.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
