Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Passes CI except docs
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/models/snowy_land.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/low_res_snowy_land_rh.jl
  experiments/long_runs/low_res_snowy_land_temp.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

GPU-compatible lambertw0 implementation for optimal LAI (#1527)
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_lambertw_gpu.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add toml
  Artifacts.toml
Due: none

Remove unused sol output from solve!
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Minor change of wording
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

Remove unnecessary import bucket example (#1525)
  docs/src/tutorials/standalone/Bucket/bucket_tutorial.jl
Due: none

added owus module
  src/standalone/Vegetation/.ipynb_checkpoints/owusmodel-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/pfts-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/pmodel-checkpoint.jl
  src/standalone/Vegetation/owusmodel.jl
  test/standalone/Vegetation/.ipynb_checkpoints/test_owus-checkpoint.jl
  test/standalone/Vegetation/test_owus.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add uSPAC calibration configuration (global, CWD)
   
  .ipynb_checkpoints/Artifacts-checkpoint.toml
  .ipynb_checkpoints/Overrides-checkpoint.toml
  .ipynb_checkpoints/Project-checkpoint.toml
  experiments/calibration/.ipynb_checkpoints/PBS_calibration-checkpoint.pbs
  experiments/calibration/.ipynb_checkpoints/gcp_slurm_calibration-checkpoint.sh
  experiments/calibration/.ipynb_checkpoints/generate_observations-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/generate_smap_observations-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/model_interface-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/observation_map-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/run_calibration-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/run_uspac_calibration-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/slurm_calibration-checkpoint.sh
  experiments/calibration/.ipynb_checkpoints/tofu_calibration-checkpoint.sh
  experiments/calibration/.ipynb_checkpoints/uspac_calibration-checkpoint.jl
  experiments/calibration/.ipynb_checkpoints/uspac_calibration_global-checkpoint.ipynb
  experiments/calibration/.ipynb_checkpoints/uspac_calibration_multisite-checkpoint.ipynb
  experiments/calibration/.ipynb_checkpoints/uspac_calibration_singlesite-checkpoint.ipynb
  experiments/calibration/calculate_drydown.jl
  experiments/calibration/check_era5_dates.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/plot_smap_cv.jl
  experiments/calibration/process_smap_cv.jl
  experiments/calibration/slurm_cv.sh
  experiments/calibration/slurm_smap_obs.sh
  experiments/calibration/uspac_calibration.jl
  experiments/calibration/uspac_calibration_multisite.ipynb
  experiments/calibration/uspac_calibration_singlesite.ipynb
  experiments/calibration/visualize_calibration_results.ipynb
  ext/land_sim_vis/leaderboard/.ipynb_checkpoints/data_sources-checkpoint.jl
  ext/land_sim_vis/leaderboard/.ipynb_checkpoints/data_sources_smap-checkpoint.jl
  ext/land_sim_vis/leaderboard/data_sources_smap.jl
  src/shared_utilities/.ipynb_checkpoints/drivers-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/PlantHydraulics-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/soil_moisture_stress-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/stomatalconductance-checkpoint.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

global calibration setut for uspac (CWD)
  experiments/calibration/calculate_CWD.jl
  experiments/calibration/generate_smap_observations.jl
  experiments/calibration/run_uspac_calibration.jl
  experiments/calibration/smap_utils.jl
Due: none

uspac module added, calibration script for site-level
  Project.toml
  experiments/calibration/.ipynb_checkpoints/owus_calibration_notebook-checkpoint.ipynb
  experiments/calibration/.ipynb_checkpoints/uspac_calibration-checkpoint.jl
  experiments/calibration/owus_calibration_notebook.ipynb
  experiments/calibration/uspac_calibration.jl
  src/standalone/Soil/.ipynb_checkpoints/Soil-checkpoint.jl
  src/standalone/Soil/.ipynb_checkpoints/soil_hydrology_parameterizations-checkpoint.jl
  src/standalone/Soil/.ipynb_checkpoints/spatially_varying_parameters-checkpoint.jl
  src/standalone/Soil/Biogeochemistry/.ipynb_checkpoints/Biogeochemistry-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/Canopy-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/photosynthesis-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/photosynthesis_farquhar-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/stomatalconductance-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/uspacmodel-checkpoint.jl
  src/standalone/Vegetation/uspacmodel.jl
  test/standalone/Vegetation/test_owus.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Added SMAP pipeline to calibrate against jointly with LH
  experiments/calibration/generate_joint_observations.jl
  experiments/calibration/generate_smap_observations.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_uspac_calibration.jl
  experiments/calibration/slurm_calibration.sh
  experiments/calibration/smap_utils.jl
  src/standalone/Vegetation/uspacmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use 2018 albedo
  src/standalone/Bucket/Bucket.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

add buildkite experiment
  .buildkite/pipeline.yml
Due: none

formatting changes
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/standalone/Vegetation/pfts.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/fluxnet_sim.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make ILAMB leaderboard after 20 year long run
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Add set up for ILAMB for a completed run
  experiments/ilamb/ilamb_conversion.jl
  experiments/ilamb/ilamb_setup.jl
  experiments/ilamb/tests/test_ilamb_setup.jl
  test/runtests.jl
Due: none

bug fix to prevent division by zero when soil is very dry
  src/standalone/Soil/soil_heat_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

removed get_fluxtower_height
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
Due: none

revert line change
  src/standalone/Soil/soil_heat_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add option to run a global box domain
  docs/src/APIs/Domains.md
  docs/src/tutorials/standalone/Usage/domain_tutorial.jl
  ext/LandSimulationVisualizationExt.jl
  src/shared_utilities/Domains.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Modularize roughness; make default [skip ci]
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/low_res_snowy_land_rh.jl
  experiments/long_runs/low_res_snowy_land_temp.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/canopy_surface_fluxes.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/canopy_model.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update calib
  experiments/calibration/models/snowy_land.jl
Due: none

add option to run a global box domain (#1539)
  docs/src/APIs/Domains.md
  docs/src/tutorials/standalone/Usage/domain_tutorial.jl
  ext/LandSimulationVisualizationExt.jl
  src/shared_utilities/Domains.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_surface_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

read in CO2 from fluxnet data
  ext/fluxnet_simulations/forcing.jl
Due: none

handle non-integer UTC offsets
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

getting github tests to pass
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  src/Artifacts.jl
  test/integrated/fluxnet_sim.jl
Due: none

passed in correct type for get_parameters in ozark runs
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
Due: none

compute fluxes when using CoupledAtmosphere [skip ci]
  NEWS.md
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

bug fix to prevent division by zero when soil is very dry (#1542)
  src/standalone/Soil/soil_heat_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

use box domain [skip ci]
  .buildkite/Manifest-v1.11.toml
  .buildkite/Project.toml
  Project.toml
  experiments/benchmarks/snowy_land.jl
  experiments/long_runs/bucket.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/diagnostic.jl
  src/shared_utilities/drivers.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fixing tests
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_surface_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use prescribed temp with coupled atmos also
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

removed in other location
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/diagnostics/default_diagnostics.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add diagnostics
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

fix experiments and docs
  docs/src/APIs/canopy/Canopy.md
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/US-Var.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_surface_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

CompatHelper: bump compat for SurfaceFluxes to 0.14, (keep existing compat)
  Project.toml
Due: none

It runs for single site! Data not great yet.
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
