Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

add river model [skip ci]
  Project.toml
  src/standalone/Rivers/Rivers.jl
Due: none

Release v1.12.2, update compat to ClimaCore v1 (#1879)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/ClimaLand.jl
  src/shared_utilities/climacore_compat.jl
  test/aqua.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Try IITK site
  docs/src/tutorials/global/integrated_land_evaluation.jl
  docs/src/tutorials/integrated/site_level_era5_tutorial.jl
  experiments/integrated/era5/iitk_site.jl
Due: none

wip [skip ci]
  .buildkite/Manifest-v1.12.toml
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/coupled_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Remove ClimaCore type piracy
  src/ClimaLand.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/climacore_compat.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/boundary_conditions.jl
  test/aqua.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Raise unit test coverage and fix diagnostics found by the new tests
  .gitignore
  NEWS.md
  codecov.yml
  ext/data_scraping/WebTools.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/perturbed_drivers.jl
  test/diagnostics/compute_methods.jl
  test/integrated/fluxnet_sim.jl
  test/runtests.jl
  test/shared_utilities/perturbed_drivers.jl
  test/shared_utilities/show_methods.jl
  test/shared_utilities/simulations.jl
  test/shared_utilities/utilities.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Snow/data/snotel_daily_1030CO_2015-01.csv
  test/standalone/Snow/data/snotel_hourly_1030CO_2015-01.csv
  test/standalone/Snow/tool_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Reference PR number in NEWS
  NEWS.md
Due: none

Restore unrelated NEWS placeholder
  NEWS.md
Due: none

fix
  src/shared_utilities/Domains.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

try spatially varying height
  src/standalone/Vegetation/Canopy.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

For IITK demo modified: docs/list_tutorials.jl new file: docs/src/tutorials/integrated/idealized_land_tutorial.jl
  docs/list_tutorials.jl
  docs/src/tutorials/integrated/idealized_land_tutorial.jl
Due: none

deleted: docs/src/tutorials/global/integrated_land_evaluation.jl
  docs/src/tutorials/global/integrated_land_evaluation.jl
Due: none

modified: docs/list_tutorials.jl new file: docs/src/tutorials/integrated/site_level_lowres_era5_tutorial.jl
  docs/list_tutorials.jl
  docs/src/tutorials/integrated/site_level_lowres_era5_tutorial.jl
Due: none

Remove ClimaCore type piracy (#1882)
  src/ClimaLand.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/climacore_compat.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/boundary_conditions.jl
  test/aqua.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

modified: src/tutorials/integrated/idealized_land_tutorial.jl
  docs/src/tutorials/integrated/idealized_land_tutorial.jl
Due: none

try with default params, max height 1, rsl [skip ci]
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

sv ch
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Address review: drop Fluxnet unit tests, reuse src initial conditions
  NEWS.md
  codecov.yml
  test/diagnostics/compute_methods.jl
  test/integrated/fluxnet_sim.jl
  test/standalone/Snow/tool_tests.jl
Due: none

Update default_parameters.toml [skip ci]
  toml/default_parameters.toml
Due: none

packages [skip ci]
  Project.toml
Due: none

remove canopy height from plant hydraulics [skip ci]
  src/standalone/Vegetation/plant_hydraulics.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add an ERA5-forced single column tutorial
  docs/list_tutorials.jl
  docs/src/tutorials/integrated/snowy_land_era5_tutorial.jl
  experiments/integrated/era5/single_site.jl
Due: none

Add NEWS entry for the ERA5 single column tutorial
  NEWS.md
Due: none

Add a VPD diagnostic and show LAI and VPD in the ERA5 tutorial
  NEWS.md
  docs/src/tutorials/integrated/snowy_land_era5_tutorial.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

should run [skip ci]
  src/diagnostics/.#land_compute_methods.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Rivers/.#compare_to_grace.jl
  src/standalone/Rivers/compare_to_grace.jl
Due: none

fix canopyheight in PH [skip ci]
  .buildkite/Manifest-v1.12.toml
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix biomass hieght [skip ci]
  src/integrated/soil_canopy_root_interactions.jl
Due: none

fix roughness height zero problem [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update canopy_turbulent_fluxes.jl [skip ci]
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Canopy.jl, mh = 4 [skip ci]
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

temp [skip ci]
  toml/default_parameters.toml
Due: none

wip [skip ci]
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/soil.jl
  experiments/standalone/Soil/water_conservation.jl
  experiments/standalone/Soil/water_energy_conservation.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/integrated/conservation.jl
  test/runtests.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/conservation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Raise unit test coverage and fix diagnostics found by the new tests
  .gitignore
  NEWS.md
  codecov.yml
  ext/data_scraping/WebTools.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/perturbed_drivers.jl
  test/Project.toml
  test/diagnostics/compute_methods.jl
  test/runtests.jl
  test/shared_utilities/perturbed_drivers.jl
  test/shared_utilities/show_methods.jl
  test/shared_utilities/simulations.jl
  test/shared_utilities/utilities.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Snow/data/snotel_daily_1030CO_2015-01.csv
  test/standalone/Snow/data/snotel_hourly_1030CO_2015-01.csv
  test/standalone/Snow/tool_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

try long run [skip ci]
  .buildkite/Manifest-v1.12.toml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/output_active
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Snow/cpu/cdp_default_gradtemp/output_active
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove files [skip ci]
  experiments/integrated/performance/conservation/output_active
  experiments/standalone/Snow/cpu/cdp_default_gradtemp/output_active
Due: none

Update snowy_land_pmodel.jl [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Raise unit test coverage and fix diagnostics found by the new tests (#1883)
  .gitignore
  NEWS.md
  codecov.yml
  ext/data_scraping/WebTools.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/perturbed_drivers.jl
  test/Project.toml
  test/diagnostics/compute_methods.jl
  test/runtests.jl
  test/shared_utilities/perturbed_drivers.jl
  test/shared_utilities/show_methods.jl
  test/shared_utilities/simulations.jl
  test/shared_utilities/utilities.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Snow/data/snotel_daily_1030CO_2015-01.csv
  test/standalone/Snow/data/snotel_hourly_1030CO_2015-01.csv
  test/standalone/Snow/tool_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

benchmarks: Write the timings to a file
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
Due: none

use main Manifest [skip ci]
  .buildkite/Manifest-v1.12.toml
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
