Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Add NothingModel
  src/shared_utilities/models.jl
  test/shared_utilities/variable_types.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update rsync path for dashboard (#1574)
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Make directory to save ILAMB files first
  experiments/ilamb/ilamb_conversion.jl
Due: none

Add support for LandModel without soilco2
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/simulations/initial_conditions.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add LandModel without soilco2 experiment
  .buildkite/pipeline.yml
  experiments/integrated/global/global_soil_canopy_snow.jl
Due: none

ozark_pmodel.jl runs but LAI_pred 0.0 then NaN. possibly annual GPP 0
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

ran on clima [skip ci]
  experiments/calibration/run_calibration.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Add gpu snowmip
  .buildkite/Manifest-v1.11.toml
  .buildkite/pipeline.yml
  Project.toml
  experiments/standalone/Snow/snowmip_simulation_gpu.jl
  ext/neural_snow/ModelTools.jl
  ext/neural_snow/NeuralSnow.jl
  test/standalone/Snow/tool_tests.jl
Due: none

test3
  test3
Due: none

WIP
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bug fixed!
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

spatially varying canopy height option (not used by default)
  docs/src/APIs/canopy/Canopy.md
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/runtests.jl
  test/standalone/Vegetation/spatial_parameters.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

calibrated params update
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/api.jl
  experiments/calibration/run_calibration.jl
  src/shared_utilities/Domains.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Try with default parameters
  toml/default_parameters.toml
Due: none

Moisture stress in GPP_potential_daily
  experiments/long_runs/land_region.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update at every dt
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Simulations.jl [skip ci]
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Canopy.md
  docs/src/APIs/canopy/Canopy.md
Due: none

implicit cache [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip [skip ci]
  experiments/integrated/performance/integrated_timestep_test.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

explicit fluxes soil
  src/integrated/soil_snow_model.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

attempt
  src/ClimaLand.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add saturated IC, make default, fix bug with domain contexts
  Artifacts.toml
  NEWS.md
  experiments/calibration/api.jl
  experiments/calibration/models/snowy_land.jl
  src/Artifacts.jl
  src/shared_utilities/Domains.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add saturated IC, make default, fix bug with domain contexts (#1584)
  Artifacts.toml
  NEWS.md
  experiments/calibration/api.jl
  experiments/calibration/models/snowy_land.jl
  src/Artifacts.jl
  src/shared_utilities/Domains.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add support for `nothing` component models
  .buildkite/pipeline.yml
  experiments/integrated/global/global_soil_canopy_snow.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/simulations/initial_conditions.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix relative vs absolute path bug with ILAMB
  experiments/ilamb/ilamb_setup.jl
  experiments/ilamb/tests/test_ilamb_setup.jl
Due: none

implicit cache [skip ci]
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

stable run at 85 SYPD [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  src/shared_utilities/Domains.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

adapt savepath
  experiments/integrated/fluxnet/ozark_pft.jl
Due: none

add parameters to figure output
  experiments/integrated/fluxnet/ozark_pft.jl
Due: none

derivatives in one place
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add A0_annual
  src/diagnostics/default_diagnostics.jl
Due: none

spatially varying GSL, A0 potential
  data_laiopt/gsl_a0_annual.nc
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
