Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

remove ET plotting
  experiments/long_runs/soil.jl
Due: none

update benchmark times
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
Due: none

increase time step to 900s. (#1756)
  NEWS.md
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/default_diagnostics.jl
Due: none

clarify which terms are implicit vs explicit, use ClimaTimesteppers cache_imp functionality
  NEWS.md
  docs/src/APIs/SolverFunctions.md
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/energy_hydrology.jl
  test/integrated/full_land.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

quick fix
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added unadapted neon_calibration scripts and adapt Artifacts.jl
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/model_interface_wPorosity.jl
  experiments/calibrate_neon/plot_all_eki_diagnostics.jl
  experiments/calibrate_neon/plot_all_eki_diagnostics_old.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_calibration_wPorosity.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/run_priormean_pipeline_mult.jl
  experiments/calibrate_neon/set_Station.jl
  experiments/calibrate_neon/set_Station_mult.jl
  experiments/calibrate_neon/site_metadata.jl
  experiments/calibrate_neon/start_calibration_pipeline.jl
  experiments/calibrate_neon/start_calibration_pipeline_mult.jl
  experiments/calibrate_neon/start_calibration_pipeline_mult_old.jl
  src/Artifacts.jl
Due: none

adapted code to match pull request, removed dt from Land Model, renamed )2_f -> O2 adapted CO2 and O2 units, commented out overwrite
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/model_interface_wPorosity.jl
  experiments/calibrate_neon/run_prior_mean.jl
Due: none

remove imp_tend for compute only
  docs/src/APIs/SolverFunctions.md
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/ClimaLand.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Soil/conservation.jl
  test/standalone/Soil/mask_test.jl
  test/standalone/Soil/soil_test_3d.jl
  test/standalone/Soil/soiltest.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

run at a single site [skip ci]
  check_soil_temp.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/single_site.jl
  experiments/long_runs/single_site_soil.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/tmp.jl
  make_mean_air_temp.jl
  make_plot_permafrost.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/boundary_conditions.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Fix _annual_global_rmse
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

wip
  .buildkite/pipeline.yml
  Artifacts.toml
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/run_generic_site.jl
  experiments/integrated/generic_site/test_local_artifact_sites.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
  src/ext/FluxnetSimulations.jl
Due: none

Format changes
  experiments/integrated/generic_site/calibrate_all_fluxnet.jl
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/site_drivers.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/ext/FluxnetSimulations.jl
Due: none

wip
  .buildkite/pipeline.yml
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/calibrate_all_fluxnet.sbatch
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/configs/er_smoke.jl
Due: none

test calibrate multi-sites
  .buildkite/pipeline.yml
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/calibrate_all_fluxnet.jl
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/configs/default.jl
  experiments/integrated/generic_site/configs/smoke_test.jl
Due: none

wip [skip ci]
  experiments/integrated/generic_site/calibrate_all_fluxnet.pbs
Due: none

wip
  experiments/integrated/generic_site/calibrate_all_fluxnet.pbs
  experiments/integrated/generic_site/calibrate_all_fluxnet.sbatch
  experiments/integrated/generic_site/list_fluxnet_sites.jl
Due: none

WIP
  .buildkite/pipeline.yml
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/configs/default.jl
  experiments/integrated/generic_site/configs/er.jl
  experiments/integrated/generic_site/configs/er_smoke.jl
  experiments/integrated/generic_site/configs/smoke_test.jl
  experiments/integrated/generic_site/site_drivers.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/ext/FluxnetSimulations.jl
Due: none

calibrate all fluxnet sites
  experiments/integrated/generic_site/calibrate_all_fluxnet.jl
  experiments/integrated/generic_site/calibrate_all_fluxnet.sbatch
  experiments/integrated/generic_site/list_fluxnet_sites.jl
Due: none

add derecho .pbs
  experiments/integrated/generic_site/calibrate_all_fluxnet.pbs
Due: none

wip profiling
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
  profile/profiling.jl
  profile/sim.jl
  profile/streams.jl
  profile/threads.jl
  src/ClimaLand.jl
Due: none

close enough working sim
  Project.toml
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/fluxnet_simulations/initial_conditions.jl
  sim_with_new_space.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

testing
  sim_with_new_space.jl
Due: none

propagate change to soil canopy and also update benchmark times
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  src/integrated/soil_canopy_model.jl
Due: none

update script [skip ci]
  experiments/long_runs/single_site_soil.jl
  experiments/long_runs/soil.jl
Due: none

fix IC
  experiments/long_runs/soil.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

dk-sor: transplant alexis calibration prior table into callmip pipeline
  experiments/calibrate_dk_sor/priors.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  experiments/callmip_uq_dk_sor/run_posterior_ensemble.jl
Due: none

dk-sor: add alexis-style minibatching and wire new respiration parameters
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/callmip_uq_dk_sor/run_posterior_ensemble.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

dk-sor: make minibatch windows divisible by 2 (2003-2014)
  experiments/calibrate_dk_sor/generate_observations.jl
Due: none

feat: complete CalLMIP Phase 1a — 16-param EKI, CES pipeline, NetCDF submission
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_calibration_check.jl
  experiments/calibrate_dk_sor/plot_multiyear_check.jl
  experiments/calibrate_dk_sor/prior_mean_parameters.toml
  experiments/calibrate_dk_sor/priors.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/callmip_uq_dk_sor/CALLMIP_Phase1a_ModelDescription.md
  experiments/callmip_uq_dk_sor/CALLMIP_Phase1a_Report.md
  experiments/callmip_uq_dk_sor/CES_Phase2_Issues_for_OLLie.md
  experiments/callmip_uq_dk_sor/ISSUES_AND_QUESTIONS.md
  experiments/callmip_uq_dk_sor/Project.toml
  experiments/callmip_uq_dk_sor/analyze_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/calibration_rmse_convergence.jl
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/emulate_sample.jl
  experiments/callmip_uq_dk_sor/evaluate_calibration.jl
  experiments/callmip_uq_dk_sor/plot_calibration_improvement.jl
  experiments/callmip_uq_dk_sor/plot_callmip_netcdf.py
  experiments/callmip_uq_dk_sor/plot_posterior_distributions.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  experiments/callmip_uq_dk_sor/slurm_emulate_sample.sh
  experiments/callmip_uq_dk_sor/slurm_posterior_ensemble.sh
  experiments/callmip_uq_dk_sor/slurm_postprocess.sh
  experiments/callmip_uq_dk_sor/write_callmip_netcdf.jl
Due: none

pipeline: align spinup windows, CES obs schema, and callmip stage settings
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  experiments/callmip_uq_dk_sor/run_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/slurm_postprocess.sh
Due: none

pipeline: add readiness test and staged submit reporting
  experiments/callmip_uq_dk_sor/slurm_callmip_simulations.sh
  experiments/callmip_uq_dk_sor/slurm_postprocess.sh
  submit_callmip_pipeline.sh
  test_callmip_pipeline.sh
Due: none

Add inversion_nee artifact (NEE/GPP/ER/Rh, 2002-2020)
  Artifacts.toml
  src/Artifacts.jl
Due: none

Add NEWS.md entry for inversion_nee artifact
  NEWS.md
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
