Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

fix p100 issue
  src/standalone/Soil/energy_hydrology.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

10 year run float32
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Test different bare soil evaporation scheme with calibratable parameters (#1663)
  NEWS.md
  docs/src/tutorials/standalone/Soil/evaporation.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  src/standalone/Soil/energy_hydrology.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Ar/kd/pmodel beta for c4 (#1684)
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

different location for beta in Jmax
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

restore default values
  toml/default_parameters.toml
Due: none

float32
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

CompatHelper: bump compat for CFTime in [weakdeps] to 0.2, (keep existing compat)
  Project.toml
Due: none

CompatHelper: bump compat for ClimaTimeSteppers to 0.8, (keep existing compat)
  Project.toml
Due: none

Update README with manuscript link (#1683)
  README.md
Due: none

gpp only, 3 g C m-2 day-1 noise
  experiments/calibration/generate_observations.jl
  experiments/calibration/run_calibration.jl
Due: none

debugging
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add generic site
  .buildkite/Manifest-v1.11.toml
  experiments/calibrate_neon/generate_observations.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-generic.jl
Due: none

adapted mainfest
  .buildkite/Manifest-v1.12.toml
Due: none

update ClimaCoupler env in downstream test
  .github/workflows/downstream.yml
Due: none

made everything independent from site scripts
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/set_Station.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-generic.jl
  src/Artifacts.jl
Due: none

conservation of energy [skip ci]
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

single site to debug NaN
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

run at a single site
  experiments/integrated/performance/single_site.jl
Due: none

wip: fix callmip UQ pipeline bugs (pkgdir, LAI, 12-param prior, AR defaults)
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/calibrate_dk_sor/slurm_gen_observations.sh
  experiments/callmip_uq_dk_sor/Project.toml
  experiments/callmip_uq_dk_sor/README_UQ.md
  experiments/callmip_uq_dk_sor/analyze_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/emulate_sample.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  experiments/callmip_uq_dk_sor/run_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/slurm_callmip_simulations.sh
  experiments/callmip_uq_dk_sor/slurm_emulate_sample.sh
  experiments/callmip_uq_dk_sor/slurm_posterior_ensemble.sh
  experiments/callmip_uq_dk_sor/write_callmip_netcdf.jl
Due: none

try TD branch with fix
  test/Manifest.toml
Due: none

SOC decay with depth, Sahara pixel run
  experiments/integrated/fluxnet/run_sahara_era5.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update ClimaParams compat
  .buildkite/Project.toml
  Project.toml
  docs/Project.toml
  test/Project.toml
Due: none

add Thermodynamics compat to all projects
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
  docs/Manifest.toml
  docs/Project.toml
  test/Project.toml
Due: none

Update and refactor benchmarks
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
  .buildkite/target/pipeline.yml
  Project.toml
  docs/Manifest-v1.12.toml
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/Simulations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update compat for CTS and ClimaUtilities
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
Due: none

restore to Tfreeze
  experiments/integrated/performance/single_site.jl
  src/integrated/soil_snow_model.jl
Due: none

making plots [skip ci]
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation_simulation.jl
Due: none

explicit and implicit radiation fluxes labeled [skip ci]
  NEWS.md
  docs/src/APIs/Drivers.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

(1.6.4) tag release, update deps
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

fix: RAI 17.5→1.5, Copernicus LAI, 12-param priors, DT=900, CES pipeline
  .gitignore
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_calibration_check.jl
  experiments/calibrate_dk_sor/run_alexis_test.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
  experiments/calibrate_dk_sor/slurm_alexis_test.sh
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/callmip_uq_dk_sor/ISSUES_AND_QUESTIONS.md
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/emulate_sample.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  submit_calibrate_then_ces.sh
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update calibration to use ClimaCalibrate v0.2.2
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  .buildkite/calibration/pipeline.yml
  docs/src/calibration.md
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/README.md
  experiments/calibration/gcp_slurm_calibration.sh
  experiments/calibration/generate_observations.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/observation_utils.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  experiments/calibration/slurm_calibration.sh
Due: none

update climacalibrate backend
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  .buildkite/calibration/pipeline.yml
  docs/src/calibration.md
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/README.md
  experiments/calibration/gcp_slurm_calibration.sh
  experiments/calibration/generate_observations.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/observation_utils.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  experiments/calibration/slurm_calibration.sh
Due: none

update after rebase --skip-ci
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
Due: none

update benchmark ref timings
  .buildkite/target/pipeline.yml
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
Due: none

rm cuda mem pool env vari --skip-ci
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
Due: none

Use c3_proportion for clm_photosynthesis_parameters
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/spatial_parameters.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
