Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

wip, reducing duplicate creation of time integrated vars by storing in model, making tendency more human readable, still need to think about duplicate computation in pmodel
  src/shared_utilities/time_integrated_variables.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Thermodynamics usage
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Experiments with soil albedo parameterizations
  dev/SoilAlbedo/README.md
  dev/SoilAlbedo/evaluate_albedo_models.jl
  dev/SoilAlbedo/fit_composition_albedo.jl
  experiments/long_runs/snowy_land_pmodel_soil_albedo.jl
  src/shared_utilities/drivers.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Formatting
  test/standalone/Soil/climate_drivers.jl
Due: none

Another coefficient try
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Another coefficient update
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update regression coefficients for better fit
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Yet more bias correction
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Doc updates
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add OfflineLinearSoilAlbedo to Ozark soil+snow experiment
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  src/standalone/Soil/soil_albedo.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

YEt another coefficient update
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip
  .buildkite/Manifest-v1.12.toml
  colens-gpu-250184.log
  experiments/comparison/benchmark_column_ensemble.jl
  experiments/comparison/compare_fluxnet_forcing_paths.jl
  experiments/comparison/compare_forcing_paths.jl
  experiments/comparison/fluxnet_model.jl
  experiments/comparison/fluxnet_netcdf.jl
  experiments/comparison/plot_column_ensemble_benchmark.jl
  experiments/comparison/sweep_column_ensemble.sh
  experiments/comparison/verify_netcdf_forcing.jl
  experiments/standalone/Soil/cpu/output_active
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/forcing.jl
  src/ext/FluxnetSimulations.jl
Due: none

Median and csv output
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4_frwd.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4_frwd.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4_frwd.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4_frwd.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Calibration.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Config.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun_median.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Pipeline.jl
  experiments/calibrate_neon_pipeline_AllDepth/src/model_interface_wLabile.jl
Due: none

Plotting tools
  .buildkite/pipeline.yml
  experiments/integrated/era5/single_site.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
Due: none

Update pipeline.yml typo
  .buildkite/pipeline.yml
Due: none

Update LandSimulationVisualizationExt.jl
  ext/LandSimulationVisualizationExt.jl
Due: none

snow surface temp parameterization speedup, upgrade to SF 1.2.1 and CL 1.11.0
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update plotting_utils.jl
  ext/land_sim_vis/plotting_utils.jl
Due: none

Fix the time-integrated-variable refactor so ClimaLand builds and runs
  docs/src/APIs/Simulations.md
  docs/src/APIs/SolverFunctions.md
  docs/src/APIs/canopy/LAI.md
  docs/src/standalone/pages/vegetation/photosynthesis/pmodel.md
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/time_integrated_variables.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/shared_utilities/time_integrated_variables.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Convert Fluxnet initial-condition scalars to the model float type
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

attempt to fix p100 error
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

retry
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Make the optimal-LAI climate inputs respond to the simulated climate
  AGENTS.md
  NEWS.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Partitioning plots, comparison to ERA5 at a site (#1819)
  .buildkite/pipeline.yml
  experiments/integrated/era5/single_site.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
Due: none

Add the loop prompt, which .gitignore had silently excluded [skip ci]
  experiments/calibration/unsupervised_loop/README.md
  experiments/calibration/unsupervised_loop/STATE.md
  experiments/calibration/unsupervised_loop/loop_prompt.md
Due: none

Let the long run produce an optimal-LAI initial condition [skip ci]
  experiments/calibration/unsupervised_loop/loop_prompt.md
  experiments/long_runs/snowy_land_pmodel.jl
  src/diagnostics/default_diagnostics.jl
Due: none

Set up the unsupervised prognostic-LAI calibration pipeline [skip ci]
  .claude/hooks/guard.sh
  .claude/unsupervised-loop.settings.json
  experiments/calibration/api.jl
  experiments/calibration/build_model_lai_validity_mask.jl
  experiments/calibration/configs/lai.jl
  experiments/calibration/configs/sifgpp_lhf_shf_lwu_rosetta.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/plot_energy_leaderboard.jl
  experiments/calibration/plot_inversion_leaderboard.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  experiments/calibration/unsupervised_loop/LOG.md
  experiments/calibration/unsupervised_loop/README.md
  experiments/calibration/unsupervised_loop/STATE.md
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Add prognostic-carbon model spec and unsupervised loop scaffolding [skip ci]
  .claude/hooks/guard.sh
  .claude/unsupervised-loop.settings.json
  experiments/integrated/prognostic_carbon/MODEL.md
  experiments/integrated/prognostic_carbon/unsupervised_loop/LOG.md
  experiments/integrated/prognostic_carbon/unsupervised_loop/README.md
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
  experiments/integrated/prognostic_carbon/unsupervised_loop/loop_prompt.md
Due: none

Score the LAI calibration on natural vegetation only [skip ci]
  experiments/calibration/build_natural_vegetation_mask.jl
  experiments/calibration/configs/lai.jl
  experiments/calibration/configs/sifgpp_lhf_shf_lwu_rosetta.jl
  experiments/calibration/generate_observations.jl
Due: none

Run the calibration orchestrator as a PBS job [skip ci]
  experiments/calibration/README.md
  experiments/calibration/calibration_orchestrator.pbs
  experiments/calibration/run_calibration.jl
  experiments/calibration/unsupervised_loop/README.md
  experiments/calibration/unsupervised_loop/STATE.md
  experiments/calibration/unsupervised_loop/loop_prompt.md
Due: none

Record design decisions and the on-Derecho ILAMB biomass reference paths [skip ci]
  experiments/integrated/prognostic_carbon/MODEL.md
Due: none

Record the pre-built natural-vegetation mask in the pipeline state [skip ci]
  experiments/calibration/unsupervised_loop/STATE.md
Due: none

Note that recyclable ERA5 forcing starts in 1979, not 1940 [skip ci]
  experiments/integrated/prognostic_carbon/MODEL.md
Due: none

Correct the loop prompt on login-node limits [skip ci]
  experiments/calibration/unsupervised_loop/loop_prompt.md
Due: none

Settle loop configuration: develop queue, prescribed LAI, held CO2, shared-depot rules [skip ci]
  experiments/integrated/prognostic_carbon/unsupervised_loop/STATE.md
  experiments/integrated/prognostic_carbon/unsupervised_loop/loop_prompt.md
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
