Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

remove show commands
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Remove thermal state from ClimaLand, use latest Thermodynamics package
  NEWS.md
  src/shared_utilities/utils.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

adapt output path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

resolved remaining merge conflict
  .buildkite/Project.toml
Due: none

resolved remaining merge conflict
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
Due: none

Ignore .toml files
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Artifacts.toml
  Project.toml
Due: none

changed output path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

Reproducer of bug
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Simplify reproducer
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

More simplification
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Reproducer kind of
  reproducer.jl
Due: none

Removes thermodynamic states in favor of functional TD calls (#1594)
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
  docs/src/APIs/Drivers.md
  ext/fluxnet_simulations/forcing.jl
  ext/neural_snow/NeuralSnow.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/shared_utilities/utils.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  src/standalone/Vegetation/pmodel.jl
  test/Project.toml
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

new input file only for summer
  src/Artifacts.jl
Due: none

adjust quantum yield params, others to default, fix Rd, fix rho_canopy
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/pmodel.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove long runs we dont look at
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
Due: none

make soil match other comp.
  NEWS.md
  docs/src/tutorials/standalone/Soil/evaporation.jl
  src/shared_utilities/drivers.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

spatially varying canopy height option (not used by default)
  docs/src/APIs/canopy/Canopy.md
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/runtests.jl
  test/standalone/Vegetation/spatial_parameters.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix doc string
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

move regional run to 2 step run in experiments
  .buildkite/pipeline.yml
  experiments/integrated/regional/land_region.jl
Due: none

Update land_region.jl
  experiments/integrated/regional/land_region.jl
Due: none

rm regional run
  .buildkite/pipeline.yml
  experiments/integrated/regional/land_region.jl
  experiments/standalone/Bucket/bucket_era5.jl
Due: none

Spatially varying canopy height (#1502)
  docs/src/APIs/canopy/Canopy.md
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/runtests.jl
  test/standalone/Vegetation/spatial_parameters.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update calibration scripts
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/run_calibration.jl
  toml/default_parameters.toml
Due: none

small changes [skip ci]
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/run_calibration.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

remove long runs we dont look at (#1612)
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/standalone/Bucket/bucket_era5.jl
Due: none

wip
  src/ClimaLand.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
Due: none

no nans for Ha!
  experiments/integrated/fluxnet/run_fluxnet.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  test/diagnostics/diagnostics_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

runs on clima [skip ci]
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added k_lw
  experiments/calibration/run_calibration.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/radiation.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Rename evap to is_liquid
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

added owus module
  src/standalone/Vegetation/.ipynb_checkpoints/owusmodel-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/pfts-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/pmodel-checkpoint.jl
  src/standalone/Vegetation/owusmodel.jl
  test/standalone/Vegetation/.ipynb_checkpoints/test_owus-checkpoint.jl
  test/standalone/Vegetation/test_owus.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make the soil use the same function for turbulent fluxes as the other components (#1609)
  NEWS.md
  docs/src/tutorials/standalone/Soil/evaporation.jl
  src/shared_utilities/drivers.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

uspac module added, calibration script for site-level
  experiments/calibration/.ipynb_checkpoints/owus_calibration_notebook-checkpoint.ipynb
  experiments/calibration/.ipynb_checkpoints/uspac_calibration-checkpoint.jl
  experiments/calibration/owus_calibration_notebook.ipynb
  experiments/calibration/uspac_calibration.jl
  src/standalone/Soil/.ipynb_checkpoints/Soil-checkpoint.jl
  src/standalone/Soil/.ipynb_checkpoints/soil_hydrology_parameterizations-checkpoint.jl
  src/standalone/Soil/.ipynb_checkpoints/spatially_varying_parameters-checkpoint.jl
  src/standalone/Soil/Biogeochemistry/.ipynb_checkpoints/Biogeochemistry-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/Canopy-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/photosynthesis-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/photosynthesis_farquhar-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/stomatalconductance-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/uspacmodel-checkpoint.jl
  src/standalone/Vegetation/uspacmodel.jl
  test/standalone/Vegetation/test_owus.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
