Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

biomass height, clamp bug, precip factor, precip split
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

fix fluxes [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

fix parameter [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

site specific params
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

addressing Kat review comments
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

refactor no minibatching
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

small fix
  experiments/calibrate_dk_sor/model_interface.jl
Due: none

calibration on hpc with climacalibrate
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

days valid all years for same dim
  experiments/calibrate_dk_sor/generate_observations.jl
Due: none

use hi res soil data to get site parameters
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

pad missing day as 0, large variance
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
Due: none

fix autotrophic respiration
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_eki_diagnostics.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix setup
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/prior_mean_parameters.toml
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
Due: none

wip
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

Fix errors in era5/subseasonal land IC
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

upgrade to Thermo 1.1, 1.12 Manifests [skip ci]
  .buildkite/Manifest-v1.12.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
Due: none

Julia1.10 Manifests
  .buildkite/Manifest.toml
  docs/Manifest.toml
Due: none

update PR number
  NEWS.md
Due: none

remove test compat for Therm
  test/Project.toml
Due: none

fix tr diag
  src/diagnostics/land_compute_methods.jl
Due: none

update manifest
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

run calibrations possible
  .buildkite/Manifest-v1.11.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  src/Artifacts.jl
Due: none

Retain 0.15.6 compat
  Project.toml
Due: none

Release ClimaLand 1.6.1 (#1667)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  test/Project.toml
Due: none

Update Thermodynamics usage
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Another coefficient update
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Another coefficient try
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Yet more bias correction
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update regression coefficients for better fit
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Revert driver changes
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Experiments with soil albedo parameterizations
  dev/SoilAlbedo/README.md
  dev/SoilAlbedo/evaluate_albedo_models.jl
  dev/SoilAlbedo/fit_composition_albedo.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/shared_utilities/drivers.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Formatting
  test/standalone/Soil/climate_drivers.jl
Due: none

YEt another coefficient update
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Doc updates
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

(1.6.2) update SurfaceFluxes compat for v1
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Fleshed out NeuralAlbedoModel, added tests, remove vestigial code in pipeline.yml
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/longruns_gpu/pipeline.yml
  docs/src/available_models.md
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/NeuralSnow.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/conservation.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
  test/standalone/Snow/tool_tests.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove manual addition of SurfaceFluxes main branch
  .buildkite/pipeline.yml
Due: none

add in NeuralAlbedo functionality, prepare for global runs (#1659)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/longruns_gpu/pipeline.yml
  .buildkite/pipeline.yml
  docs/src/available_models.md
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/NeuralSnow.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/conservation.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
  test/standalone/Snow/tool_tests.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
