Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Compare modeled soil temperature with FLUXNET observations at sensor depth
  NEWS.md
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  ext/LandSimulationVisualizationExt.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/diagnostic.jl
  src/ext/FluxnetSimulations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/fluxnet_sim.jl
Due: none

Fix off-diagonal soil Jacobian block ∂(ρe_int residual)/∂ϑ_l
  src/standalone/Soil/energy_hydrology.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Store the snow surface temperature with its turbulent fluxes
  NEWS.md
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/restart.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix conduction lengths in snow-soil and lake-soil heat fluxes
  NEWS.md
  src/integrated/soil_snow_model.jl
  src/standalone/InlandWater/lake_parameterizations.jl
Due: none

Compute the snow surface temperature and turbulent fluxes in one solve
  NEWS.md
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Solve for the soil skin temperature and fix surface boundary-condition issues (#1894)
  NEWS.md
  docs/src/APIs/soil/Soil.md
  docs/src/refs.bib
  docs/src/standalone/pages/soil/physics/energy_model.md
  docs/src/tutorials/shared_utilities/timestepping.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  ext/LandSimulationVisualizationExt.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/diagnostic.jl
  src/diagnostics/land_compute_methods.jl
  src/ext/FluxnetSimulations.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/fluxnet_sim.jl
  test/integrated/restart.jl
  test/integrated/soil_snow.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update compat to use ClimaAnalysis v0.5.24
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
  docs/Manifest-v1.12.toml
Due: none

Use NaN-aware regridding in postprocessing
  NEWS.md
  docs/src/leaderboard/leaderboard.md
  experiments/calibration/generate_observations.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
  ext/land_sim_vis/leaderboard/partitioning.jl
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

Fix typo in NEWS.md
  NEWS.md
Due: none

Score ClimaLand energy RMSE against the cohort's benchmarks
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

runs with hardcoded paths
  experiments/calibration/generate_observations.jl
  experiments/calibration/run_calibration.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Replace the LE boxplot panel with ET against GLEAM v3.3a
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

derecho specific paths and add snow neural models
  experiments/calibration/configs/scf.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/models/snowy_land.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  toml/default_parameters.toml
Due: none

fix config path
  experiments/calibration/run_calibration.jl
Due: none

Compare the tree share with CLM and run the optimal-LAI long run for 3 years
  .gitignore
  NEWS.md
  artifacts/clm_tree_share/clm_tree_share.nc
  artifacts/clm_tree_share/create_clm_tree_share.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Include soil-moisture stress in the realized C3 GPP of the competition
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use plant area index (LAI + SAI) for canopy radiation and heat exchange and scale Farquhar capacities
  NEWS.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  src/shared_utilities/show_methods.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/standalone/Vegetation/conservation.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Require restart-reproducible initial guesses in AGENTS.md
  AGENTS.md
Due: none

Fix FLUXNET initial conditions, soil liquid water update, and soil flux diagnostics
  NEWS.md
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/default_diagnostics.jl
  src/standalone/Soil/energy_hydrology.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/fluxnet_sim.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Set canopy displacement height coefficient canopy_d_coeff to 0.67
  NEWS.md
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Use the SurfaceFluxes MaxHeatFluxStabilityCap for stable land surface fluxes
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/src/APIs/Drivers.md
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/runtests.jl
  test/shared_utilities/stability_cap.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Attenuate sub-canopy wind speed and prevent reverse stomatal condensation
  NEWS.md
  docs/src/APIs/canopy/Canopy.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/runtests.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Apply P-model moisture stress instantaneously and use field capacity in PiecewiseMoistureStressModel
  NEWS.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix surface flux audit findings
  NEWS.md
  src/diagnostics/define_diagnostics.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/utils.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

debugging [skip ci]
  experiments/integrated/fluxnet/run_fluxnet_default.jl
  src/diagnostics/default_diagnostics.jl
  src/standalone/Vegetation/radiation.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add max LAI
  Artifacts.toml
Due: none

Compute the C3/C4 competition with its own P-model β
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add a vegetation leaderboard: LAI, C3 fraction and tree share
  NEWS.md
  experiments/long_runs/snowy_land_pmodel.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Follow Zhou et al. (2025) in the optimal-LAI model and weight z by tree share
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  ext/land_sim_vis/leaderboard/data_sources.jl
  src/Artifacts.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix the masked NaN count for multi-component fields
  NEWS.md
  src/shared_utilities/utils.jl
  test/shared_utilities/utilities.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Compare the vegetation leaderboard over natural vegetation only
  .gitignore
  NEWS.md
  artifacts/clm_crop_fraction/clm_crop_fraction.nc
  artifacts/clm_crop_fraction/create_clm_crop_fraction.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  src/Artifacts.jl
Due: none

Save the final optimal-LAI state of the optimal-LAI long run
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  experiments/long_runs/optimal_lai_state.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Scale the GPP behind the competition's tree share to a year-long season
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add a spin-up of the optimal-LAI model for the long runs' initial state
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  experiments/long_runs/optimal_lai_spinup.jl
  experiments/long_runs/optimal_lai_spinup.toml
Due: none

Start the optimal LAI from its spin-up and add a climate tree share
  .buildkite/longruns_gpu/pipeline.yml
  .gitignore
  NEWS.md
  artifacts/optimal_lai_state/optimal_lai_state.nc
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/long_runs/optimal_lai_spinup.jl
  experiments/long_runs/optimal_lai_state.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  src/Artifacts.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Run the default LandModel at any FLUXNET2015 site
  .buildkite/pipeline.yml
  AGENTS.md
  Artifacts.toml
  NEWS.md
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/list_fluxnet_sites.jl
  experiments/integrated/generic_site/run_generic_site.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
  src/ext/FluxnetSimulations.jl
  test/integrated/fluxnet_sim.jl
Due: none

Run the default LandModel at any FLUXNET2015 site (#1896)
  .buildkite/pipeline.yml
  AGENTS.md
  Artifacts.toml
  NEWS.md
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/list_fluxnet_sites.jl
  experiments/integrated/generic_site/run_generic_site.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
  src/ext/FluxnetSimulations.jl
  test/integrated/fluxnet_sim.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
