Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Set canopy displacement height coefficient canopy_d_coeff to 0.67
  NEWS.md
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Use the SurfaceFluxes MaxHeatFluxStabilityCap for stable land surface fluxes
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/src/APIs/Drivers.md
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/runtests.jl
  test/shared_utilities/stability_cap.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Fix FLUXNET initial conditions, soil liquid water update, and soil flux diagnostics
  NEWS.md
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/default_diagnostics.jl
  src/standalone/Soil/energy_hydrology.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/fluxnet_sim.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

snow cover parameterization option
  scf_topography_artifact.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use plant area index (LAI + SAI) for canopy radiation and heat exchange and scale Farquhar capacities
  NEWS.md
  docs/src/APIs/canopy/Photosynthesis.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  src/shared_utilities/show_methods.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/standalone/Vegetation/conservation.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Evaluate ground fluxes below a canopy at a sub-canopy reference height coupled to the canopy air
  NEWS.md
  docs/src/APIs/canopy/Canopy.md
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/runtests.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Fix surface flux audit findings
  AGENTS.md
  NEWS.md
  src/diagnostics/define_diagnostics.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/utils.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add convective gustiness to land surface fluxes
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/src/APIs/Drivers.md
  experiments/standalone/Bucket/global_bucket_function.jl
  experiments/standalone/Bucket/global_bucket_temporalmap.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/forcing.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/shared_utilities/show_methods.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/shared_utilities/drivers.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Apply P-model moisture stress instantaneously and use field capacity in PiecewiseMoistureStressModel
  NEWS.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Soil/retention_models.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add screen-level diagnostics t2m, q2m, and u10m
  NEWS.md
  docs/src/APIs/Drivers.md
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/screen_level.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/drivers.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Bury the canopy in snow in the integrated land models
  NEWS.md
  docs/src/APIs/canopy/Biomass.md
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add a litter layer resistance to soil evaporation
  NEWS.md
  docs/src/APIs/soil/Soil.md
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Initialize FLUXNET soil columns with depth-dependent, climatological profiles
  NEWS.md
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

Use the moist-season VPD and tree leaf retention in the optimal LAI
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/long_runs/optimal_lai_state.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use the ClimaCore tr/broadcast-compile-time branch in the target pipeline
  .buildkite/target/pipeline.yml
Due: none

Default to the climate tree share; add snowmelt and a season-scaled leaf cost
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/calibration/optimal_lai_emulator/README.md
  experiments/calibration/optimal_lai_emulator/calibrate.jl
  experiments/calibration/optimal_lai_emulator/data.jl
  experiments/calibration/optimal_lai_emulator/model.jl
  experiments/calibration/optimal_lai_emulator/run.jl
  experiments/calibration/optimal_lai_emulator/snow.jl
  experiments/long_runs/optimal_lai_state.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make the model structs mutable so closures hold a reference, not a copy
  NEWS.md
  src/integrated/land.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add an optimal-LAI calibration against MODIS LAI and the tree share [skip ci]
  NEWS.md
  experiments/calibration/README.md
  experiments/calibration/api.jl
  experiments/calibration/configs/lai_and_trees.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Add bounded state-dependent corrections of conductance, clumping and soil albedo
  NEWS.md
  docs/src/APIs/canopy/StomatalConductance.md
  src/ClimaLand.jl
  src/shared_utilities/state_corrections.jl
  src/standalone/Soil/soil_albedo.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/runtests.jl
  test/shared_utilities/state_corrections.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Temporarily raise leaf NIR single-scattering albedo of broad leaves and grasses
  NEWS.md
  src/standalone/Vegetation/radiation.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Set the canopy scalar roughness length from kB⁻¹ = 2
  NEWS.md
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use the Raupach (1994) canopy roughness length and displacement height (temporary)
  NEWS.md
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Lower the temporary leaf NIR omega floor to 0.76
  NEWS.md
  src/standalone/Vegetation/radiation.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Refit the conductance correction after the NIR, kB⁻¹ and Raupach changes
  NEWS.md
  experiments/integrated/fluxnet/conductance_correction_fluxnet2015.toml
  experiments/integrated/fluxnet/conductance_correction_fluxnet2015.toml.metadata.json
Due: none

Score FLUXNET2015 sites against the ILAMB land-hist models on Buildkite
  .buildkite/pipeline.yml
  docs/src/repo_structure.md
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/fluxnet_ilamb_rmse_plot.jl
  experiments/integrated/generic_site/fluxnet_ilamb_rmse_sites.jl
  experiments/integrated/generic_site/ilamb_land_hist_site_rmse.csv
  experiments/integrated/generic_site/ilamb_land_hist_site_rmse.jl
Due: none

Update benchmark ref times
  experiments/benchmarks/bucket.jl
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  experiments/long_runs/soil.jl
Due: none

Split the leaderboard MON panel by hemisphere
  NEWS.md
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Score FLUXNET2015 sites against the ILAMB land-hist models weekly
  .buildkite/fluxnet_ilamb/pipeline.yml
  docs/src/repo_structure.md
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/fluxnet_ilamb_rmse_plot.jl
  experiments/integrated/generic_site/fluxnet_ilamb_rmse_sites.jl
  experiments/integrated/generic_site/ilamb_land_hist_site_rmse.csv
  experiments/integrated/generic_site/ilamb_land_hist_site_rmse.jl
Due: none

Add NEWS entry for the weekly FLUXNET2015 RMSE pipeline
  NEWS.md
Due: none

pre calibration script and in CL [skip ci]
  Project.toml
  pre_calibrate_environmental.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/radiation.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

parent 5638de8dc8fb1a534ee6446bc8155296e0407454 author kmdeck <kdeck@caltech.edu> 1789748080 -0700 committer kmdeck <kdeck@caltech.edu> 1791499006 -0700
  src/integrated/soil_canopy_root_interactions.jl
  src/shared_utilities/drivers.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add a CRUJRA column-ensemble calibration pipeline
  .buildkite/pipeline.yml
  NEWS.md
  experiments/calibration/README.md
  experiments/calibration/crujra_columns/README.md
  experiments/calibration/crujra_columns/analysis.jl
  experiments/calibration/crujra_columns/columns.csv
  experiments/calibration/crujra_columns/config.jl
  experiments/calibration/crujra_columns/model_interface.jl
  experiments/calibration/crujra_columns/observations.jl
  experiments/calibration/crujra_columns/run_calibration.jl
  experiments/calibration/crujra_columns/select_columns.jl
  experiments/calibration/crujra_columns/tmp_artifacts/ilamb_fluxcom_energy/hfls_FLUXCOM_hfls.nc
  experiments/calibration/crujra_columns/tmp_artifacts/ilamb_fluxcom_energy/hfss_FLUXCOM_hfss.nc
Due: none

Add PR number to NEWS
  NEWS.md
Due: none

Mask hemispheres with view_select and validate the hemisphere
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Fix CI failures in spatially varying canopy height PR
  src/shared_utilities/drivers.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/full_land.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Run the CRUJRA calibration on a 4-GPU node
  .buildkite/pipeline.yml
  experiments/calibration/crujra_columns/README.md
  experiments/calibration/crujra_columns/run_calibration.jl
Due: none

Release v1.13.0
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none
