Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Release 1.0.2
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

fix bug where runoff was not being set in diagnostics (#1557)
  src/diagnostics/land_compute_methods.jl
Due: none

still wip [skip ci]
  src/ClimaLand.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add diagnostics
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/Soil.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

news [skip ci]
  NEWS.md
Due: none

update IC file
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Runoff/Runoff.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

change longer run to pmodel
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Update pipeline.yml
  .buildkite/longruns_gpu/pipeline.yml
Due: none

compute fluxes when using CoupledAtmosphere and LandModel
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/src/tutorials/shared_utilities/driver_tutorial.jl
  docs/src/tutorials/standalone/Bucket/coupled_bucket.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

compute fluxes when using CoupledAtmosphere and LandModel (#1538)
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/src/tutorials/shared_utilities/driver_tutorial.jl
  docs/src/tutorials/standalone/Bucket/coupled_bucket.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

serve longrun web dashboard
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Global fluxnet simulations
  .buildkite/pipeline.yml
  Artifacts.toml
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/Artifacts.jl
  src/standalone/Vegetation/pfts.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/fluxnet_sim.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

move biogeochem test to buildkite
  .buildkite/pipeline.yml
  experiments/standalone/Biogeochemistry/biogeochemistry_module.jl
  test/runtests.jl
Due: none

debugging instability [skip ci]
  experiments/long_runs/snowy_land.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix typo
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update sf compat
  Project.toml
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

steady state ph [skip ci]
  docs/src/APIs/canopy/PlantHydraulics.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/pmodel.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/integrated/soil_canopy_lsm.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

reduce diff [skip ci]
  docs/src/APIs/canopy/PlantHydraulics.md
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

serve longrun web dashboard (#1558)
  .buildkite/longruns_gpu/pipeline.yml
Due: none

cleanup [skip ci]
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove PrescribedTranspiration
  docs/src/APIs/canopy/PlantHydraulics.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fluxnet comparison data timestamp change
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

Update canopy_energy.jl [skip ci]
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fixing tests
  src/standalone/Vegetation/PlantHydraulics.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

modified: Project.toml modified: src/integrated/soil_snow_model.jl modified: src/shared_utilities/drivers.jl modified: test/integrated/soil_snow.jl
  Project.toml
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  test/integrated/soil_snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/standalone/Vegetation/timestep_test.jl
  src/shared_utilities/models.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

there's an error but it's too long so i gotta save the output into a file
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  ext/fluxnet_simulations/generic_site.jl
  src/Artifacts.jl
Due: none

it was because i was messing around with date ranges in the wrong scope
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  src/Artifacts.jl
Due: none

failed docbuild because i forgot to delete references to get_fluxtower_height
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/integrated/fluxnet_data.jl
  docs/src/tutorials/integrated/snowy_land_fluxnet_tutorial.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  src/ext/FluxnetSimulations.jl
Due: none

CompatHelper: bump compat for ClimaDiagnostics to 0.3, (keep existing compat)
  Project.toml
Due: none

path fix
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Do not shift dates for ILAMB
  experiments/ilamb/ilamb_conversion.jl
Due: none

Remove shifting dates for simulation data
  docs/src/leaderboard/leaderboard.md
  docs/src/tutorials/global/bucket.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

Update compat for ClimaDiagnostics to 0.3.0
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

Fix bug with ILAMB
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

remove PrescribedTranspiration
  docs/src/APIs/canopy/PlantHydraulics.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
