Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

load extension
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/soil_snow_model.jl
Due: none

fix bug
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Add inversion_nee artifact (NEE/GPP/ER/Rh, 2002-2020) (#1760)
  Artifacts.toml
  NEWS.md
  src/Artifacts.jl
Due: none

Update Manifests to use ClimaCore 0.14.53
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  test/integrated/full_land.jl
Due: none

wip [skip ci]
  experiments/long_runs/single_site.jl
  experiments/long_runs/single_site_soil.jl
  soil_main_no_water_fluxes_long/global_diagnostics/output_active
  soil_main_no_water_fluxes_long/parameters.toml
  soil_main_no_water_fluxes_long_eastern/global_diagnostics/output_active
  soil_main_no_water_fluxes_long_eastern/parameters.toml
  soil_main_no_water_fluxes_long_eastern_kersten/global_diagnostics/output_active
  soil_main_no_water_fluxes_long_eastern_kersten/parameters.toml
  src/simulations/initial_conditions.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

clarify which terms are implicit vs explicit, use ClimaTimesteppers cache_imp functionality
  NEWS.md
  docs/src/APIs/SolverFunctions.md
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/energy_hydrology.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Soil/conservation.jl
  test/standalone/Soil/mask_test.jl
  test/standalone/Soil/soil_test_3d.jl
  test/standalone/Soil/soiltest.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Working state
  .buildkite/Manifest.toml
  ext/fluxnet_simulations/generic_site.jl
  sim_with_new_space.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/utils.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

clarify which terms are implicit vs explicit, use ClimaTimesteppers cache_imp functionality (#1757)
  NEWS.md
  docs/src/APIs/SolverFunctions.md
  experiments/benchmarks/richards.jl
  experiments/benchmarks/snowy_land.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/energy_hydrology.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/shared_utilities/variable_types.jl
  test/standalone/Soil/conservation.jl
  test/standalone/Soil/mask_test.jl
  test/standalone/Soil/soil_test_3d.jl
  test/standalone/Soil/soiltest.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

use CC 0.50
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
Due: none

use latest CC
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
Due: none

mod pipeline
  .buildkite/target/pipeline.yml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  experiments/benchmarks/benchmark_utils.jl
  experiments/benchmarks/richards.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

use CC 0.51
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
Due: none

run at a single site [skip ci]
  check_soil_temp.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/single_site.jl
  experiments/long_runs/single_site_soil.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  experiments/long_runs/tmp.jl
  make_mean_air_temp.jl
  make_plot_permafrost.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

callmip: sync DK-Sor scientific fixes, readiness gates, and watchdog
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_alexis_test.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/run_posterior_ensemble.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
  scripts/callmip_watchdog.sh
  src/ext/FluxnetSimulations.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test_callmip_pipeline.sh
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

test
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

callmip: fix soilco2 O2_f Jacobian block and stabilize readiness smoke
  src/shared_utilities/implicit_timestepping.jl
  test_callmip_pipeline.sh
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix diagnostics
  src/diagnostics/land_compute_methods.jl
Due: none

wip [skip ci]
  experiments/long_runs/soil.jl
  make_plot_permafrost.jl
  src/Artifacts.jl
  src/shared_utilities/drivers.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

.50
  .buildkite/Manifest-v1.12.toml
  .buildkite/target/pipeline.yml
  experiments/benchmarks/benchmark_utils.jl
Due: none

run with rosetta
  experiments/long_runs/soil.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

ic
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

new artifact
  Artifacts.toml
  experiments/integrated/era5/single_site.jl
  src/Artifacts.jl
  src/integrated/land.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

correct file and clip Ksat
  Artifacts.toml
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix ic bug
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

mod pipe
  .buildkite/target/pipeline.yml
  experiments/benchmarks/benchmark_utils.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/models.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

mod pipeline
  .buildkite/target/pipeline.yml
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix
  .buildkite/target/pipeline.yml
Due: none

add global int means and MSE analysis
  experiments/long_runs/acthesis/avg_check.jl
  experiments/long_runs/acthesis/compare_models.jl
  experiments/long_runs/acthesis/output_plots.jl
Due: none

bugfix1
  experiments/long_runs/acthesis/output_plots.jl
Due: none

bugfix2
  experiments/long_runs/acthesis/output_plots.jl
Due: none

fix2
  experiments/benchmarks/benchmark_utils.jl
Due: none

fix
  .buildkite/target/pipeline.yml
  experiments/benchmarks/benchmark_utils.jl
Due: none

add different global int calculation
  experiments/long_runs/acthesis/output_plots.jl
Due: none

bugfix3
  experiments/long_runs/acthesis/output_plots.jl
Due: none

wip [skip ci]
  experiments/long_runs/single_site_soil.jl
  experiments/long_runs/soil.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

remove param [skip ci]
  src/integrated/soil_snow_model.jl
Due: none

fix bug [skip ci]
  src/integrated/soil_snow_model.jl
Due: none

fix bug [skip ci]
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/long_runs/single_site.jl
  src/shared_utilities/drivers.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
