Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

CompatHelper: bump compat for SurfaceFluxes to 1, (keep existing compat)
  Project.toml
Due: none

wip
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
Due: none

fix pmodel gpp for c4
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix porosity bug
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Bump ci
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

Bump ci 2
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

wip
  src/shared_utilities/Domains.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  test/integrated/full_land.jl
  test/standalone/Soil/inland_water_column_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bump ci
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

Change threshold value from 50.0 to 80.0
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  test/standalone/Soil/inland_water_column_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

remove Ref from src
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

change station
  .buildkite/Manifest-v1.11.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
Due: none

change station
  experiments/calibrate_neon/plot_eki_diagnostics.jl
Due: none

remove Ref from src (#1671)
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

with c3 c4 partition
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/spatial_parameters.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update calibration to use latest ClimaCalibrate
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  docs/src/calibration.md
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/gcp_slurm_calibration.sh
  experiments/calibration/generate_observations.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/observation_utils.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  experiments/calibration/slurm_calibration.sh
Due: none

Temp fix for CI library issues
  .buildkite/pipeline.yml
Due: none

Temp fix for CI library issues (#1674)
  .buildkite/pipeline.yml
Due: none

Fix SOC conversion for ILAMB: integrate over soil depth
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Fix SOC conversion for ILAMB: integrate over soil depth (#1662)
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Drop support for ClimaDiagnostics [0.2.13, 0.3)
  Project.toml
Due: none

Remove ClimaCore pkgversion checks
  NEWS.md
  src/ClimaLand.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/compat.jl
  test/integrated/full_land.jl
  test/standalone/Bucket/restart.jl
  test/standalone/Soil/mask_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Removes type restrictions for CTS compatibility
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Bump patch release
  Project.toml
Due: none

Removes type restrictions for CTS compatibility (#1679)
  Project.toml
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use air temperature instead of canopy
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/calibration/generate_observations.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

don't compute fluxes in coupled case
  src/standalone/Bucket/Bucket.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

add helper function for surface humidity function
  docs/src/APIs/Drivers.md
  src/standalone/Bucket/bucket_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

qualify function correctly
  docs/src/APIs/Drivers.md
  src/standalone/Bucket/bucket_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

add diagnostics for global runs
  experiments/long_runs/global_thesis_runs.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

fix filepath
  experiments/long_runs/global_thesis_runs.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
