Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

toml update
  .buildkite/Manifest-v1.11.toml
  .gitignore
Due: none

fix buildkite issure
  .buildkite/Project.toml
Due: none

toml change
  .buildkite/.buildkite/Project.toml
  .buildkite/Manifest-v1.11.toml
Due: none

fallback to global parameters
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/NEON_cper_pft_globalParam.jl
  src/Artifacts.jl
Due: none

fix divide by zero
  src/standalone/Soil/soil_heat_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

up to 1.5.2
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

fix minor bugs
  .buildkite/Manifest-v1.11.toml
  .buildkite/Project.toml
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

update news
  NEWS.md
Due: none

remove additional site specific parameters
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

added owus module
  src/standalone/Vegetation/.ipynb_checkpoints/owusmodel-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/pfts-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/pmodel-checkpoint.jl
  src/standalone/Vegetation/owusmodel.jl
  test/standalone/Vegetation/.ipynb_checkpoints/test_owus-checkpoint.jl
  test/standalone/Vegetation/test_owus.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

uspac module added, calibration script for site-level
  experiments/calibration/.ipynb_checkpoints/owus_calibration_notebook-checkpoint.ipynb
  experiments/calibration/.ipynb_checkpoints/uspac_calibration-checkpoint.jl
  experiments/calibration/owus_calibration_notebook.ipynb
  experiments/calibration/uspac_calibration.jl
  src/standalone/Soil/.ipynb_checkpoints/Soil-checkpoint.jl
  src/standalone/Soil/.ipynb_checkpoints/soil_hydrology_parameterizations-checkpoint.jl
  src/standalone/Soil/.ipynb_checkpoints/spatially_varying_parameters-checkpoint.jl
  src/standalone/Soil/Biogeochemistry/.ipynb_checkpoints/Biogeochemistry-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/Canopy-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/photosynthesis-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/photosynthesis_farquhar-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/stomatalconductance-checkpoint.jl
  src/standalone/Vegetation/.ipynb_checkpoints/uspacmodel-checkpoint.jl
  src/standalone/Vegetation/uspacmodel.jl
  test/standalone/Vegetation/test_owus.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

gitignore update
  .gitignore
Due: none

added sync shell scripts
  sync_from_derecho.sh
  sync_to_tofu.sh
Due: none

Add missing Artifacts.toml
  Artifacts.toml
Due: none

added calibration script with fallback to global parameters
  .buildkite/Manifest-v1.11.toml
  .buildkite/Project.toml
  experiments/integrated/fluxnet/calibrate_sco2_cper_global.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

fix divide by zero (#1623)
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  src/standalone/Soil/soil_heat_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip [skip ci]
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/diagnostic_canopy.jl
  test/standalone/Vegetation/canopy_diagnostic_temperature.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add CalMIP Phase 1a site integration
  docs/CALLMIP_QUICKSTART.md
  docs/CALLMIP_SETUP.md
  docs/CALLMIP_SUMMARY.md
  experiments/integrated/fluxnet/callmip_dksor.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/data_processing.jl
  src/Artifacts.jl
Due: none

restart conservation checker [skip ci]
  ext/LandSimulationVisualizationExt.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update CalMIP DK-Sor simulation with NetCDF outputs
  experiments/integrated/fluxnet/CALLMIP_README.md
  experiments/integrated/fluxnet/callmip_dksor.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

Calibrate NEON soil co2
  .buildkite/longruns_gpu/pipeline.yml
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-cper.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/diagnostics/diagnostics_tests.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

LW/SW split [skip ci]
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update experiments/integrated/fluxnet/callmip_dksor.jl
  experiments/integrated/fluxnet/callmip_dksor.jl
Due: none

fix tests
  test/integrated/soil_snow.jl
  test/standalone/Vegetation/canopy_model.jl
Due: none

conservation possibly holds
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

tag v1.5.3
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

adjust quantum yield params, others to default, fix Rd, fix rho_canopy
  NEWS.md
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/run_calibration.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

revert calibration files to main
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/run_calibration.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Setup CPER station
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-cper.jl
  src/Artifacts.jl
Due: none

adapt
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

Recalibrate land model (#1613)
  NEWS.md
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_spatially_varying_canopy_height.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

optimal lai in biomass
  data_laiopt/initial_conditions.jl
  data_laiopt/initial_conditions.nc
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

send to VM
  .buildkite/longruns_gpu/pipeline.yml
Due: none

works for Ozark. Testing one timestep global.
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

multiple fixes...
  NEWS.md
  data_laiopt/optimal_lai_inputs.jl
  data_laiopt/optimal_lai_inputs.nc
  docs/list_of_apis.jl
  docs/list_standalone_models.jl
  docs/src/APIs/canopy/LAI.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/Artifacts.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

precip converted only once, not twice
  data_laiopt/optimal_lai_inputs.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
