Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Add CES emulate + sample pipeline (#1764)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  .github/workflows/downgrade.yml
  .gitignore
  NEWS.md
  docs/Manifest-v1.12.toml
  docs/Project.toml
  docs/list_tutorials.jl
  docs/src/tutorials/calibration/perfect_model_ces_predictive_offline.png
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
  src/diagnostics/default_diagnostics.jl
Due: none

adding RegressionRunoff option to Runoff.jl
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

Use S_eff instead of S_abs in RegressionRunoff
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

Update Manifests
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

set values over land to reasonable values, BDT or mean
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

c3 and c4 plants in parallel for evaporation
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

set values over land to reasonable values, BDT or mean (#1776)
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Remove short-performance pipeline
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
Due: none

canopy energy attempt [skip ci]
  ext/fluxnet_simulations/initial_conditions.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/canopy_energy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove SAI from energy tendency, LW_u, turbulent fluxes
  docs/src/standalone/pages/vegetation/canopy_energy/canopy_energy.md
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update NEWS
  NEWS.md
Due: none

fix test
  test/standalone/Vegetation/conservation.jl
Due: none

fix bug for opt lai on gpu [skip ci]
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use Rosetta soil + Rosetta IC for all calibration runs
  experiments/calibration/api.jl
  experiments/calibration/configs/sifgpp_lhf_shf_lwu_rosetta.jl
  experiments/calibration/models/snowy_land.jl
Due: none

bug fix attempt
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bug fix
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

calibrate er (ar only) [skip ci]
  experiments/calibration/configs/ar_res_er.jl
  toml/default_parameters.toml
Due: none

add lai calibration config
  experiments/calibration/api.jl
  experiments/calibration/configs/lai.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

new hash new lai input v
  Artifacts.toml
Due: none

rh calibration [skip ci]
  experiments/calibration/configs/inv_hr_damm.jl
Due: none

inversion leaderboard in longrun ci
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Inversion NEE/GPP/ER/Rh + LHF/SHF/LWU calibration
  experiments/calibration/README.md
  experiments/calibration/configs/inversionnee_sifgpp_er_lhf_shf_lwu.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

WIP [skip ci]
  experiments/calibration/api.jl
  experiments/calibration/configs/sifgpp_lhf_shf_lwu_rosetta.jl
  experiments/calibration/models/snowy_land.jl
Due: none

fix prognostic lai bug, height = 1m, not clm
  experiments/calibration/configs/lai.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

new params for AR
  toml/default_parameters.toml
Due: none

Fix prognostic-LAI canopy height NaN and missing component constructors
  Artifacts.toml
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

DK-Sor CalLMIP Phase 1a: site-level calibration + UQ pipeline
  Artifacts.toml
  experiments/callmip_dksor/assemble_continuous_ensemble.jl
  experiments/callmip_dksor/emulate_sample.jl
  experiments/callmip_dksor/generate_observations.jl
  experiments/callmip_dksor/make_eki_posterior.jl
  experiments/callmip_dksor/model_runner.jl
  experiments/callmip_dksor/priors.jl
  experiments/callmip_dksor/run_calibration.jl
  experiments/callmip_dksor/run_callmip_continuous.jl
  experiments/callmip_dksor/test/test_callmip_output.jl
  experiments/callmip_dksor/write_callmip_netcdf.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
  src/Artifacts.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/ext/FluxnetSimulations.jl
Due: none

spinup with new parameter set [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/spinup_model.jl
  src/Artifacts.jl
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix path [skip ci]
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

try longer run with spun up IC [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
  src/Artifacts.jl
Due: none

fix paths
  experiments/long_runs/spinup_model.jl
Due: none

fix paths
  .buildkite/longruns_gpu/pipeline.yml
  Artifacts.toml
  src/Artifacts.jl
Due: none

Fix prognostic-LAI canopy height NaN and missing component constructors (#1783)
  Artifacts.toml
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use fixed artifacts related to rosetta parameters (#1779)
  Artifacts.toml
  src/Artifacts.jl
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

snow surface temp parameterization speedup
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use new SF package [skip ci]
  .buildkite/Manifest-v1.12.toml
  docs/Manifest-v1.12.toml
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

restore indexing [skip ci]
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

use Akshay's branch [skip ci]
  .buildkite/Manifest-v1.12.toml
  docs/Manifest-v1.12.toml
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
