Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

still wip [skip ci]
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

implicit cache [skip ci]
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

generalize to nothing co2 models
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add docs [skip ci]
  docs/src/APIs/AuxiliaryVariablesCache.md
  src/ClimaLand.jl
  src/shared_utilities/models.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix tests
  test/shared_utilities/domains.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
Due: none

Final updated cla.yml
  .github/workflows/cla.yml
Due: none

style: remove indentation
  .github/workflows/cla.yml
Due: none

wip [skip ci]
  .buildkite/Manifest-v1.11.toml
  .buildkite/longruns_gpu/pipeline.yml
  Project.toml
  docs/Manifest-v1.11.toml
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/utils.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/runtests.jl
  test/standalone/Bucket/snow_bucket_tests.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

small changes [skip ci]
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

documentation and name changes, return buoyancy flux
  docs/src/APIs/Drivers.md
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/runtests.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix bug, run long run
  NEWS.md
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bucket bug, update pipeline for buildkite [skip ci]]
  .buildkite/pipeline.yml
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

debugging
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

implicit cache
  docs/src/APIs/AuxiliaryVariablesCache.md
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
  test/shared_utilities/domains.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Removes thermodynamic states in favor of functional TD calls
  docs/src/APIs/Drivers.md
  ext/neural_snow/NeuralSnow.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  src/standalone/Vegetation/pmodel.jl
  test/debug_rh.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Project.toml and formatting
  Project.toml
  src/shared_utilities/drivers.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Delete debug files
  test/debug_rh.jl
Due: none

Method error workaround
  ext/neural_snow/NeuralSnow.jl
Due: none

Misising TD import in big leaf test
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: none

CompatHelper: bump compat for Insolation to 1, (keep existing compat)
  Project.toml
Due: none

Docbuild
  docs/make.jl
  docs/src/APIs/Drivers.md
Due: none

implicit cache (#1559)
  docs/src/APIs/AuxiliaryVariablesCache.md
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
  test/shared_utilities/domains.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix roundoff bugs
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

formatting and fix diagnostics [skip ci]
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Review changes
  Project.toml
  docs/make.jl
  ext/neural_snow/NeuralSnow.jl
  src/shared_utilities/drivers.jl
  test/bucket_restart/output_active
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

TD version update
  test/Project.toml
Due: none

add energy of subsurface runoff
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

manifest updates
  .buildkite/Manifest.toml
  docs/Manifest.toml
  test/bucket_restart/output_active
Due: none

Formatting
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Formatter
  test/bucket_restart/output_active
Due: none

File deletion
  test/bucket_restart/output_active
Due: none

wip [skip ci]
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

review comments [skip ci]
  NEWS.md
  experiments/standalone/Vegetation/no_vegetation.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Buildkite project update
  .buildkite/Manifest.toml
  .buildkite/Project.toml
Due: none

Allow .buildkite/Manifest.toml to be committed
  .gitignore
Due: none

Updating Julia 1.11 manifest
  docs/Manifest-v1.11.toml
Due: none

change CL development path, 1.11 manifest toml in buildkite
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .gitignore
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

Add NEE diagnostic with ILAMB support, use existing ER diagnostic
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

fixed nelements access overflow
  docs/src/tutorials/integrated/soil_canopy_fluxnet_tutorial.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/generic_site.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
