Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

fix fluxes [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

wip [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

fix parameter [skip ci]
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

calibration on hpc with climacalibrate
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

use hi res soil data to get site parameters
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

site specific params
  experiments/integrated/fluxnet/run_dk_sor_default.jl
Due: none

days valid all years for same dim
  experiments/calibrate_dk_sor/generate_observations.jl
Due: none

addressing Kat review comments
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

small fix
  experiments/calibrate_dk_sor/model_interface.jl
Due: none

pad missing day as 0, large variance
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
Due: none

refactor no minibatching
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

fix autotrophic respiration
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_eki_diagnostics.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix setup
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/prior_mean_parameters.toml
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
Due: none

wip
  experiments/calibrate_dk_sor/run_calibration.jl
Due: none

wip
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

fix tr diag
  src/diagnostics/land_compute_methods.jl
Due: none

update manifest
  experiments/calibrate_dk_sor/slurm_calibration.sh
Due: none

wip: fix callmip UQ pipeline bugs (pkgdir, LAI, 12-param prior, AR defaults)
  experiments/calibrate_dk_sor/generate_observations.jl
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/calibrate_dk_sor/slurm_gen_observations.sh
  experiments/callmip_uq_dk_sor/Project.toml
  experiments/callmip_uq_dk_sor/README_UQ.md
  experiments/callmip_uq_dk_sor/analyze_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/emulate_sample.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  experiments/callmip_uq_dk_sor/run_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/slurm_callmip_simulations.sh
  experiments/callmip_uq_dk_sor/slurm_emulate_sample.sh
  experiments/callmip_uq_dk_sor/slurm_posterior_ensemble.sh
  experiments/callmip_uq_dk_sor/write_callmip_netcdf.jl
Due: none

small changes [skip ci]
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

fix: RAI 17.5→1.5, Copernicus LAI, 12-param priors, DT=900, CES pipeline
  .gitignore
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_calibration_check.jl
  experiments/calibrate_dk_sor/run_alexis_test.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
  experiments/calibrate_dk_sor/slurm_alexis_test.sh
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/callmip_uq_dk_sor/ISSUES_AND_QUESTIONS.md
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/emulate_sample.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  submit_calibrate_then_ces.sh
Due: none

feat: complete CalLMIP Phase 1a — 16-param EKI, CES pipeline, NetCDF submission
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/plot_calibration_check.jl
  experiments/calibrate_dk_sor/plot_multiyear_check.jl
  experiments/calibrate_dk_sor/prior_mean_parameters.toml
  experiments/calibrate_dk_sor/priors.jl
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
  experiments/calibrate_dk_sor/slurm_calibration.sh
  experiments/callmip_uq_dk_sor/CALLMIP_Phase1a_ModelDescription.md
  experiments/callmip_uq_dk_sor/CALLMIP_Phase1a_Report.md
  experiments/callmip_uq_dk_sor/CES_Phase2_Issues_for_OLLie.md
  experiments/callmip_uq_dk_sor/ISSUES_AND_QUESTIONS.md
  experiments/callmip_uq_dk_sor/Project.toml
  experiments/callmip_uq_dk_sor/analyze_posterior_ensemble.jl
  experiments/callmip_uq_dk_sor/calibration_rmse_convergence.jl
  experiments/callmip_uq_dk_sor/callmip_model_interface.jl
  experiments/callmip_uq_dk_sor/emulate_sample.jl
  experiments/callmip_uq_dk_sor/evaluate_calibration.jl
  experiments/callmip_uq_dk_sor/plot_calibration_improvement.jl
  experiments/callmip_uq_dk_sor/plot_callmip_netcdf.py
  experiments/callmip_uq_dk_sor/plot_posterior_distributions.jl
  experiments/callmip_uq_dk_sor/run_callmip_simulations.jl
  experiments/callmip_uq_dk_sor/slurm_emulate_sample.sh
  experiments/callmip_uq_dk_sor/slurm_posterior_ensemble.sh
  experiments/callmip_uq_dk_sor/slurm_postprocess.sh
  experiments/callmip_uq_dk_sor/write_callmip_netcdf.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

4 seasons
  experiments/calibration/run_calibration.jl
Due: none

fix attempt
  experiments/calibration/run_calibration.jl
Due: none

fix HDF5 file reading issue
  experiments/calibration/run_calibration.sh
Due: none

add calibration config, lhf+gpp
  experiments/calibration/configs/gpp.jl
  experiments/calibration/configs/gpp_lhf.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/run_calibration.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

calibrate gpp
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

use new artifact
  Artifacts.toml
  NEWS.md
  src/Artifacts.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  src/standalone/Vegetation/Canopy.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

try with spatialy varying SAI, RAI [ skip ci]
  Artifacts.toml
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

respiration updates
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update indices
  src/Artifacts.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

canopy interception simple model
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_interception.jl
  test/standalone/Vegetation/canopy_interception.jl
  test/standalone/Vegetation/canopy_model.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs
  src/Artifacts.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use new artifact for soil retention parameters (#1712)
  Artifacts.toml
  NEWS.md
  src/Artifacts.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  src/standalone/Vegetation/Canopy.jl
  test/shared_utilities/domains.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip
  src/ClimaLand.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

finished through binary stats and scf
  experiments/long_runs/acthesis/get_data.py
  experiments/long_runs/acthesis/global_thesis_runs.jl
  experiments/long_runs/acthesis/output_plots.jl
Due: none

test run
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update params
  toml/default_parameters.toml
Due: none

Allow for spatialy varying SAI, RAI
  Artifacts.toml
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  test/standalone/Vegetation/spatial_parameters.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
