Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Update NEWS.md
  NEWS.md
Due: none

Add fractional c3 support for PModel
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

standalone lake
  Artifacts.toml
  docs/list_of_apis.jl
  docs/list_standalone_models.jl
  docs/src/APIs/InlandWater.md
  docs/src/available_models.md
  docs/src/standalone/pages/inland_waters/slab_lake.md
  docs/src/tutorials/standalone/InlandWater/default_inland_water.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  test/runtests.jl
  test/standalone/InlandWater/unit_tests.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update NEWS
  NEWS.md
Due: none

wip [skip ci]
  experiments/integrated/performance/single_site.jl
  src/integrated/soil_snow_model.jl
Due: none

add as parameter
  experiments/integrated/performance/single_site.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

standalone lake (#1695)
  Artifacts.toml
  NEWS.md
  docs/list_of_apis.jl
  docs/list_standalone_models.jl
  docs/src/APIs/InlandWater.md
  docs/src/available_models.md
  docs/src/standalone/pages/inland_waters/slab_lake.md
  docs/src/tutorials/standalone/InlandWater/default_inland_water.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  test/runtests.jl
  test/standalone/InlandWater/unit_tests.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

SpaceVaryingInput lake depth
  Artifacts.toml
  docs/src/standalone/pages/inland_waters/slab_lake.md
  src/Artifacts.jl
  src/simulations/initial_conditions.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  test/standalone/InlandWater/unit_tests.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/standalone/InlandWater/InlandWater.jl
Due: none

clip swd and lwd, use hi res clm
  src/shared_utilities/Domains.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bug
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix tests
  src/shared_utilities/Domains.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update news
  NEWS.md
Due: none

wip
  docs/src/APIs/InlandWater.md
  docs/src/standalone/pages/inland_waters/slab_lake.md
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  test/standalone/InlandWater/unit_tests.jl
Due: none

Tighten limits on leaderboard heatmaps
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

Update data_sources.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

Update leaderboard.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

format and news
  NEWS.md
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

remove use_lowres_clm
  src/shared_utilities/Domains.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

update NEWS.md to prevent conflict when 1698 merges
  NEWS.md
Due: none

add additional parameter
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/standalone/Snow/Snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

toml
  toml/uncalibrated_parameters.toml
Due: none

Change plot limits on annual leaderboard (#1698)
  NEWS.md
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

remove single site run
  experiments/integrated/performance/single_site.jl
Due: none

Clip LWd and SWd to be positive; use hi res maps (#1697)
  NEWS.md
  src/shared_utilities/Domains.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Integrated inland water
  NEWS.md
  docs/src/APIs/canopy/Biomass.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/constrained_nn/NeuralSnow.jl
  src/ClimaLand.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/standalone/InlandWater/unit_tests.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix NeuralSnow, add diagnostics, add run files
  experiments/long_runs/acthesis/compare_models.jl
  experiments/long_runs/acthesis/debug_tools.jl
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
  experiments/long_runs/acthesis/output_plots.jl
  experiments/long_runs/debug_tools.jl
  experiments/long_runs/global_thesis_run.sh
  experiments/long_runs/global_thesis_runs.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/NeuralSnow.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

cleanup
  experiments/long_runs/debug_tools.jl
  experiments/long_runs/global_thesis_run.sh
  experiments/long_runs/global_thesis_runs.jl
Due: none

model run name
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

fix diagnostic [skip ci]
  src/diagnostics/land_compute_methods.jl
Due: none

setup for global all-model run
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
  experiments/long_runs/acthesis/output_plots.jl
Due: none

change label
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

more status print to run multiples
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

restart all run, error fixed
  experiments/long_runs/acthesis/compare_models.jl
  experiments/long_runs/acthesis/global_thesis_runs.jl
  ext/constrained_nn/NeuralSnow.jl
Due: none

setup HTESSEL run
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

setup run with none of your params
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

wip
  src/simulations/initial_conditions.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  test/standalone/InlandWater/unit_tests.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/calibration/run_calibration.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
