Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

input precip in correct units
  data_laiopt/optimal_lai_inputs.nc
Due: none

conditional diagnostics to Zhou
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
Due: none

calibration run with global datasets, added figure output
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
  ext/FluxnetSimulationsExt.jl
  src/Artifacts.jl
Due: none

wip debugging [skip ci]
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation_simulation.jl
Due: none

first update
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

more extreme
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

more extreme adaptation
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

adapt path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

LW/SW split [skip ci]
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

conservation checker [skip ci]
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/conservation_simulation.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

conditionally add diagnostics
  docs/src/diagnostics/developers_diagnostics.md
  docs/src/diagnostics/make_diagnostic_table.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/diagnostic.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

use dummy integrator for diag test
  test/diagnostics/diagnostics_tests.jl
Due: none

add coupled tests, address issue 1500, clean up docs
  NEWS.md
  docs/src/tutorials/standalone/Bucket/coupled_bucket.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  test/diagnostics/diagnostics_tests.jl
  test/runtests.jl
  test/shared_utilities/coupled_fluxes.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/snow_bucket_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use site meteorology
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

add pmodel script
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_cper_pmodel.jl
  experiments/integrated/fluxnet/NEON_cper_pmodel_wHeight.jl
  ext/fluxnet_simulations/NEON-cper.jl
Due: none

Add coupled fluxes test
  test/runtests.jl
  test/shared_utilities/coupled_fluxes.jl
Due: none

recal
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/run_calibration.jl
Due: none

run test on CPU only
  test/shared_utilities/coupled_fluxes.jl
Due: none

add coupled tests, address issue 1500, clean up docs (#1630)
  NEWS.md
  docs/src/tutorials/standalone/Bucket/coupled_bucket.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  test/diagnostics/diagnostics_tests.jl
  test/runtests.jl
  test/shared_utilities/coupled_fluxes.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/snow_bucket_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added some CNM tests
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/NeuralSnow.jl
  test/standalone/Snow/tool_tests.jl
Due: none

added pmodel in calibration
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/calibrate_sco2_cper_pmodel.jl
Due: none

add parameter output file for best parameters
  experiments/integrated/fluxnet/calibrate_sco2_cper_pmodel.jl
Due: none

Add CalMIP snow partitioning and alternative simulation configs
  experiments/integrated/fluxnet/CALLMIP_README.md
  experiments/integrated/fluxnet/callmip_dksor.jl
  experiments/integrated/fluxnet/callmip_dksor_default.jl
  experiments/integrated/fluxnet/callmip_dksor_pmodel.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/initial_conditions.jl
Due: none

Apply JuliaFormatter v1 formatting
  experiments/integrated/fluxnet/callmip_dksor.jl
  experiments/integrated/fluxnet/callmip_dksor_default.jl
  experiments/integrated/fluxnet/callmip_dksor_pmodel.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

change prior
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

conservation checker [skip ci]
  docs/src/APIs/Drivers.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

bug fixes
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/integrated/land_radiation.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added most tests for CNM
  Project.toml
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/model_utilities.jl
  test/standalone/Snow/tool_tests.jl
Due: none

fixed formatting
  ext/constrained_nn/model_utilities.jl
  test/standalone/Snow/tool_tests.jl
Due: none

optimal lai in biomass
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  data_laiopt/optimal_lai_inputs.jl
  data_laiopt/optimal_lai_inputs.nc
  docs/list_of_apis.jl
  docs/list_standalone_models.jl
  docs/src/APIs/canopy/Biomass.md
  docs/src/APIs/canopy/LAI.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/Artifacts.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  Artifacts.toml
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/Artifacts.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Implement crujra forcing in drivers and artifacts
  Artifacts.toml
  docs/src/APIs/Drivers.md
  src/Artifacts.jl
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update NEWS
  NEWS.md
Due: none

implement cru jra forcing (#1624)
  Artifacts.toml
  NEWS.md
  docs/src/APIs/Drivers.md
  src/Artifacts.jl
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add floating pt time support to pmodel cb
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
