Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

wip[skip ci]
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

use ClimaCore v0.14.46
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

only Manifest
  .buildkite/Manifest-v1.11.toml
Due: none

Fix instability of SOC model
  .buildkite/longruns_gpu/pipeline.yml
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

changed files to nan fix of ar/fix_soilco2_nans
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

added sco2, soc, so2 to output
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

fix attempt
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

longer global CPU time, sco2 for fluxnet single site. wip
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
Due: none

Update src/diagnostics/land_compute_methods.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Downgrade GeoMakie in buildkite project
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
Due: none

no divide by eps(0) when saturated soil
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

changed output path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

Fix instability of SOC model by Alexis
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

adapted output path
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

test commit for new branch
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

Project.toml and formatting
  Project.toml
  src/shared_utilities/drivers.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Removes thermodynamic states in favor of functional TD calls
  docs/src/APIs/Drivers.md
  ext/neural_snow/NeuralSnow.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  src/standalone/Vegetation/pmodel.jl
  test/debug_rh.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Buildkite project update
  .buildkite/Manifest.toml
  .buildkite/Project.toml
Due: none

change CL development path, 1.11 manifest toml in buildkite
  .gitignore
  docs/Project.toml
Due: none

Formatter
  test/bucket_restart/output_active
Due: none

Delete debug files
  test/debug_rh.jl
Due: none

manifest updates
  .buildkite/Manifest.toml
  test/bucket_restart/output_active
Due: none

File deletion
  test/bucket_restart/output_active
Due: none

Method error workaround
  ext/neural_snow/NeuralSnow.jl
Due: none

Review changes
  Project.toml
  docs/make.jl
  ext/neural_snow/NeuralSnow.jl
  src/shared_utilities/drivers.jl
  test/bucket_restart/output_active
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

TD version update
  test/Project.toml
Due: none

Allow .buildkite/Manifest.toml to be committed
  .gitignore
Due: none

Docbuild
  docs/make.jl
  docs/src/APIs/Drivers.md
Due: none

Formatting
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Misising TD import in big leaf test
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
Due: none

no divide by 0 or eps(0) when saturated soil
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

update Manifests again
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

use Thermodynamics to close issue 1603 also
  ext/fluxnet_simulations/forcing.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/utils.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

manifest julia 1.11.8 [skip ci]
  docs/Manifest-v1.11.toml
Due: none

update tests, need to debug canopy partials
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/runtests.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

bug fix [skip ci]
  .gitignore
  src/standalone/Soil/energy_hydrology.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

applied changes of ar/fix_soilco2_nans_2
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

adapted output path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

Thermo 15.6
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
  ext/fluxnet_simulations/forcing.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/utils.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/Project.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
