Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Apply suggestions; change defaults; add to NEWS
  .buildkite/pipeline.yml
  NEWS.md
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/integrated/global/global_soil_canopy_snow.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/land.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

implicit cache [skip ci]
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/component_models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

WIP. might revert
  Project.toml
  data_laiopt/compute_gsl_a0.jl
  data_laiopt/gsl_a0_annual.nc
  docs/src/APIs/canopy/LAI.md
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  src/Artifacts.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add energy of subsurface runoff
  src/standalone/Soil/Runoff/Runoff.jl
  test/standalone/Soil/runoff.jl
Due: none

Add check for unused parameters for calibration
  experiments/calibration/model_interface.jl
  experiments/calibration/models/bucket.jl
  experiments/calibration/models/snowy_land.jl
Due: none

Round values when making mask for calibration
  experiments/calibration/observation_utils.jl
Due: none

Add support for LandModel without soilco2
  NEWS.md
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/land_region.jl
  experiments/long_runs/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/simulations/initial_conditions.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

feat: add CLA workflow caller
  .github/workflows/cla.yml
Due: none

Add gpu support to NeuralSnow
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/pipeline.yml
  Project.toml
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/neural_snow/ModelTools.jl
  ext/neural_snow/NeuralSnow.jl
  src/Artifacts.jl
  test/standalone/Snow/tool_tests.jl
Due: none

wip [skip ci]: snow, canopy, bucket run but jacobian needs improvement
  .buildkite/Manifest-v1.11.toml
  Project.toml
  docs/Manifest-v1.11.toml
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/PlantHydraulics.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/standalone/Bucket/snow_bucket_tests.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update cla.yml
  .github/workflows/cla.yml
Due: none

wip [skip ci]
  src/shared_utilities/drivers.jl
  src/shared_utilities/utils.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

still wip [skip ci]
  .buildkite/Manifest-v1.11.toml
  docs/Manifest-v1.11.toml
  src/shared_utilities/drivers.jl
  src/standalone/Soil/energy_hydrology.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

tag v1.3.0; up deps
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

ozark_pmodel.jl runs but LAI_pred 0.0 then NaN. possibly annual GPP 0
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

WIP
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bug fixed!
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

potential GPP = LUE * PAR
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add A0_annual
  src/diagnostics/default_diagnostics.jl
Due: none

spatially varying GSL, A0 potential
  data_laiopt/gsl_a0_annual.nc
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Moisture stress in GPP_potential_daily
  experiments/long_runs/land_region.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

WIP. might revert
  Project.toml
  data_laiopt/compute_gsl_a0.jl
  data_laiopt/gsl_a0_annual.nc
  docs/src/APIs/canopy/LAI.md
  docs/src/tutorials/calibration/obs_site_level_calibration.jl
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/standalone/Canopy/canopy_tutorial.jl
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/global/global_soil_canopy.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/varying_lai.jl
  experiments/standalone/Vegetation/varying_lai_with_stem.jl
  src/Artifacts.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai_integration.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fixing NaN issue
  .buildkite/longruns_gpu/pipeline.yml
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add ILAMB to dev docs
  .buildkite/longruns_gpu/pipeline.yml
  docs/make.jl
Due: none

use beta for annual potential GPP
  Project.toml
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/standalone/Vegetation/optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

run tests
  .buildkite/Manifest-v1.11.toml
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update pipeline.yml
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Update pipeline.yml [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

fix soil and bucket bugs, attempt to fix gpu bug in canopy
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add vpd to diagnostics, beta = 1 for annual potential gpp
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

initial surf temp addition
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

using MAP and MAgslvpd for LAImax water limitation
  data_laiopt/compute_gsl_a0.jl
  data_laiopt/gsl_a0_annual.nc
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
