Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Fix conduction lengths in snow-soil and lake-soil heat fluxes
  NEWS.md
  src/integrated/soil_snow_model.jl
  src/standalone/InlandWater/lake_parameterizations.jl
Due: none

Solve for the soil skin temperature from the surface energy balance
  NEWS.md
  docs/src/APIs/soil/Soil.md
  docs/src/standalone/pages/soil/physics/energy_model.md
  docs/src/tutorials/shared_utilities/timestepping.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add a litter layer between the soil skin and the top soil layer
  NEWS.md
  docs/src/APIs/soil/Soil.md
  docs/src/standalone/pages/soil/physics/energy_model.md
  docs/src/tutorials/shared_utilities/timestepping.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/ClimaLand.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/litter_layer.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/soil_canopy_lsm.jl
  test/runtests.jl
  test/standalone/Soil/litter_layer.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Enable CLM5 canopy interception by default in LandModel and guard low-PAI canopies
  src/integrated/land.jl
  src/standalone/Vegetation/interception.jl
  test/standalone/Vegetation/test_interception.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use the Tuzet leaf-water-potential moisture stress by default in LandModel and SoilCanopyModel
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Soil evaporation (SL14 DSL, adsorption guard) and CLM5-style under-canopy exchange
  docs/src/APIs/soil/Soil.md
  docs/src/standalone/pages/soil/physics/energy_model.md
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/undercanopy_conductance.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add CLM5-style canopy interception of rain and wet-canopy evaporation (opt-in)
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/interception.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  test/runtests.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_interception.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Shut off soil vapor conductance smoothly at residual saturation and use θ_l in implicit aux
  docs/src/standalone/pages/soil/physics/energy_model.md
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Apply P-model moisture stress instantaneously instead of via acclimation
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use plant area index (LAI + SAI) for canopy radiation and heat exchange
  docs/src/APIs/canopy/RadiativeTransfer.md
  src/integrated/undercanopy_conductance.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/standalone/Vegetation/conservation.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add surface flux investigation notes
  investigation_notes.md
Due: none

Limit the stable Monin-Obukhov stability parameter (CLM zetamaxstable)
  src/shared_utilities/Parameters.jl
  test/runtests.jl
  test/shared_utilities/stable_limited_universal_functions.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Solve snow surface temperature before snow-soil ground heat flux in SoilSnowModel
  src/integrated/soil_snow_model.jl
Due: none

Use ILAMB's RMSE definition in the RMSE boxplot
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

Use global land-hist RMSE values for the boxplot cohort
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

Run the default LandModel at any FLUXNET2015 site
  .buildkite/pipeline.yml
  Artifacts.toml
  NEWS.md
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/list_fluxnet_sites.jl
  experiments/integrated/generic_site/run_generic_site.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
  src/ext/FluxnetSimulations.jl
  test/integrated/fluxnet_sim.jl
Due: none

partial review comments [skip ci]
  .buildkite/Manifest-v1.12.toml
  experiments/integrated/performance/conservation.jl
  src/diagnostics/default_diagnostics.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

new CL release
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

fixed line color in tutorial
  docs/src/tutorials/integrated/snowy_land_era5_tutorial.jl
Due: none

update NEWS
  NEWS.md
Due: none

CL1.12.3 (#1899)
  NEWS.md
  docs/src/tutorials/integrated/snowy_land_era5_tutorial.jl
Due: none

Build the canopy models once in the carbon-pool tests
  test/standalone/Vegetation/test_prognostic_carbon.jl
Due: none

Add a prognostic carbon model for vegetation biomass
  NEWS.md
  docs/list_standalone_models.jl
  docs/src/APIs/ClimaLand.md
  docs/src/APIs/canopy/AutotrophicRespiration.md
  docs/src/APIs/canopy/Biomass.md
  docs/src/standalone/pages/vegetation/canopy_structure/prognostic_carbon.md
  src/ClimaLand.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_carbon_interactions.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/soil_canopy_lsm.jl
  test/runtests.jl
  test/standalone/Vegetation/test_prognostic_carbon.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add a pre-industrial spin-up job for initial conditions
  .buildkite/longruns_gpu/pipeline.yml
  .gitignore
  artifacts/prognostic_carbon/create_xusaatchi_woody_carbon.jl
  artifacts/prognostic_carbon/xusaatchi_woody_carbon_2deg.nc
  experiments/long_runs/equilibrium_biomass.jl
  experiments/long_runs/preindustrial_spinup.jl
Due: none

analytic lai tests [skip ci]
  experiments/integrated/performance/conservation.jl
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use the SurfaceFluxes MaxHeatFluxStabilityCap for stable land surface fluxes
  src/shared_utilities/Parameters.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/runtests.jl
  test/shared_utilities/stability_cap.jl
  test/shared_utilities/stable_limited_universal_functions.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Account for above-canopy Monin-Obukhov stability in under-canopy resistance
  src/integrated/undercanopy_conductance.jl
  test/shared_utilities/stability_cap.jl
Due: none

Set canopy displacement height coefficient canopy_d_coeff to 0.67
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Triple rooting depth in prescribed-LAI snowy_land_pmodel long run
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Compute the C3/C4 competition with its own P-model β
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Lengthen the spin-up and map the C3 fraction and tree share
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/equilibrium_biomass.jl
  experiments/long_runs/preindustrial_spinup.jl
Due: none

Add a vegetation leaderboard: LAI, C3 fraction and tree share
  NEWS.md
  experiments/long_runs/snowy_land_pmodel.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

Fix the masked NaN count for multi-component fields
  NEWS.md
  src/shared_utilities/utils.jl
  test/shared_utilities/utilities.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Share the SurfaceFluxes call and the flux post-processing
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Snow/parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Share the Newton update of the soil skin and snow surface temperatures
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Solve for the snow surface temperature before the SoilSnowModel ground heat flux
  NEWS.md
  src/integrated/soil_snow_model.jl
  test/integrated/soil_snow.jl
Due: none

Include tortuosity in the dry-soil-layer vapor conductance
  NEWS.md
  docs/src/APIs/soil/Soil.md
  docs/src/refs.bib
  docs/src/standalone/pages/soil/physics/energy_model.md
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
