Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

what runs on derecho
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  toml/default_parameters.toml
Due: none

snow fluxes
  docs/src/APIs/Snow.md
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add climatological LAI artifact
  Artifacts.toml
  src/Artifacts.jl
Due: none

wip
  experiments/calibration/run_calibration.sh
Due: none

add helper function [skip ci]
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/spatial_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix
  src/standalone/Snow/Snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/calibration/run_calibration.jl
Due: none

Update snow_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update snow_parameterizations.jl [skip ci]
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Snow.jl [skip ci]
  src/standalone/Snow/Snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update lake_land_interactions.jl [skip ci]
  src/integrated/lake_land_interactions.jl
Due: none

Update ClimaLand.jl
  src/ClimaLand.jl
Due: none

Experiments with soil albedo parameterizations
  dev/SoilAlbedo/README.md
  dev/SoilAlbedo/evaluate_albedo_models.jl
  dev/SoilAlbedo/fit_composition_albedo.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/shared_utilities/drivers.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update Thermodynamics usage
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Formatting
  test/standalone/Soil/climate_drivers.jl
Due: none

Another coefficient update
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update regression coefficients for better fit
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Revert driver changes
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

YEt another coefficient update
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Yet more bias correction
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Another coefficient try
  dev/SoilAlbedo/README.md
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Doc updates
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add OfflineLinearSoilAlbedo to Ozark soil+snow experiment
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  src/standalone/Soil/soil_albedo.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix bugs
  src/diagnostics/land_compute_methods.jl
  test/standalone/Snow/parameterizations.jl
Due: none

Update land_compute_methods.jl
  src/diagnostics/land_compute_methods.jl
Due: none

remove lai from ext/land_sim_vis for now
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

Change vegetation spatially varying params interpolation from Linear to Constant
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

bump compat lower bounds
  .github/workflows/downgrade.yml
  Project.toml
  docs/Project.toml
  docs/src/diagnostics/make_diagnostic_table.jl
  test/Project.toml
Due: none

Change vegetation spatially varying params interpolation from Linear to Constant (#1701)
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add helper function for surface humidity function
  src/standalone/Bucket/bucket_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

don't compute fluxes in coupled case
  src/standalone/Bucket/Bucket.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

(1.7.0) tag release and update deps
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

(1.6.5) up deps and patch release
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

formatting
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/spatial_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fixed issue with scratch variable
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update docs
  docs/src/APIs/canopy/Biomass.md
Due: none

Climatological LAI (#1702)
  Artifacts.toml
  docs/src/APIs/canopy/Biomass.md
  src/Artifacts.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/spatial_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Roundoff error in phase change cpu/gpu fix
  .buildkite/pipeline.yml
  experiments/standalone/Snow/snowmip_simulation.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
