Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

attempt to fix TVI for LAI
  src/standalone/Vegetation/biomass.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

CompatHelper: bump compat for Thermodynamics to 1, (keep existing compat)
  Project.toml
Due: none

TD v1.2 and more recent compats everywhere
  Project.toml
  docs/Project.toml
  test/Project.toml
Due: none

TD v1.2 and more recent compats everywhere (#1853)
  Project.toml
  docs/Project.toml
  test/Project.toml
Due: none

Fix column indexing compat with CC
  src/shared_utilities/Domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

climatological LAI fix
  src/standalone/Vegetation/biomass.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Kd/lai climatology fix (#1851)
  src/standalone/Vegetation/biomass.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use new init guess for snow sfc temp solve and simplify set init cache methods
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

format
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Zhaoyi suggestion for guess
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use new init guess for snow sfc temp solve and simplify set init cach… (#1844)
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add a restart test for the global land model with the P-model
  NEWS.md
  docs/src/restarts.md
  src/shared_utilities/checkpoints.jl
  test/integrated/restart.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add a restart test for the global land model with the P-model (#1840)
  NEWS.md
  docs/src/restarts.md
  src/shared_utilities/checkpoints.jl
  test/integrated/restart.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add ColumnEnsemble
  .buildkite/Manifest-v1.12.toml
  .buildkite/pipeline.yml
  Project.toml
  docs/Manifest-v1.12.toml
  docs/src/APIs/Domains.md
  experiments/integrated/era5/column_ensemble_comparison.jl
  experiments/integrated/era5/comparison_utils.jl
  src/diagnostics/diagnostic.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/utils.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

additional diags for pmodel
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Patch release 1.11.2
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

update IC function
  docs/src/APIs/Simulations.md
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

review comments
  NEWS.md
  docs/src/APIs/Simulations.md
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

trigger CI again
  NEWS.md
Due: none

Update subseasonal IC to set canopy IC (#1858)
  NEWS.md
  docs/src/APIs/Simulations.md
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add demo fluxnet simulation
  .buildkite/Manifest-v1.12.toml
  Artifacts.toml
  experiments/integrated/fluxnet/callmip_forcing.jl
  experiments/integrated/fluxnet/callmip_forcing_demo.jl
  experiments/integrated/fluxnet/callmip_run_demo.jl
  src/Artifacts.jl
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Implement TwoComponentResNetLAIModel with Cycle 86 Grand Hydro-Thermal Dynamic Equilibrium
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/two_component_resnet_lai.jl
  test/standalone/Vegetation/test_two_component_resnet_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Phase1b setup: Phase1a pipeline + diagnostics from rb/DK-Sor, refreshed flux artifact, project docs
  Artifacts.toml
  experiments/callmip_dksor/assemble_continuous_ensemble.jl
  experiments/callmip_dksor/emulate_sample.jl
  experiments/callmip_dksor/generate_observations.jl
  experiments/callmip_dksor/make_eki_posterior.jl
  experiments/callmip_dksor/model_runner.jl
  experiments/callmip_dksor/priors.jl
  experiments/callmip_dksor/run_calibration.jl
  experiments/callmip_dksor/run_callmip_continuous.jl
  experiments/callmip_dksor/test/test_callmip_output.jl
  experiments/callmip_dksor/write_callmip_netcdf.jl
  experiments/callmip_phase1b/DATA_MANIFEST.md
  experiments/callmip_phase1b/PLAN.md
  experiments/callmip_phase1b/WORKLOG.md
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/DK-Sor.jl
  ext/fluxnet_simulations/forcing.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/ext/FluxnetSimulations.jl
Due: none

Phase1b docs: verified site table (UTC offsets), flux coverage, stale-artifact finding
  experiments/callmip_phase1b/DATA_MANIFEST.md
  experiments/callmip_phase1b/WORKLOG.md
Due: none

Format callmip_dksor + fluxnet ext with JuliaFormatter 2.10.1 (CI version)
  experiments/callmip_dksor/assemble_continuous_ensemble.jl
  experiments/callmip_dksor/emulate_sample.jl
  experiments/callmip_dksor/generate_observations.jl
  experiments/callmip_dksor/make_eki_posterior.jl
  experiments/callmip_dksor/model_runner.jl
  experiments/callmip_dksor/priors.jl
  experiments/callmip_dksor/run_calibration.jl
  experiments/callmip_dksor/run_callmip_continuous.jl
  experiments/callmip_dksor/test/test_callmip_output.jl
  experiments/callmip_dksor/write_callmip_netcdf.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

Fix per-column atmos_h to live on the space's device; close Phase 0
  experiments/callmip_phase1b/UPSTREAM_NOTES.md
  experiments/callmip_phase1b/WORKLOG.md
  experiments/integrated/fluxnet/callmip_forcing.jl
Due: none

Phase 1: verify multi-forcing ColumnEnsemble correctness at N=2 (CPU+GPU)
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/verify_single_vs_ensemble.jl
Due: none

Phase 2: 21-site forcing on a shared padded axis + verification gate
  experiments/callmip_phase1b/DATA_MANIFEST.md
  experiments/callmip_phase1b/PLAN.md
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/forcing_phase1b.jl
  experiments/callmip_phase1b/sites.jl
  experiments/callmip_phase1b/verify_21site_forcing.jl
  experiments/integrated/fluxnet/callmip_forcing.jl
Due: none

Add the 10 ME-org validation sites: verified table + 31-site forcing artifact
  Artifacts.toml
  experiments/callmip_phase1b/DATA_MANIFEST.md
  experiments/callmip_phase1b/UPSTREAM_NOTES.md
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/forcing_phase1b.jl
  experiments/callmip_phase1b/sites.jl
Due: none

Close Phase 2 (GPU gate green); add Phase 3 column-scaling benchmark
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/benchmark_columns.jl
Due: none

Close Phase 3: column-scaling benchmark results + member-schedule decision
  experiments/callmip_phase1b/UPSTREAM_NOTES.md
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/benchmark_logs/.gitignore
  experiments/callmip_phase1b/benchmark_logs/run_bench.sh
Due: none

Phase 4: multisite observations, member forward map, UTKI driver
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/forcing_phase1b.jl
  experiments/callmip_phase1b/forward_model_phase1b.jl
  experiments/callmip_phase1b/observations_phase1b.jl
  experiments/callmip_phase1b/run_calibration_phase1b.jl
  experiments/callmip_phase1b/test_forward_model.jl
Due: none

Fix missing Statistics import in forward_model_phase1b
  experiments/callmip_phase1b/forward_model_phase1b.jl
Due: none

Close Phase 4: gate iteration green (23/23 members, 19.6 min, real UTKI update)
  experiments/callmip_phase1b/WORKLOG.md
Due: none

Phase 6 prep: per-site deliverable runner + parametrized Phase1b NetCDF writer
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/deliverable_runs_phase1b.jl
  experiments/callmip_phase1b/output_calibration/calibration_iter.log
  experiments/callmip_phase1b/output_calibration/run_iter.sh
  experiments/callmip_phase1b/write_callmip_netcdf_phase1b.jl
Due: none

Enable SoilCO2 in calibration + deliverable models; restart Phase 5
  experiments/callmip_phase1b/WORKLOG.md
  experiments/callmip_phase1b/deliverable_runs_phase1b.jl
  experiments/callmip_phase1b/forward_model_phase1b.jl
  experiments/callmip_phase1b/output_calibration/calibration_iter_NOSOILCO2.log
Due: none
