Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

set values over land to reasonable values, BDT or mean (#1776)
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Manifests
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Remove short-performance pipeline
  .buildkite/short_perf/diff_from_branch_point.sh
  .buildkite/short_perf/pipeline.yml
Due: none

Fix prognostic-LAI canopy height NaN and missing component constructors (#1783)
  Artifacts.toml
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

use fixed artifacts related to rosetta parameters (#1779)
  Artifacts.toml
  src/Artifacts.jl
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip to calibrate energy fluxes [skip ci]
  experiments/calibration/configs/energy_fluxes.jl
  experiments/calibration/models/snowy_land.jl
Due: none

fix update functions [skip ci]
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add bucket fix [skip ci]
  src/standalone/Bucket/bucket_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

clean up [skip ci]
  src/integrated/soil_canopy_model.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Restart tbd
  src/shared_utilities/checkpoints.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  test/integrated/restart.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add Base.show/summary for AbstractDomain to fix unreadable REPL output
  src/shared_utilities/Domains.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add Base.show/summary for PrescribedAtmosphere/PrescribedRadiativeFluxes
  src/shared_utilities/drivers.jl
  test/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add Base.show/summary for AbstractModel and LandModel
  src/integrated/land.jl
  src/shared_utilities/models.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Prevent dependabot from pushing doc previews
  docs/make.jl
Due: none

Bump to v1.10.0
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

fix GPU crash: make zeros_to_val arg positional not keyword
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

patch release v1.10.1
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Use Rosetta soil + Rosetta IC for all calibration runs
  experiments/calibration/api.jl
  experiments/calibration/configs/sifgpp_lhf_shf_lwu_rosetta.jl
  experiments/calibration/models/snowy_land.jl
Due: none

inversion leaderboard in longrun ci
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Inversion NEE/GPP/ER/Rh + LHF/SHF/LWU calibration
  experiments/calibration/README.md
  experiments/calibration/configs/inversionnee_sifgpp_er_lhf_shf_lwu.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

WIP [skip ci]
  experiments/calibration/api.jl
  experiments/calibration/configs/sifgpp_lhf_shf_lwu_rosetta.jl
  experiments/calibration/models/snowy_land.jl
Due: none

rh calibration [skip ci]
  experiments/calibration/configs/inv_hr_damm.jl
Due: none

new params for AR
  toml/default_parameters.toml
Due: none

add lai calibration config
  experiments/calibration/api.jl
  experiments/calibration/configs/lai.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

add lai mask build
  experiments/calibration/build_model_lai_validity_mask.jl
Due: none

calibrate er (ar only) [skip ci]
  experiments/calibration/configs/ar_res_er.jl
  toml/default_parameters.toml
Due: none

bug fix
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

edit mask for lai obs
  experiments/calibration/generate_observations.jl
Due: none

fix bug for opt lai on gpu [skip ci]
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix prognostic lai bug, height = 1m, not clm
  experiments/calibration/configs/lai.jl
Due: none

Leaderboard: fold MODIS LAI into inversion leaderboard, add runners
  experiments/calibration/plot_energy_leaderboard.jl
  experiments/calibration/plot_inversion_leaderboard.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

use Rosetta soil parameters instead of default
  experiments/calibrate_neon/model_interface_wLabile.jl
Due: none

adaptations for NEON calibration scripts
  src/Artifacts.jl
Due: none

correction to use Rosetta paramms
  experiments/calibrate_neon/model_interface_wLabile.jl
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears_sel.toml
  experiments/calibrate_neon_pipeline/config/allStation_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/extract_porosity_profiles.jl
  experiments/calibrate_neon_pipeline/pipeline/Calibration.jl
  experiments/calibrate_neon_pipeline/pipeline/ForwardRun.jl
Due: none

changed back to default soil parameters instead of Rosetta
  experiments/calibrate_neon/model_interface_wLabile.jl
  experiments/calibrate_neon_pipeline/pipeline/ForwardRun.jl
Due: none

new configs for spring peak
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/cper_forward.toml
Due: none

flaging spring observations working, minibatching not yet
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part5_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part6_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part7_allyears.toml
  experiments/calibrate_neon_pipeline/config/cper_2019.toml
  experiments/calibrate_neon_pipeline/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline/pipeline/Observation_flag.jl
  experiments/calibrate_neon_pipeline/pipeline/Pipeline.jl
  experiments/calibrate_neon_pipeline_minibatch/IMPLEMENTATION_PLAN.md
Due: none

only manifest
  .buildkite/Manifest-v1.12.toml
Due: none
