Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

wip
  .buildkite/pipeline.yml
  Artifacts.toml
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/run_generic_site.jl
  experiments/integrated/generic_site/test_local_artifact_sites.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/data_processing.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
  src/ext/FluxnetSimulations.jl
Due: none

WIP
  .buildkite/pipeline.yml
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/configs/default.jl
  experiments/integrated/generic_site/configs/er.jl
  experiments/integrated/generic_site/configs/er_smoke.jl
  experiments/integrated/generic_site/configs/smoke_test.jl
  experiments/integrated/generic_site/site_drivers.jl
  ext/fluxnet_simulations/forcing.jl
  ext/fluxnet_simulations/get_fluxnet_metadata.jl
  src/ext/FluxnetSimulations.jl
Due: none

Update postprocessing
  docs/src/leaderboard/leaderboard.md
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

run at a single site [skip ci]
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/single_site.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove soil longer run [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

wip
  src/integrated/soil_canopy_root_interactions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

explicit and implicit radiation fluxes labeled [skip ci]
  NEWS.md
  docs/src/APIs/Drivers.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

devolving wip [skip ci]
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use MacOS runners only on PR merges
  .github/workflows/ci.yml
Due: none

simplifying [skip ci]
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  .buildkite/pipeline.yml
  experiments/integrated/generic_site/README.md
  experiments/integrated/generic_site/calibrate_all_fluxnet.sbatch
  experiments/integrated/generic_site/calibrate_site.jl
  experiments/integrated/generic_site/configs/er_smoke.jl
Due: none

add derecho .pbs
  experiments/integrated/generic_site/calibrate_all_fluxnet.pbs
Due: none

wip
  experiments/integrated/generic_site/calibrate_all_fluxnet.pbs
  experiments/integrated/generic_site/calibrate_all_fluxnet.sbatch
  experiments/integrated/generic_site/list_fluxnet_sites.jl
Due: none

set up copied neon_calibrate and adapt paths
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/model_interface_wPorosity.jl
  experiments/calibrate_neon/plot_all_eki_diagnostics.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_calibration_wPorosity.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/run_priormean_pipeline_mult.jl
  experiments/calibrate_neon/set_Station.jl
  experiments/calibrate_neon/set_Station_mult.jl
  experiments/calibrate_neon/site_metadata.jl
  experiments/calibrate_neon/start_calibration_pipeline.jl
  experiments/calibrate_neon/start_calibration_pipeline_mult.jl
  experiments/calibrate_neon/start_calibration_pipeline_mult_old.jl
  src/Artifacts.jl
  src/diagnostics/default_diagnostics.jl
Due: none

deeper domain [skip ci]
  experiments/long_runs/single_site.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/integrated/generic_site/calibrate_all_fluxnet.pbs
Due: none

Compute pmodel update in a single pointwise function
  experiments/integrated/fluxnet/vaira_paper.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

updating the default land model
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/timestep_test.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/Domains.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

running but O2 instability
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/set_Station.jl
Due: none

running but O2 instability 24 layers
  experiments/calibrate_neon/run_prior_mean.jl
Due: none

wip [skip ci]
  experiments/long_runs/single_site.jl
  make_plot_permafrost.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Compute pmodel update in a single pointwise function
  NEWS.md
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/varying_lai.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update the default land model (#1726)
  NEWS.md
  experiments/benchmarks/snowy_land.jl
  experiments/calibration/models/snowy_land.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Vegetation/no_vegetation.jl
  experiments/standalone/Vegetation/timestep_test.jl
  experiments/standalone/Vegetation/varying_lai.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/Domains.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

(0.8.1) up deps + tag release
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Make short-perf pipeline actually check test for regressions
  experiments/benchmarks/benchmark_utils.jl
Due: none

Change slurm_gpu agent arg to string
  .buildkite/short_perf/pipeline.yml
Due: none

try with new thermal k and density
  experiments/long_runs/single_site.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/snow_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix ic [skip ci]
  experiments/long_runs/single_site.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

add plots to CI
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

run main
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/soil.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix diagnostics
  src/diagnostics/default_diagnostics.jl
Due: none

fix diagnostics
  experiments/long_runs/soil.jl
  src/diagnostics/land_compute_methods.jl
Due: none

change runoff
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

up deps to fix doc build
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Update longrun plots (#1740)
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

Dependabot updates
  .github/workflows/DocCleanup.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/downgrade.yml
  .github/workflows/downstream.yml
Due: none

Revert "change runoff"
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

clip energy of precip
  src/standalone/Soil/boundary_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
