Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

debug
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  test/runtests.jl
  test/standalone/Vegetation/spatial_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

revert run tests
  test/runtests.jl
Due: none

bump compat lower bounds
  .github/workflows/downgrade.yml
  Project.toml
  docs/Project.toml
  docs/src/diagnostics/make_diagnostic_table.jl
  test/Project.toml
Due: none

Change vegetation spatially varying params interpolation from Linear to Constant (#1701)
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

(1.6.5) up deps and patch release
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Climatological LAI (#1702)
  Artifacts.toml
  docs/src/APIs/canopy/Biomass.md
  src/Artifacts.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/spatial_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

revert to constant canopy height (#1706)
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  test/standalone/Vegetation/canopy_model.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

(1.7.0) don't compute fluxes in coupled case
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/shared_utilities/drivers.jl
  src/standalone/Bucket/Bucket.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

inland waters slab (#1672)
  NEWS.md
  docs/src/APIs/Snow.md
  docs/src/APIs/canopy/Biomass.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/constrained_nn/NeuralSnow.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_snow_model.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Vegetation/biomass.jl
  test/integrated/full_land.jl
  test/integrated/soil_snow.jl
  test/runtests.jl
  test/standalone/InlandWater/unit_tests.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix CI
  docs/src/APIs/canopy/Biomass.md
  src/standalone/Vegetation/biomass.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix NeuralSnow, add diagnostics, add run files
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  experiments/long_runs/acthesis/compare_models.jl
  experiments/long_runs/acthesis/debug_tools.jl
  experiments/long_runs/acthesis/get_data.py
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
  experiments/long_runs/acthesis/output_plots.jl
  experiments/long_runs/acthesis/scrape_data.sh
  experiments/standalone/Snow/process_snowmip.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/NeuralSnow.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

new daily long run
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

fix bug, setup no-param run
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

setup all-params run
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

GPP calibration, restructure calibration configs
  experiments/calibration/README.md
  experiments/calibration/configs/energy_fluxes.jl
  experiments/calibration/configs/gpp.jl
  experiments/calibration/configs/gpp_lhf.jl
  experiments/calibration/configs/test.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

setup all monthly run
  experiments/long_runs/acthesis/global_thesis_runs.jl
  experiments/long_runs/acthesis/output_plots.jl
  experiments/standalone/Snow/snowmip_simulation.jl
Due: none

others monthly run
  experiments/long_runs/acthesis/global_thesis_run.sh
  experiments/long_runs/acthesis/global_thesis_runs.jl
Due: none

GPP calibration, restructure calibration configs (#1705)
  experiments/calibration/README.md
  experiments/calibration/configs/energy_fluxes.jl
  experiments/calibration/configs/gpp.jl
  experiments/calibration/configs/gpp_lhf.jl
  experiments/calibration/configs/test.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

small changes [skip ci]
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

update multi_column_soilco2 sites and add FLUXCOM ER comparison
  experiments/integrated/multi_column_soilco2.jl
Due: none

use soilgrid soc
  Artifacts.toml
  src/Artifacts.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/integrated/amazon_column_soilco2.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

no autoresp change
  Project.toml
  src/standalone/Vegetation/autotrophic_respiration.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

respiration updates
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/integrated/multi_column_soilco2.jl
  src/simulations/initial_conditions.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs, clamp 02
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

change T sensitivity params
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

add ilamb fluxcom nee and re
  Artifacts.toml
  ext/land_sim_vis/leaderboard/data_sources.jl
  src/Artifacts.jl
Due: none

change vmax parameterization
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Change Michaelis constant value to 0.3
  toml/default_parameters.toml
Due: none

Change Michaelis constant value to 0.2
  toml/default_parameters.toml
Due: none

try with spatialy varying SAI, RAI [ skip ci]
  Artifacts.toml
  docs/src/tutorials/standalone/Canopy/changing_canopy_parameterizations.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add er [skip ci]
  experiments/calibration/configs/er.jl
  experiments/calibration/models/snowy_land.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

fix [skip ci]
  experiments/calibration/configs/er.jl
Due: none

fix nee ilamb plot [skip ci]
  ext/land_sim_vis/leaderboard/data_sources.jl
Due: none

added neon calibration and adapted necessary files
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/model_interface_wPorosity.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_calibration_wPorosity.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/set_Station.jl
  experiments/calibrate_neon/set_Station_mult.jl
  experiments/calibrate_neon/site_metadata.jl
  experiments/calibrate_neon/start_calibration_pipeline.jl
  experiments/calibrate_neon/start_calibration_pipeline_mult.jl
  src/Artifacts.jl
  src/diagnostics/default_diagnostics.jl
Due: none

make necessary adaptation, runs now
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/set_Station.jl
Due: none

Bump Adapt lower bound
  Project.toml
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
