Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Revert .gitignore change; SLURM script stays local untracked
  .gitignore
Due: none

Fix DK-Sor parameters (K_sat, rooting_depth, Omega, nu_ss_om); run 2004
  experiments/integrated/fluxnet/DK-Sor/run_DK-Sor.jl
  ext/fluxnet_simulations/DK-Sor.jl
Due: none

Fix true_Vcmax25 to identifiable value in perfect-model CES tutorial
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Fix JuliaFormatter and add CalibrateEmulateSample compat entries
  .buildkite/Project.toml
  docs/Project.toml
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
Due: none

Fix JuliaFormatter (repo config), Vcmax25 prior, and downgrade CI
  .github/workflows/downgrade.yml
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
Due: none

Bump Adapt compat lower bound from 4.6.0 to 4.6.1
  Project.toml
Due: none

Add DK-Sor site-level calibration scripts (serial tutorial + parallel production)
  experiments/integrated/fluxnet/DK-Sor/calibrate_DK-Sor_parallel.jl
  experiments/integrated/fluxnet/DK-Sor/calibrate_DK-Sor_tutorial.jl
Due: none

Fix get_ϕ API in obs tutorial prior sampling section
  docs/src/tutorials/calibration/obs_site_level_ces.jl
Due: none

add Rosetta parameters as an option (#1763)
  Artifacts.toml
  src/Artifacts.jl
  src/integrated/land.jl
  src/standalone/Soil/spatially_varying_parameters.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

try a 10 year run from spun up IC
  .buildkite/longruns_gpu/spinup_pipeline.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

developing spinup pipeline
  .buildkite/longruns_gpu/pipeline.yml
  .buildkite/longruns_gpu/spinup_pipeline.yml
  experiments/long_runs/spinup_model.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/Soil.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Fix calibration scripts: switch to Inversion(), fix EKP API issues
  experiments/integrated/fluxnet/DK-Sor/calibrate_DK-Sor_parallel.jl
  experiments/integrated/fluxnet/DK-Sor/calibrate_DK-Sor_tutorial.jl
Due: none

fix bugs
  100yearrun/create_artifacts.jl
Due: none

address review: fix obs tutorial noise_var/priors, fix plot draw order in perfect_model tutorial
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

fixes
  .buildkite/longruns_gpu/pipeline.yml
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs [skip ci]
  Project.toml
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Handle NaN G_ens before EKP update; improve NaN diagnostics
  experiments/integrated/fluxnet/DK-Sor/calibrate_DK-Sor_parallel.jl
Due: none

address odunbar review: encoder_kwargs, noise_var, emulator validation, true PP check
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

update pipeline
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/model_interface_wLabile.jl
  experiments/calibrate_neon_pipeline/config/allStation_forward1.toml
  experiments/calibrate_neon_pipeline/config/allStation_forward2.toml
  experiments/calibrate_neon_pipeline/config/allStation_forward3.toml
  experiments/calibrate_neon_pipeline/config/allStation_forward4.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears_sel.toml
  experiments/calibrate_neon_pipeline/config/allStation_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/pipeline/Calibration.jl
  experiments/calibrate_neon_pipeline/pipeline/Config.jl
  experiments/calibrate_neon_pipeline/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline/pipeline/Pipeline.jl
  experiments/calibrate_neon_pipeline/pipeline/ResultsTable.jl
Due: none

adding RegressionRunoff option to Runoff.jl
  src/standalone/Soil/Runoff/Runoff.jl
Due: none

now run 10 year run from new IC
  .buildkite/longruns_gpu/pipeline.yml
  100yearrun/create_artifacts.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Inversion NEE/GPP/ER/Rh + LHF/SHF/LWU calibration
  Artifacts.toml
  experiments/calibration/README.md
  experiments/calibration/configs/inversionnee_sifgpp_er_lhf_shf_lwu.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add additional diagnostics to snow [skip ci]
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

wip snow thermal k [skip ci]
  docs/src/APIs/Snow.md
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/integrated/soil_snow_model.jl
Due: none

jordan parameterization [skip ci]
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

pipeline to run spinup with Jordan parameterization and tbottom [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

add bottom snow temperature to ground heat flux
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  test/integrated/soil_snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Release v1.9.0
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Release v1.9.0 (#1765)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Add CalLMIP Phase 1b DK-Sor calibration + UQ pipeline
  experiments/callmip_dksor/Project.toml
  experiments/callmip_dksor/callmip_model_interface.jl
  experiments/callmip_dksor/emulate_sample.jl
  experiments/callmip_dksor/generate_observations.jl
  experiments/callmip_dksor/plot_prior_check.jl
  experiments/callmip_dksor/priors.jl
  experiments/callmip_dksor/run_calibration.jl
  experiments/callmip_dksor/run_callmip_simulations.jl
  experiments/callmip_dksor/run_prior_simulation.jl
  experiments/callmip_dksor/slurm/slurm_calibration.sh
  experiments/callmip_dksor/slurm/slurm_callmip_sims.sh
  experiments/callmip_dksor/slurm/slurm_ces.sh
  experiments/callmip_dksor/slurm/slurm_generate_obs.sh
  experiments/callmip_dksor/slurm/slurm_netcdf.sh
  experiments/callmip_dksor/slurm/slurm_prior_sim.sh
  experiments/callmip_dksor/write_callmip_netcdf.jl
Due: none

Fix DK-Sor soil-temperature DomainError by lowering initial saturation
  experiments/callmip_dksor/callmip_model_interface.jl
  experiments/callmip_dksor/run_calibration.jl
Due: none

DK-Sor CalLMIP: per-year runs + soil-CO2 temperature guard
  experiments/callmip_dksor/callmip_model_interface.jl
  experiments/callmip_dksor/run_calibration.jl
  experiments/callmip_dksor/run_callmip_simulations.jl
  experiments/callmip_dksor/run_prior_simulation.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

change pipeline back to regular longrun, I updated IC with 4860 [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Add snow bottom temp and thermal k parameterizations
  docs/src/APIs/Snow.md
  experiments/benchmarks/snowy_land.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Review comments [skip ci]
  NEWS.md
  docs/src/APIs/ClimaLand.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Review comments [skip ci] (#1769)
  NEWS.md
  docs/src/APIs/ClimaLand.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix typo
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

simplify param
  src/integrated/soil_snow_model.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
