Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

fix area basis for phase change
  src/standalone/Snow/Snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Replace deprecated ClimaCore names removed in ClimaCore v0.16
  NEWS.md
  src/ClimaLand.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Keep WeakDivergence until the ClimaCore bound is raised
  NEWS.md
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix path in buildkite for gpu plots for cdp
  .buildkite/pipeline.yml
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix snow residual flux (#1868)
  .buildkite/pipeline.yml
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add draft of the ClimaLand blog post (one storm on five soil columns)
  experiments/blog/rain_columns/README.md
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/rain_columns.gif
  experiments/blog/rain_columns/plot_results.jl
  experiments/blog/rain_columns/rain_experiment.jl
  experiments/blog/rain_columns/snippet.jl
Due: none

Blog draft: show day-30 profiles in the snippet figure
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/snippet.jl
Due: none

Blog draft: revise after review, add no-storm control
  .gitignore
  experiments/blog/rain_columns/README.md
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/build_html.py
  experiments/blog/rain_columns/figs/budget.png
  experiments/blog/rain_columns/figs/et_timeseries.png
  experiments/blog/rain_columns/figs/hovmoller.png
  experiments/blog/rain_columns/figs/rain_columns.gif
  experiments/blog/rain_columns/figs/rain_columns.mp4
  experiments/blog/rain_columns/plot_results.jl
  experiments/blog/rain_columns/rain_experiment.jl
  experiments/blog/rain_columns/snippet.jl
  experiments/blog/rain_columns/style.css
  experiments/blog/rain_columns/where_does_the_rain_go.png
Due: none

Blog draft: budget figure shows only the storm's 50 mm
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/build_html.py
  experiments/blog/rain_columns/figs/budget.png
  experiments/blog/rain_columns/plot_results.jl
Due: none

Blog draft: 1 m columns and root profiles that fit inside them
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/budget.png
  experiments/blog/rain_columns/figs/et_timeseries.png
  experiments/blog/rain_columns/figs/hovmoller.png
  experiments/blog/rain_columns/figs/rain_columns.gif
  experiments/blog/rain_columns/figs/rain_columns.mp4
  experiments/blog/rain_columns/plot_results.jl
  experiments/blog/rain_columns/rain_experiment.jl
  experiments/blog/rain_columns/snippet.jl
  experiments/blog/rain_columns/where_does_the_rain_go.png
Due: none

Blog draft: animation shows the fate of the storm water as bars
  experiments/blog/rain_columns/README.md
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/rain_columns.gif
  experiments/blog/rain_columns/figs/rain_columns.mp4
  experiments/blog/rain_columns/plot_results.jl
Due: none

Blog draft: fix animation label hopping, add legend, rain reaches the ground
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/rain_columns.gif
  experiments/blog/rain_columns/figs/rain_columns.mp4
  experiments/blog/rain_columns/plot_results.jl
Due: none

CompatHelper: bump compat for ClimaTimeSteppers to 1, (keep existing compat)
  Project.toml
Due: none

wip [skip ci]
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/soil.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/integrated/conservation.jl
  test/runtests.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/conservation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

fix resid flux and change params [ skip ci]
  experiments/integrated/performance/conservation.jl
  src/integrated/land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Climate-responsive optimal-LAI inputs: online f0, VPD_gs, GSL and C3/C4
  AGENTS.md
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/standalone/Soil/water_conservation.jl
  experiments/standalone/Soil/water_energy_conservation.jl
  src/integrated/land.jl
  test/runtests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

correct J+over_Jmax limit for pmodel and fif bug in SIF
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix comment
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Remove deprecated name usage
  src/ClimaLand.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

update NEWS
  NEWS.md
Due: none

correct J+over_Jmax limit for pmodel and fix bug in SIF (#1877)
  NEWS.md
  src/standalone/Vegetation/solar_induced_fluorescence.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update to ClimaTimeSteppers v1
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

remove unnecessary recursive apply usage
  src/shared_utilities/time_integrated_variables.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  test/shared_utilities/time_integrated_variables.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Write boxplot RMSEs to CSV alongside the figure
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

Also export global bias alongside RMSE
  .buildkite/longruns_gpu/pipeline.yml
  NEWS.md
  ext/land_sim_vis/leaderboard/leaderboard.jl
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

add river model [skip ci]
  Project.toml
  src/standalone/Rivers/Rivers.jl
Due: none

Remove deprecated name usage
  src/ClimaLand.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/models.jl
  src/shared_utilities/time_integrated_variables.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  test/shared_utilities/time_integrated_variables.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Blog draft: four columns, drop the Hovmöller figure, show the no-storm runs
  experiments/blog/rain_columns/README.md
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/budget.png
  experiments/blog/rain_columns/figs/et_timeseries.png
  experiments/blog/rain_columns/figs/hovmoller.png
  experiments/blog/rain_columns/figs/rain_columns.gif
  experiments/blog/rain_columns/figs/rain_columns.mp4
  experiments/blog/rain_columns/plot_results.jl
  experiments/blog/rain_columns/rain_experiment.jl
Due: none

Blog draft: all four columns in the water-returned-to-the-air panel
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/et_timeseries.png
  experiments/blog/rain_columns/plot_results.jl
Due: none

Blog draft: ET panel shows the storm's water only (storm minus control)
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
  experiments/blog/rain_columns/figs/et_timeseries.png
  experiments/blog/rain_columns/plot_results.jl
Due: none

Blog draft: retitle to "Where does the rain go? One storm on four soils with ClimaLand.jl"
  experiments/blog/rain_columns/README.md
  experiments/blog/rain_columns/blog.html
  experiments/blog/rain_columns/blog.md
Due: none

Store canopy composition from the C3/C4 competition
  NEWS.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Release v1.12.2, update compat to ClimaCore v1
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Restore issubspace methods dropped in ClimaCore 1.0.0
  src/ClimaLand.jl
  src/shared_utilities/climacore_compat.jl
  test/aqua.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
