Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Fix FLUXNET initial conditions, soil liquid water update, and soil flux diagnostics
  NEWS.md
  ext/fluxnet_simulations/US-Ha1.jl
  ext/fluxnet_simulations/US-MOz.jl
  ext/fluxnet_simulations/US-NR1.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/default_diagnostics.jl
  src/standalone/Soil/energy_hydrology.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/fluxnet_sim.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Set canopy displacement height coefficient canopy_d_coeff to 0.67
  NEWS.md
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Use plant area index (LAI + SAI) for canopy radiation and heat exchange and scale Farquhar capacities
  NEWS.md
  docs/src/APIs/canopy/Photosynthesis.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  src/shared_utilities/show_methods.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/standalone/Vegetation/conservation.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix surface flux audit findings
  AGENTS.md
  NEWS.md
  docs/src/APIs/soil/Soil.md
  src/diagnostics/define_diagnostics.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/utils.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add screen-level diagnostics t2m, q2m, and u10m
  NEWS.md
  docs/src/APIs/Drivers.md
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/screen_level.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/drivers.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Evaluate ground fluxes below a canopy at a sub-canopy reference height coupled to the canopy air
  NEWS.md
  docs/src/APIs/canopy/Canopy.md
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/runtests.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add convective gustiness to land surface fluxes
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/src/APIs/Drivers.md
  experiments/standalone/Bucket/global_bucket_function.jl
  experiments/standalone/Bucket/global_bucket_temporalmap.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/forcing.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/shared_utilities/show_methods.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/shared_utilities/drivers.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Apply P-model moisture stress instantaneously and use field capacity in PiecewiseMoistureStressModel
  NEWS.md
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/standalone/Soil/retention_models.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/soil_moisture_stress.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
  test/standalone/Vegetation/test_soil_moisture_stress.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Adopt SurfaceFluxes 1.5: surface state at the displacement height
  NEWS.md
  Project.toml
  docs/src/APIs/Drivers.md
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/screen_level.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/shared_utilities/drivers.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Adopt SurfaceFluxes 1.5 helpers and fix physical/GPU consistency
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  docs/src/APIs/Drivers.md
  docs/src/APIs/canopy/Canopy.md
  docs/src/APIs/soil/Soil.md
  ext/fluxnet_simulations/forcing.jl
  src/integrated/land.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/screen_level.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  test/shared_utilities/drivers.jl
  test/standalone/Bucket/albedo_types.jl
  test/standalone/Bucket/soil_bucket_tests.jl
  test/standalone/Vegetation/test_canopy_helpers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
