Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

gitignore update
  .gitignore
Due: none

summer run with bug fix
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  src/Artifacts.jl
Due: none

whole year run with bug fix correct path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  src/Artifacts.jl
Due: none

fix typos in docs
  docs/src/calibration.md
  docs/src/getting_started.md
  docs/src/repo_structure.md
  docs/src/restarts.md
Due: none

sco2 ppm diagnostic, unstability fix attempt
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

update path
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  src/Artifacts.jl
Due: none

add sco2_ppm to output parameter
  experiments/integrated/fluxnet/NEON_cper_pft.jl
Due: none

no nans for Ha!
  experiments/integrated/fluxnet/run_fluxnet.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  test/diagnostics/diagnostics_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  src/ClimaLand.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
Due: none

no divide by 0 or eps(0) when saturated soil
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

host ilamb dashboard on VM
  .buildkite/longruns_gpu/pipeline.yml
Due: none

updated parameters
  experiments/calibration/PBS_calibration.pbs
  experiments/calibration/run_calibration.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/radiation.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

lower temperature sensitivity
  .buildkite/longruns_gpu/pipeline.yml
  toml/default_parameters.toml
Due: none

return volumetric liquid content instead of augmented liquid water
  src/diagnostics/land_compute_methods.jl
Due: none

keep Y for one diagnostic
  src/diagnostics/land_compute_methods.jl
Due: none

host ilamb dashboard on VM (#1615)
  .buildkite/longruns_gpu/pipeline.yml
Due: none

return volumetric liquid content instead of augmented liquid water (#1616)
  src/diagnostics/land_compute_methods.jl
Due: none

Add Surface Temperature Model type, and tests
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/src/APIs/Snow.md
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Make model to not use site parameter default values but get them from the global datasets
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
Due: none

calibrate NEON
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-cper.jl
  src/Artifacts.jl
Due: none

update insolation to 1.1
  .buildkite/Manifest-v1.11.toml
  Project.toml
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/shared_utilities/drivers.jl
  test/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

rename
  docs/src/APIs/Drivers.md
  docs/src/standalone/apps/leaf_an.jl
  docs/src/standalone/apps/leaf_an_ci.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/shared_utilities/driver_tutorial.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Snow/process_snowmip.jl
  ext/fluxnet_simulations/forcing.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Vegetation/radiation.jl
  test/shared_utilities/drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

format and news [skip ci]
  NEWS.md
  experiments/integrated/performance/conservation/ozark_conservation.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update remaining Manifests
  .buildkite/Manifest.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

update insolation to 1.1 (#1617)
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
  docs/src/APIs/Drivers.md
  docs/src/standalone/apps/leaf_an.jl
  docs/src/standalone/apps/leaf_an_ci.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/shared_utilities/driver_tutorial.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Snow/process_snowmip.jl
  ext/fluxnet_simulations/forcing.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Vegetation/radiation.jl
  test/shared_utilities/drivers.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/conservation.jl
  test/standalone/Vegetation/plant_hydraulics_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Implement crujra forcing in drivers and artifacts
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add crujra forcing path functions to artifacts
  Artifacts.toml
  src/Artifacts.jl
Due: none

release 1.5.0 and update tomls
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

release 1.5.0 and update tomls (#1619)
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
  docs/Project.toml
Due: none

add compat to root solvers
  Project.toml
Due: none

chore: changes the CLA action trigger to pull_request_target
  .github/workflows/cla.yml
Due: none

add compat to root solvers (#1620)
  Project.toml
Due: none

Widen RootSolvers compat
  .buildkite/Manifest-v1.11.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.11.toml
  docs/Manifest.toml
Due: none

update crujra artifact path
  src/Artifacts.jl
Due: none

fix time interpolation, and cleans data of NaNs before processing
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
