Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

run buildkite on julia 1.12
  .buildkite/calibration/pipeline.yml
  .buildkite/longruns_gpu/pipeline.yml
  .buildkite/pipeline.yml
  .buildkite/target/pipeline.yml
Due: none

test float-clamping to see if sinh() is the longrun error source
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/NeuralSnow.jl
Due: none

add option to run uncalibrated
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Update snowy_land_pmodel.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

review and format
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

change CairoMakie compat
  Project.toml
Due: none

uncalibrated toml (#1658)
  experiments/long_runs/snowy_land_pmodel.jl
  toml/uncalibrated_parameters.toml
Due: none

change CairoMakie compat (#1657)
  Project.toml
Due: none

time constraints updated
  docs/src/tutorials/calibration/perfect_model_site_level_calibration.jl
  docs/src/tutorials/integrated/changing_snowy_land_parameterizations.jl
  docs/src/tutorials/integrated/fluxnet_data.jl
  docs/src/tutorials/integrated/snowy_land_fluxnet_tutorial.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/fluxnet/run_any_fluxnet.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
Due: none

added a test for a fluxnet site hosted on central
  .buildkite/pipeline.yml
Due: none

i had a typo :(
  .buildkite/pipeline.yml
Due: none

retry aggressive clamping
  ext/constrained_nn/ConstrainedNeuralModels.jl
Due: none

remove complex canopy radiation formula to only check NaNs from clamped network
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/NeuralSnow.jl
Due: none

add vcmax25 to canopy model shortdiags
  src/diagnostics/default_diagnostics.jl
Due: none

Fix SOC conversion for ILAMB: integrate over soil depth
  experiments/ilamb/ilamb_conversion.jl
Due: none

do just albedo model alone, clamped, shortened run
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  ext/constrained_nn/NeuralSnow.jl
  test/standalone/Snow/tool_tests.jl
Due: none

wip [skip ci]
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

try albedo network alone, no clipping, added initial conditions
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/NeuralSnow.jl
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
  test/standalone/Snow/tool_tests.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

[skip ci] config for depth model only
  experiments/long_runs/snowy_land_pmodel.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

run config for neural depth model alone, also make sure tests pass with new changes
  experiments/standalone/Snow/snowmip_simulation.jl
Due: none

fix setup
  experiments/calibrate_dk_sor/model_interface.jl
  experiments/calibrate_dk_sor/prior_mean_parameters.toml
  experiments/calibrate_dk_sor/run_calibration.jl
  experiments/calibrate_dk_sor/run_prior_mean.jl
Due: none

ready to calibrate
  src/standalone/Soil/energy_hydrology.jl
  test/standalone/Soil/climate_drivers.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update Thermodynamics usage
  Project.toml
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  test/shared_utilities/drivers.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add G diagnostic, soil albedo scale factor, and evaluation scripts
  experiments/ilamb/ilamb_conversion.jl
  experiments/long_runs/compare_rmse.jl
  experiments/long_runs/run_eval_comparison.sh
  experiments/long_runs/snowy_land_pmodel.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/soil_albedo.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Correction to specific_humidity_from_dewpoint
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fromatting
  src/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added NEON calibration
  experiments/integrated/fluxnet/calibrate_sco2_NEON_pmodel_SOCprofil.jl
Due: none

updated sites
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/calibrate_sco2_NEON_pmodel_SOCprofil_4param.jl
  ext/FluxnetSimulationsExt.jl
Due: none

added NEON sites, adapt csv climate forcing path
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-srer.jl
  ext/fluxnet_simulations/NEON-ster.jl
  src/Artifacts.jl
Due: none

Update TD compat
  Project.toml
Due: none

added calibrations folder for NEON
  experiments/calibrate_neon/generate_observations.jl
  experiments/calibrate_neon/model_interface.jl
  experiments/calibrate_neon/plot_eki_diagnostics.jl
  experiments/calibrate_neon/prior_mean_parameters.toml
  experiments/calibrate_neon/run_calibration.jl
  experiments/calibrate_neon/run_prior_mean.jl
  experiments/calibrate_neon/slurm_calibration.sh
Due: none

Update Thermodynamics usage (#1664)
  Project.toml
  src/shared_utilities/drivers.jl
  src/shared_utilities/perturbed_drivers.jl
  test/shared_utilities/drivers.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Calibrate NEON soil co2
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
  experiments/integrated/fluxnet/ozark_pft.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-cper.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/diagnostics/diagnostics_tests.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

change prior
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

use site meteorology
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

wip [skip ci]
  experiments/integrated/fluxnet/calibrate_dk_sor.jl
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

local changes
  experiments/integrated/fluxnet/run_dk_sor_default.jl
  ext/fluxnet_simulations/forcing.jl
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
