Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Dependabot updates
  .github/workflows/DocCleanup.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/downgrade.yml
  .github/workflows/downstream.yml
Due: none

Qt6Base_jll to 6.10.2+2
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Update to ClimaCalibrate v0.3
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  docs/src/calibration.md
  experiments/calibration/api.jl
  experiments/calibration/configs/energy_fluxes.jl
  experiments/calibration/configs/gpp.jl
  experiments/calibration/configs/gpp_lhf.jl
  experiments/calibration/configs/test.jl
  experiments/calibration/generate_observations.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/models/bucket.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/observation_map.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/test/test_calibration.jl
Due: none

Replace eps(FT) with floatmin
  src/integrated/land_radiation.jl
  src/integrated/pond_soil_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/utils.jl
  src/simulations/initial_conditions.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/InlandWater/lake_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_albedo.jl
  src/standalone/Soil/soil_heat_parameterizations.jl
  src/standalone/Soil/soil_hydrology_parameterizations.jl
  src/standalone/Soil/spatially_varying_parameters.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/canopy_parameterizations.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/photosynthesis.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/stomatalconductance.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

remove allocation and clipping of Y
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

remove allocation and clipping of Y (#1748)
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

Squashed 'docs/dev-guides/' content from commit 1b8400047
  AGENTS.md
  LICENSE
  README.md
  architecture/architectural_boundaries.md
  architecture/cross_repo_contracts.md
  architecture/dependency_management.md
  architecture/ecosystem_conventions.md
  architecture/repo_structure.md
  code-quality/changelogs_and_versions.md
  code-quality/code_style.md
  code-quality/documentation_policy.md
  code-quality/software_design_patterns.md
  code-quality/variable_list.md
  infrastructure/clima_comms.md
  infrastructure/testing_and_validation.md
  performance/ad_compatibility.md
  performance/allocation_debugging.md
  performance/gpu_performance.md
  performance/numerical_robustness.md
  performance/type_stability.md
  templates/AGENTS.md.template
  templates/repo_specific_guide.md.template
  templates/update_dev_guides.yml.template
  workflow/agent_autonomy.md
  workflow/ci_triage.md
  workflow/debugging.md
  workflow/onboarding.md
  workflow/review.md
Due: none

Local AGENTS update
  AGENTS.md
Due: none

Bump Adapt compat
  Project.toml
Due: none

Local AGENTS autonomy update
  AGENTS.md
Due: none

Add developer guides (#1749)
  AGENTS.md
  Project.toml
  docs/dev-guides/AGENTS.md
  docs/dev-guides/LICENSE
  docs/dev-guides/README.md
  docs/dev-guides/architecture/architectural_boundaries.md
  docs/dev-guides/architecture/cross_repo_contracts.md
  docs/dev-guides/architecture/dependency_management.md
  docs/dev-guides/architecture/ecosystem_conventions.md
  docs/dev-guides/architecture/repo_structure.md
  docs/dev-guides/code-quality/changelogs_and_versions.md
  docs/dev-guides/code-quality/code_style.md
  docs/dev-guides/code-quality/documentation_policy.md
  docs/dev-guides/code-quality/software_design_patterns.md
  docs/dev-guides/code-quality/variable_list.md
  docs/dev-guides/infrastructure/clima_comms.md
  docs/dev-guides/infrastructure/testing_and_validation.md
  docs/dev-guides/performance/ad_compatibility.md
  docs/dev-guides/performance/allocation_debugging.md
  docs/dev-guides/performance/gpu_performance.md
  docs/dev-guides/performance/numerical_robustness.md
  docs/dev-guides/performance/type_stability.md
  docs/dev-guides/templates/AGENTS.md.template
  docs/dev-guides/templates/repo_specific_guide.md.template
  docs/dev-guides/templates/update_dev_guides.yml.template
  docs/dev-guides/workflow/agent_autonomy.md
  docs/dev-guides/workflow/ci_triage.md
  docs/dev-guides/workflow/debugging.md
  docs/dev-guides/workflow/onboarding.md
  docs/dev-guides/workflow/review.md
Due: none

(0.8.2) tag patch release + up deps
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

refactor: replace CTS.DistributedODEAlgorithm with TimeSteppingAlgorithm
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

try removing some limits
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: none

Remove floor test
  test/runtests.jl
Due: none

Add implicit stepping to biogeochemistry
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add HR output to fluxnet run, fix bug
  experiments/integrated/fluxnet/run_fluxnet.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  test/standalone/Soil/Biogeochemistry/o2_tendency_floor.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

runs locally at desert site without issues
  experiments/integrated/era5/single_site.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Bump patch release
  NEWS.md
  Project.toml
Due: none

Update flaky Github actions references
  .github/workflows/docs.yml
  .github/workflows/downgrade.yml
Due: none

remove references to O2_f
  docs/src/standalone/apps/hetero_resp.jl
  experiments/integrated/performance/integrated_timestep_test.jl
  experiments/standalone/Biogeochemistry/experiment.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/define_diagnostics.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  test/integrated/full_land.jl
  test/integrated/soil_energy_hydrology_biogeochemistry.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  test/standalone/Soil/Biogeochemistry/saturation_stability_test.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove kernel launches by not caching air_eq, theta_a
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: none

fix diagnostic
  src/diagnostics/land_compute_methods.jl
Due: none

make BC extra variables more flexible, derivative of BC flexible
  src/diagnostics/land_compute_methods.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  test/standalone/Soil/Biogeochemistry/saturation_stability_test.jl
Due: none

review kd/implicit_co2
  docs/src/standalone/Project.toml
  docs/src/standalone/README.md
  docs/src/standalone/apps.jl
  docs/src/standalone/apps/beer.jl
  docs/src/standalone/apps/hetero_resp.jl
  docs/src/standalone/apps/leaf_an.jl
  docs/src/standalone/apps/leaf_an_ci.jl
  ext/fluxnet_simulations/initial_conditions.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fixes to work with ClimaCore 0.14.52
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/integrated/full_land.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Update manifests
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Refactor data sources for leaderboard
  .buildkite/Project.toml
  Project.toml
  docs/src/calibration.md
  docs/src/leaderboard/leaderboard.md
  experiments/calibration/generate_observations.jl
  experiments/calibration/observation_map.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
Due: none

increase time step, fewer diagnostics
  experiments/benchmarks/snowy_land.jl
  experiments/benchmarks/soil.jl
  experiments/calibration/models/snowy_land.jl
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/long_runs/soil.jl
  src/diagnostics/default_diagnostics.jl
Due: none

update news
  NEWS.md
Due: none

trigger benchmarks
  NEWS.md
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
