Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

fix script [skip ci]
  experiments/integrated/era5/single_site.jl
Due: none

Fix C4 dryness sensitivity typo in compute_chi
  NEWS.md
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

prevent ci -> ca [skip ci]
  src/standalone/Vegetation/pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip [skip ci]
  experiments/integrated/era5/single_site.jl
  src/diagnostics/default_diagnostics.jl
Due: none

Update default_parameters.toml
  toml/default_parameters.toml
Due: none

Update uncalibrated_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

Update define_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
Due: none

use ts branch, merge gs fix [skip ci]
  .buildkite/Manifest-v1.12.toml
  experiments/integrated/era5/single_site.jl
Due: none

kd_p2 parameter update, and SIF unit change. (#1812)
  src/diagnostics/define_diagnostics.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: none

adjust params [skip ci]
  toml/default_parameters.toml
Due: none

clm style roughness [skip ci]
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update Canopy.jl [skip ci]
  src/standalone/Vegetation/Canopy.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update Manifest and add docs
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix test
  test/shared_utilities/coupled_fluxes.jl
Due: none

Update pmodel.jl syntax
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix NaN in P-model ci when ξ = 0
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

prevent ci -> ca and update packages (#1811)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
  src/standalone/Vegetation/pmodel.jl
  test/shared_utilities/coupled_fluxes.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Release v1.10.3
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

Release v1.10.3 (#1814)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  NEWS.md
  Project.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

add configs
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/CPER_allYear.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4_indivPrior.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4_indivPrior.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4_indivPrior_rerun.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4_indivPrior_rerun_2.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4_indivPrior.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4_indivPrior_rerun.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4_indivPrior_sel.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4_spinup364_no2018.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4_spinup364_no2018_2.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4_spinup364_no2018_2019.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4_indivPrior.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4_indivPrior_rerun.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_prerollspinup364_p1from3_sel.toml
Due: none

use median over 5 obervations instead of mean
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Observation_flag_median.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Pipeline.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ResultsTable.jl
Due: none

snow surface temp parameterization speedup [skip ci]
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

update manifest to test global run [skip ci]
  .buildkite/Manifest-v1.12.toml
Due: none

Add Base.show/summary for AbstractDomain to fix unreadable REPL output
  src/shared_utilities/Domains.jl
  test/shared_utilities/domains.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add Base.show/summary for PrescribedAtmosphere/PrescribedRadiativeFluxes
  src/shared_utilities/drivers.jl
  test/shared_utilities/drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add Base.show/summary for AbstractModel and LandModel
  src/integrated/land.jl
  src/shared_utilities/models.jl
  test/integrated/full_land.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Add Base.show for boundary conditions, runoff, and component parameters
  src/shared_utilities/Parameters.jl
  src/shared_utilities/boundary_conditions.jl
  src/shared_utilities/models.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/component_models.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Make domain/driver/model show methods denser and more informative
  src/integrated/land.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/models.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Move Base.show/summary methods into a single show_methods.jl file
  src/ClimaLand.jl
  src/integrated/land.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/Parameters.jl
  src/shared_utilities/boundary_conditions.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/models.jl
  src/shared_utilities/show_methods.jl
  src/standalone/Bucket/Bucket.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/Vegetation/component_models.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

adapt configs
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4_1.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4_2.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4_3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4.toml
Due: none

use site specific retention_parameters
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/src/model_interface_wLabile.jl
  experiments/calibrate_neon_pipeline_minibatch/pipeline/ForwardRun.jl
Due: none

parameter changes [skip ci]
  experiments/integrated/era5/single_site.jl
  ext/land_sim_vis/plotting_utils.jl
  toml/default_parameters.toml
Due: none

tmp
  NEWS.md
Due: none

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
