Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

benchmarks: Write the timings to a file (#1889)
  experiments/benchmarks/README.md
  experiments/benchmarks/benchmark_utils.jl
Due: none

clean up [skip ci]
  src/integrated/soil_canopy_root_interactions.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/full_land.jl
  test/shared_utilities/coupled_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update deps for ClimaCore v1.0.1
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  docs/Manifest-v1.12.toml
  docs/Manifest.toml
Due: none

CC method [skip ci]
  src/shared_utilities/implicit_timestepping.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Climate-responsive optimal-LAI inputs: online f0, VPD_gs, GSL and C3/C4
  AGENTS.md
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Store canopy composition from the C3/C4 competition
  NEWS.md
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  test/standalone/Vegetation/test_optimal_lai.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update docs; fix harmonic mean bug
  .buildkite/longruns_gpu/pipeline.yml
  docs/src/standalone/pages/vegetation/plant_hydraulics/prognostic.md
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_turbulent_fluxes.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

add unit test [skip ci]
  test/standalone/Vegetation/canopy_model.jl
Due: none

Remove residual melting flux
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use NaN-aware regridding in postprocessing
  NEWS.md
  docs/src/leaderboard/leaderboard.md
  experiments/calibration/generate_observations.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
  ext/land_sim_vis/leaderboard/partitioning.jl
  ext/land_sim_vis/leaderboard/rmse_boxplots.jl
Due: none

Fix typo in NEWS
  NEWS.md
Due: none

Move the C3 fraction into the biomass model
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/diagnostics/Diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Solve for soil skin temperature with half-cell and litter thermal resistance
  NEWS.md
  experiments/integrated/fluxnet/vaira_paper.jl
  ext/fluxnet_simulations/US-Var.jl
  src/integrated/land.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Include porous-media tortuosity factor in soil_conductance
  NEWS.md
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Wire soil skin temperature solve into SoilCanopyModel and SoilSnowModel
  NEWS.md
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
Due: none

Solve for soil skin temperature with half-cell and litter thermal resistance
  NEWS.md
  src/integrated/land.jl
  src/standalone/Soil/Soil.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Soil evaporation (SL14 DSL, adsorption guard) and CLM5-style under-canopy exchange
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/undercanopy_conductance.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Soil/soiltest.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Apply P-model moisture stress instantaneously instead of via acclimation
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Shut off soil vapor conductance smoothly at residual saturation and use θ_l in implicit aux
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Add CLM5-style canopy interception of rain and wet-canopy evaporation (opt-in)
  src/diagnostics/land_compute_methods.jl
  src/integrated/lake_land_interactions.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/interception.jl
  src/standalone/Vegetation/plant_hydraulics.jl
  test/runtests.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_interception.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Limit the stable Monin-Obukhov stability parameter (CLM zetamaxstable)
  src/shared_utilities/Parameters.jl
  test/runtests.jl
  test/shared_utilities/stable_limited_universal_functions.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Enable CLM5 canopy interception by default in LandModel and guard low-PAI canopies
  src/integrated/land.jl
  src/standalone/Vegetation/interception.jl
  test/standalone/Vegetation/test_interception.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix off-diagonal soil Jacobian block ∂(ρe_int residual)/∂ϑ_l
  src/standalone/Soil/energy_hydrology.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Use the Tuzet leaf-water-potential moisture stress by default in LandModel and SoilCanopyModel
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Use plant area index (LAI + SAI) for canopy radiation and heat exchange
  docs/src/APIs/canopy/RadiativeTransfer.md
  src/integrated/undercanopy_conductance.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  test/standalone/Vegetation/conservation.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Solve snow surface temperature before snow-soil ground heat flux in SoilSnowModel
  src/integrated/soil_snow_model.jl
Due: none

Add surface flux investigation notes
  investigation_notes.md
Due: none

Add an ERA5-forced single column tutorial
  NEWS.md
  docs/list_tutorials.jl
  docs/src/tutorials/integrated/snowy_land_era5_tutorial.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

Add an ERA5-forced single column tutorial (#1885)
  NEWS.md
  docs/list_tutorials.jl
  docs/src/tutorials/integrated/snowy_land_era5_tutorial.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  test/diagnostics/diagnostics_tests.jl
Due: none

Climate-responsive optimal-LAI inputs: online f0, VPD_gs, GSL and C3/C4
  AGENTS.md
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/restart.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Climate-responsive optimal-LAI inputs: online f0, VPD_gs, GSL and C3/C4 (#1831)
  AGENTS.md
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/implicit_timestepping.jl
  src/simulations/initial_conditions.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/photosynthesis_farquhar.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/solar_induced_fluorescence.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/integrated/restart.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  test/standalone/Vegetation/test_pmodel.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix off-diagonal soil Jacobian block ∂(ρe_int residual)/∂ϑ_l
  src/standalone/Soil/energy_hydrology.jl
  test/shared_utilities/implicit_timestepping/energy_hydrology_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Include tortuosity in the dry-soil-layer vapor conductance
  NEWS.md
  docs/src/APIs/soil/Soil.md
  docs/src/refs.bib
  docs/src/standalone/pages/soil/physics/energy_model.md
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/soil_surface_temperature.jl
  test/standalone/Soil/climate_drivers.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Compare modeled soil temperature with FLUXNET observations at sensor depth
  NEWS.md
  experiments/integrated/fluxnet/run_fluxnet.jl
  experiments/integrated/fluxnet/vaira_paper.jl
  ext/LandSimulationVisualizationExt.jl
  ext/fluxnet_simulations/US-Var.jl
  ext/fluxnet_simulations/generic_site.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/diagnostic.jl
  src/ext/FluxnetSimulations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/fluxnet_sim.jl
Due: none
