Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*

Snow parameterizations helping permafrost (#1766)
  NEWS.md
  docs/src/APIs/ClimaLand.md
  docs/src/APIs/Snow.md
  experiments/benchmarks/snowy_land.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/diagnostics/diagnostics_tests.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs [skip ci]
  Project.toml
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix bugs
  100yearrun/create_artifacts.jl
Due: none

fixes
  .buildkite/longruns_gpu/pipeline.yml
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

now run 10 year run from new IC
  .buildkite/longruns_gpu/pipeline.yml
  100yearrun/create_artifacts.jl
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

developing spinup pipeline
  .buildkite/longruns_gpu/pipeline.yml
  .buildkite/longruns_gpu/spinup_pipeline.yml
  experiments/long_runs/spinup_model.jl
  src/simulations/Simulations.jl
  src/standalone/Soil/Soil.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

run long run now with spunup IC [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

wip [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Add snow bottom temp and thermal k parameterizations
  src/standalone/Snow/Snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

spinup again
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Update pipeline.yml [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Calibrated C + energy parameters
  AGENTS.md
  Artifacts.toml
  CLAUDE.md
  docs/src/APIs/canopy/AutotrophicRespiration.md
  docs/src/APIs/canopy/Biomass.md
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Calibrated C + energy parameters (#1767)
  AGENTS.md
  Artifacts.toml
  CLAUDE.md
  docs/src/APIs/canopy/AutotrophicRespiration.md
  docs/src/APIs/canopy/Biomass.md
  src/Artifacts.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/autotrophic_respiration.jl
  src/standalone/Vegetation/biomass.jl
  test/standalone/Vegetation/canopy_model.jl
  test/standalone/Vegetation/test_bigleaf_parameterizations.jl
  toml/default_parameters.toml
  toml/uncalibrated_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

try long run here
  .buildkite/longruns_gpu/pipeline.yml
Due: none

Apply JuliaFormatter to emulate.jl, sample.jl, test_ces_pipeline.jl
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
Due: none

Add CES emulate+sample pipeline (Steps 2 & 3 of UQ workflow)
  .buildkite/Manifest-v1.12.toml
  .buildkite/Project.toml
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
Due: none

Add CES site-level tutorials: perfect-model and obs-based UQ
  docs/Manifest-v1.12.toml
  docs/Project.toml
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Fix JuliaFormatter (repo config), Vcmax25 prior, and downgrade CI
  .github/workflows/downgrade.yml
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
Due: none

address review: physical Vcmax25 values, relax cost wording, fix summary
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

address review: fix obs tutorial noise_var/priors, fix plot draw order in perfect_model tutorial
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

address odunbar review: encoder_kwargs, noise_var, emulator validation, true PP check
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Fix review issues in CES tutorials
  NEWS.md
  docs/list_tutorials.jl
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Fix true_Vcmax25 to identifiable value in perfect-model CES tutorial
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Remove obs CES tutorial; clean up perfect-model CES formatting
  docs/list_tutorials.jl
  docs/src/tutorials/calibration/obs_site_level_ces.jl
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Fix JuliaFormatter and add CalibrateEmulateSample compat entries
  .buildkite/Project.toml
  docs/Project.toml
  experiments/calibration/emulate.jl
  experiments/calibration/sample.jl
  experiments/calibration/test/test_ces_pipeline.jl
Due: none

Apply suggestions from code review
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Fix get_ϕ API in obs tutorial prior sampling section
  docs/src/tutorials/calibration/obs_site_level_ces.jl
Due: none

Avoid append! ambiguity in get_component_diagnostics
  src/diagnostics/default_diagnostics.jl
Due: none

add ROSETTA IC, use Sturm, use Rosetta
  Artifacts.toml
  NEWS.md
  src/Artifacts.jl
  src/integrated/soil_canopy_model.jl
  src/simulations/Simulations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Soil.jl
  test/standalone/Snow/parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add ROSETTA IC, use Sturm, use Rosetta (#1772)
  Artifacts.toml
  NEWS.md
  src/Artifacts.jl
  src/integrated/soil_canopy_model.jl
  src/simulations/Simulations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Soil.jl
  test/standalone/Snow/parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

Distinguish between manual and scheduled ILAMB runs
  experiments/ilamb/ilamb_setup.jl
  experiments/ilamb/tests/test_ilamb_setup.jl
Due: none

mod pipe
  .buildkite/target/pipeline.yml
  experiments/benchmarks/benchmark_utils.jl
  src/ClimaLand.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/shared_utilities/models.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  src/standalone/SurfaceWater/Pond.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

wip [skip ci]
  .buildkite/pipeline.yml
  experiments/integrated/performance/conservation.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/long_runs/soil.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_root_interactions.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/implicit_timestepping.jl
  src/standalone/InlandWater/InlandWater.jl
  src/standalone/Soil/Runoff/Runoff.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Soil/rre.jl
  test/integrated/conservation.jl
  test/runtests.jl
  test/shared_utilities/implicit_timestepping/richards_model.jl
  test/standalone/Soil/conservation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

update NEWS
  NEWS.md
Due: none

less frequent nanchecks
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

address Ollie review: faster step-size tuning, offline posterior predictive
  .gitignore
  docs/src/tutorials/calibration/perfect_model_ces_predictive_offline.png
  docs/src/tutorials/calibration/perfect_model_site_level_ces.jl
Due: none

Bump Adapt compat lower bound to 4.7.0
  Project.toml
Due: none

Skip Adapt in downgrade check instead of bumping its bound
  .github/workflows/downgrade.yml
  Project.toml
Due: none
