Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

correct config years and add new fowrd configs
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part5_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part6_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_forwardOnlyRestart_part7_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part5_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part7_allyears.toml
Due: none

added new parameters in calibration_results.csv
  experiments/calibrate_neon_pipeline/config/allStation_part5_allyears.toml
  experiments/calibrate_neon_pipeline/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline/pipeline/ResultsTable.jl
Due: none

minor changes
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part6_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part7_allyears.toml
Due: none

adapt configs
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears_sel.toml
  experiments/calibrate_neon_pipeline/config/allStation_part2_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part5_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part6_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part7_allyears.toml
Due: none

correct Manifest, copy past from main
  .buildkite/Manifest-v1.12.toml
Due: none

snow surface temp parameterization speedup
  .buildkite/Manifest-v1.12.toml
  experiments/long_runs/snowy_land_pmodel.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

corrections to use rosetta in piecewisesoilmoisture, add configs
  .buildkite/.CondaPkg/.gitattributes
  .buildkite/.CondaPkg/.gitignore
  .buildkite/.CondaPkg/.pixi/config.toml
  .buildkite/.CondaPkg/meta
  .buildkite/.CondaPkg/pixi.lock
  .buildkite/.CondaPkg/pixi.toml
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon/generate_observations copy2.jl
  experiments/calibrate_neon/model_interface_wLabile.jl
  experiments/calibrate_neon_pipeline/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline/config/allStation_p3from4.toml
  experiments/calibrate_neon_pipeline/config/allStation_p4from4.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part1_allyears_sel.toml
  experiments/calibrate_neon_pipeline/config/allStation_part3_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part4_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part5_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part6_allyears.toml
  experiments/calibrate_neon_pipeline/config/allStation_part7_allyears.toml
  experiments/calibrate_neon_pipeline/pipeline/ForwardRun.jl
Due: none

Remove GHA tests on Windows
  .github/workflows/ci.yml
Due: none

remove SAI from energy tendency, LW_u, turbulent fluxes
  docs/src/standalone/pages/vegetation/canopy_energy/canopy_energy.md
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update NEWS
  NEWS.md
Due: none

c3 and c4 plants in parallel for evaporation
  src/diagnostics/land_compute_methods.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/stomatalconductance.jl
  test/standalone/Vegetation/test_pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

snow surface temp parameterization speedup
  experiments/standalone/Snow/snowmip_simulation.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip to calibrate energy fluxes [skip ci]
  experiments/calibration/configs/energy_fluxes.jl
  experiments/calibration/models/snowy_land.jl
Due: none

use new SF package [skip ci]
  .buildkite/Manifest-v1.12.toml
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

restore indexing [skip ci]
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

use Akshay's branch [skip ci]
  src/standalone/Snow/snow_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

fix update functions [skip ci]
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

add bucket fix [skip ci]
  src/standalone/Bucket/bucket_parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl

clean up [skip ci]
  src/integrated/soil_canopy_model.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

update parameters [skip ci]
  experiments/calibration/configs/energy_fluxes.jl
  experiments/calibration/run_calibration.sh
  src/Artifacts.jl
  toml/default_parameters.toml
Due: none

Update Artifacts.jl [skip ci]
  src/Artifacts.jl
Due: none

Update to ClimaTimeSteppers v0.10.3
  .buildkite/Manifest-v1.12.toml
  .buildkite/Manifest.toml
  .buildkite/Project.toml
  Project.toml
Due: none

add exponential decay snow model [skip ci]
  experiments/standalone/Snow/snowmip_simulation.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

pipeline with 3 depth calibration works
  experiments/calibrate_neon_pipeline/extract_porosity_profiles.jl
  experiments/calibrate_neon_pipeline_AllDepth/README.md
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p4from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/test_pipeline.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Config.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Diagnostics.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Observation_flag.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Pipeline.jl
  experiments/calibrate_neon_pipeline_AllDepth/run_pipeline.jl
  experiments/calibrate_neon_pipeline_AllDepth/src/model_interface_wLabile.jl
  experiments/calibrate_neon_pipeline_AllDepth/src/neon_depth_lookup.jl
Due: none

Calibrated optimal-LAI defaults, prognostic-LAI long run, carbon leaderboard
  .buildkite/longruns_gpu/pipeline.yml
  AGENTS.md
  NEWS.md
  experiments/long_runs/snowy_land_pmodel.jl
  ext/land_sim_vis/leaderboard/data_sources.jl
  ext/land_sim_vis/leaderboard/leaderboard.jl
  toml/default_parameters.toml
Due: none

wip
  .buildkite/Manifest-v1.12.toml
  Artifacts.toml
  fluxnet_sim.jl
Due: none

Copy of forward model
  .buildkite/Manifest-v1.12.toml
  fluxnet_sim.jl
Due: none

Work with new space
  compare_single_multi.jl
  fluxnet_sim.jl
  src/shared_utilities/Domains.jl
  src/shared_utilities/implicit_timestepping.jl
  src/shared_utilities/utils.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

remove SAI from energy tendency, LW_u, turbulent fluxes
  NEWS.md
  docs/src/standalone/pages/vegetation/canopy_energy/canopy_energy.md
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/standalone/Vegetation/conservation.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added csv output parameters
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_forwRestart_p1from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_forwRestart_p2from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_forwRestart_p3from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from4.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ResultsTable.jl
Due: none

snow changes and recalibrated [skip ci]
  .buildkite/Manifest-v1.12.toml
  NEWS.md
  experiments/calibration/configs/energy_fluxes_scf.jl
  experiments/calibration/model_interface.jl
  experiments/calibration/models/snowy_land.jl
  experiments/calibration/run_calibration.jl
  experiments/calibration/run_calibration.sh
  experiments/standalone/Snow/snowmip_simulation.jl
  src/Artifacts.jl
  src/integrated/land.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/standalone/Bucket/bucket_parameterizations.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/snow_parameterizations.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  test/standalone/Snow/parameterizations.jl
  test/standalone/Snow/snow.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

update Manifest and eraa5 path [skip ci]
  .buildkite/Manifest-v1.12.toml
  src/Artifacts.jl
Due: none

add neural models to snowy landy long run and output ET and swd [skip ci]
  experiments/long_runs/snowy_land_pmodel.jl
  src/diagnostics/default_diagnostics.jl
Due: none

switched to Gupta parameters
  .buildkite/Manifest-v1.12.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p2from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_AllDepth/src/model_interface_wLabile.jl
Due: none

implemented preroll_days to move startdate earlier
  experiments/calibrate_neon_pipeline_AllDepth/README.md
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p1from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_p3from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_prerollspinup364_p1from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_prerollspinup364_p1from3_sel.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_prerollspinup364_p2from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/config/allStation_prerollspinup364_p3from3.toml
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/Config.jl
  experiments/calibrate_neon_pipeline_AllDepth/pipeline/ForwardRun.jl
  experiments/calibrate_neon_pipeline_minibatch/config/allStation_prerollspinup364_p2from3.toml
  experiments/calibrate_neon_pipeline_minibatch/config/allStation_prerollspinup364_p3from3.toml
Due: none

Decouple ILAMB leaderboard from soil long run
  .buildkite/longruns_gpu/pipeline.yml
Due: none

wip [skip ci]
  .buildkite/longruns_gpu/pipeline.yml
  experiments/integrated/era5/single_site.jl
  experiments/long_runs/snowy_land_pmodel.jl
  ext/LandSimulationVisualizationExt.jl
  ext/land_sim_vis/plotting_utils.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/pmodel.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

limit ci
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
