Repository CliMA/ClimaLand.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl
  agents:
    slurm_mem: 8GB
    slurm_gpus: 1
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  artifact_paths:
  - bucket_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 24GB
    slurm_gpus: 1
  artifact_paths:
  - snowy_land_benchmark_gpu/*

julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl:
  command: julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl
  concurrency: 1
  concurrency_group: depot/climaland-perf-regression-tests
  agents:
    slurm_mem: 16GB
    slurm_gpus: 1
  artifact_paths:
  - soil_benchmark_gpu/*

Add carbon cycle metrics and vegetation biomass to ILAMB
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

temp mod lomngruns
  .buildkite/longruns_gpu/pipeline.yml
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Fix formatting and add robustness checks for cveg diagnostic
  src/diagnostics/land_compute_methods.jl
Due: none

Fix remaining formatting issues in land_compute_methods.jl
  src/diagnostics/land_compute_methods.jl
Due: none

set bucket ic
  NEWS.md
  experiments/long_runs/bucket.jl
  src/simulations/initial_conditions.jl
  test/shared_utilities/coupled_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

pmodel uses crujra
  experiments/long_runs/snowy_land_pmodel.jl
Due: none

Fix EnergyHydrology conservation diagnostics
  src/diagnostics/default_diagnostics.jl
Due: none

complete testing set
  ext/constrained_nn/ConstrainedNeuralModels.jl
  ext/constrained_nn/model_utilities.jl
  test/standalone/Snow/tool_tests.jl
Due: none

don't initialize cache in LandSimulation for coupled sims
  src/simulations/Simulations.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix: Make carbon cycle diagnostics conditional via land_components
  src/diagnostics/default_diagnostics.jl
Due: none

add set_subseasonal_initial_conditions
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

soil ic functions
  experiments/long_runs/bucket.jl
  src/simulations/initial_conditions.jl
  test/integrated/full_land.jl
  test/shared_utilities/coupled_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

added srer site, added generic NEON site run scripts
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_site_pmodel.jl
  experiments/integrated/fluxnet/calibrate_sco2_NEON_pmodel.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-srer.jl
  ext/fluxnet_simulations/NEON-ster.jl
  src/Artifacts.jl
Due: none

set bucket ic
  NEWS.md
  experiments/long_runs/bucket.jl
  src/simulations/initial_conditions.jl
  test/integrated/full_land.jl
  test/shared_utilities/coupled_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

new set ic methods (#1644)
  NEWS.md
  experiments/long_runs/bucket.jl
  src/simulations/initial_conditions.jl
  test/integrated/full_land.jl
  test/shared_utilities/coupled_fluxes.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Update src/diagnostics/land_compute_methods.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Refactor compute_vegetation_carbon! per code review
  src/diagnostics/land_compute_methods.jl
Due: none

add Diffusion to calibrate, one year spinup
  experiments/integrated/fluxnet/calibrate_sco2wDiff_NEON_pmodel.jl
  ext/fluxnet_simulations/data_processing.jl
Due: none

optimal lai in biomass
  .buildkite/longruns_gpu/pipeline.yml
  Artifacts.toml
  NEWS.md
  docs/list_of_apis.jl
  docs/list_standalone_models.jl
  docs/src/APIs/canopy/Biomass.md
  docs/src/APIs/canopy/LAI.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  src/Artifacts.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

wip
  experiments/long_runs/bucket.jl
  experiments/long_runs/snowy_land_pmodel.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  stuff.md
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Simplify vegetation carbon computation logic
  src/diagnostics/land_compute_methods.jl
Due: none

optimal lai in biomass (#1625)
  .buildkite/longruns_gpu/pipeline.yml
  Artifacts.toml
  NEWS.md
  docs/list_of_apis.jl
  docs/list_standalone_models.jl
  docs/src/APIs/canopy/Biomass.md
  docs/src/APIs/canopy/LAI.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  docs/src/refs.bib
  docs/src/standalone/pages/vegetation/canopy_structure/optimal_lai.md
  experiments/integrated/fluxnet/ozark_pmodel.jl
  experiments/integrated/global/global_soil_canopy_pmodel.jl
  src/Artifacts.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/standalone/Vegetation/Canopy.jl
  src/standalone/Vegetation/biomass.jl
  src/standalone/Vegetation/optimal_lai.jl
  src/standalone/Vegetation/pmodel.jl
  src/standalone/Vegetation/radiation.jl
  src/standalone/Vegetation/spatially_varying_parameters.jl
  test/standalone/Vegetation/test_optimal_lai.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Fix ILAMB variable mappings for runoff and permafrost
  experiments/ilamb/ilamb_conversion.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
Due: none

Maybe work with pmodel
  src/standalone/Vegetation/pmodel.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Apply JuliaFormatter formatting
  experiments/ilamb/ilamb_conversion.jl
Due: none

explicit and implicit radiation fluxes labeled
  docs/src/APIs/Drivers.md
  docs/src/APIs/canopy/RadiativeTransfer.md
  experiments/integrated/fluxnet/ozark_soilsnow.jl
  experiments/integrated/performance/conservation/ozark_conservation.jl
  experiments/standalone/Snow/snowmip_simulation.jl
  src/ClimaLand.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/land.jl
  src/integrated/land_radiation.jl
  src/integrated/soil_canopy_model.jl
  src/integrated/soil_snow_model.jl
  src/shared_utilities/drivers.jl
  src/standalone/Snow/Snow.jl
  src/standalone/Snow/boundary_fluxes.jl
  src/standalone/Soil/boundary_conditions.jl
  src/standalone/Soil/energy_hydrology.jl
  src/standalone/Vegetation/canopy_boundary_fluxes.jl
  src/standalone/Vegetation/canopy_energy.jl
  src/standalone/Vegetation/radiation.jl
  test/integrated/soil_snow.jl
  test/standalone/Snow/snow.jl
  test/standalone/Soil/climate_drivers.jl
  test/standalone/Vegetation/canopy_model.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl, julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl

improved calibration scripts
  .buildkite/Manifest-v1.11.toml
  experiments/integrated/fluxnet/NEON_site_pmodel.jl
  experiments/integrated/fluxnet/calibrate_sco2wDiff_NEON_pmodel.jl
  ext/fluxnet_simulations/data_processing.jl
  src/Artifacts.jl
Due: none

fixed dataframe issue in new tutorial
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
  docs/src/tutorials/standalone/Snow/tutorial_tools.jl
Due: none

bump hashes optimal lai inputs
  Artifacts.toml
Due: none

Calibrate NEON soil co2
  experiments/integrated/fluxnet/NEON_cper_pft.jl
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
  experiments/integrated/fluxnet/run_fluxnet.jl
  ext/FluxnetSimulationsExt.jl
  ext/fluxnet_simulations/NEON-cper.jl
  src/Artifacts.jl
  src/ClimaLand.jl
  src/diagnostics/default_diagnostics.jl
  src/diagnostics/define_diagnostics.jl
  src/diagnostics/land_compute_methods.jl
  src/integrated/soil_energy_hydrology_biogeochemistry.jl
  src/simulations/initial_conditions.jl
  src/standalone/Soil/Biogeochemistry/Biogeochemistry.jl
  src/standalone/Soil/Biogeochemistry/co2_parameterizations.jl
  test/diagnostics/diagnostics_tests.jl
  test/standalone/Soil/Biogeochemistry/biogeochemistry_module.jl
  toml/default_parameters.toml
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

change prior
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

use site meteorology
  experiments/integrated/fluxnet/calibrate_sco2_cper.jl
Due: none

wip
  ext/fluxnet_simulations/initial_conditions.jl
  src/Artifacts.jl
Due: none

bump hashes optimal lai inputs (#1649)
  Artifacts.toml
Due: none

try to render tutorial table differently
  docs/src/tutorials/standalone/Snow/base_tutorial.jl
Due: none

don't initialize cache for coupled sims; add wxquest ICs
  docs/src/APIs/Simulations.md
  src/simulations/Simulations.jl
  src/simulations/initial_conditions.jl
Due: julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl, julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl

Path conditions:
  julia --color=yes --project=.buildkite experiments/benchmarks/bucket.jl: any of: src/standalone/Bucket/*, src/simulations/*, src/shared_utilities/*
  julia --color=yes --project=.buildkite experiments/benchmarks/snowy_land.jl: any of: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
  julia --color=yes --project=.buildkite experiments/benchmarks/soil.jl: any of: src/standalone/Soil/*, but not: src/standalone/Vegetation/*, src/standalone/Snow/*, src/simulations/*, src/shared_utilities/*, src/integrated/land*
